.collapser
	border 1px solid red
	.box_expandible
		&.open
			.box_content
				max-height 1000px !important
				transition max-height 2s ease-out !important
	
	.box_title
		cursor pointer	
	.box_content
		max-height 0
		height auto
		overflow hidden
		transition max-height .2s ease-in