.option_car
	margin-bottom 35px
	.vehicles_category
		margin-bottom 18px
		width 100%
		+mobile()
			width 99.9% !important
		li
			display inline-block
			width 12.5%
			padding 0
			text-align center
			+tablet()
				width 25%
				margin-bottom 8px
			+mobile()
				width 30%
				margin-bottom 8px
			+between(280px, 461px)
				width 45%
	.cars_by_brand
		width 20%
		a
			height 15px
	.cars_by_brand_and_model
		width 25%
		+mobile()
			width 48% !important
		a
			height 15px	
	.vehicles_year
		width 15%
		a
			height 15px
	.last
		width auto !important
	.vehicle_price
		width 26.8%
		a
			height 15px

.options_alphabet
	min-height 37px !important
	+tablet()
		margin 0 !important
	+mobile()
		min-height 60px !important
		margin 0 !important
		margin-bottom 0px !important
	+between(280px, 373px)
		min-height 78px !important
	.letter
		font-size 17px
		letter-spacing normal
		color #292929
		float left
		display block
		width 2.7%
		min-width 19px
		text-align center
		cursor pointer
		&:hover
			color #f3921f
	span
		font-size 17px
		letter-spacing normal
		float left
		min-width 5px
	.active
		color #f3921f