extends ../../../../../layouts/scripts/modules/anunciante/layout.jade


block content

    .center_box
        .control_box
            label 
            .control_switch
                <?php echo $this->form->noVerPrecioWeb?>
        
        .box_uploader
            #fileupload
                .buttonbar
                    ul#sortable.files
                    .buttons
                        p Arrastra tus imagenes aqui
                        .fileinput-button
                            span Agregar imagen
                            input(class="up_input" type="file" name="files[]" multiple)
                        button(class="start" type="submit") Subir imagenes

    script#template-upload(type='text/x-tmpl').
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <li class="template-upload fade">
        {%
        //console.log(file.name)
        %}
        <div class="preview">
        </div>
        <div>
        <div class="name">{%=file.name%}</div>
        <strong class="error"></strong>
        <div>
        <div>
        {% if (!i && !o.options.autoUpload) { %}
        <button class="start upload_start" disabled>Start</button>
        {% } %}
        {% if (!i) { %}
        <button class="cancel">Cancel</button>
        {% } %}
        </div>
        </li>
        {% } %}

    script#template-download(type='text/x-tmpl').
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <li class="template-download fade">        
        <div>
        <div class="preview">
        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}">
        <img src="{%=file.url%}">
        </a>
        </div>
        </div>
        <div>
        <div class="name">
        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
        </div>
        </div>
        <div>
        <button class="delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>X</button>
        </div>
        </li>
        {% } %}