/*
* Buttons
* @module buttons
*/
.btn
	position relative
	z-index 1
	height 42px
	display inline-block
	line-height 42px
	font-family $familyEvogriaItalic	
	border-radius 4px
	text-align center
	color white
	border 0
	text-transform uppercase
	&.actived
		background $gray_neo !important
		pointer-events none
		cursor default
		&:before,
		&:after
			background $gray_neo !important
	&.btn_diagonal
		padding 4px 0
		position relative		
		background $gray_5c
		border-radius 0
		&:before
		&:after
			background $gray_5c
			bottom 0
			content ''
			position absolute
			top 0
			transform(skewX(-15 deg))
			width 21px
			z-index -1
		&:before
			border-radius 5px 0 0 5px
			left -13px
		&:after
			border-radius 0 5px 5px 0
			right -13px