/**
* Content
* @module content
*/
.bg_pattern_diamond
	background white url($imgPath + "bg_pattern_diamond.png")
.bg_orange
	background $orange_03 !important
	color white
	&:before,
	&:after
		background $orange_03 !important
	&:hover
		background $gray_neo !important
		&:before,
		&:after
			background $gray_neo !important

.bg_gray
	background $gray_33 !important
	color white
	&:before,
	&:after
		background $gray_33 !important
	&:hover
		background $gray_neo !important
		&:before,
		&:after
			background $gray_neo !important			

// tab global estilo home
.neo_tabs
	font-family $familyEvogriaItalic
	.tab_option
		min-height 60px
		font-size 19px
		+tablet()
			font-size 15px
		+mobile()
			font-size 16px
			width 90%
			margin 10px auto 0 auto
		.grid_3
			width 25%
			margin-right 0
			+mobile()
				width 100%
				height 40px
				margin 0 auto
				float none
		.grid_9
			width 73%
			+mobile()
				width 100%
				padding-left 4%
				height 43px
				//margin 0 auto
				float none
				//text-align center				
		a
			cursor pointer
			+tablet()
				cursor inherit
			+mobile()
				cursor inherit		
		.btn
			margin-right 35px
			height 35px
			line-height 39px
			color $black_1c
			margin-top -11px
			font-size 19px
			padding-bottom 5px
			spacing(-0.35px)
			+tablet()
				font-size 15px
			+mobile()
				line-height 37px
				font-size 15px
				height 35px
				width 26%
				margin-right 7%
				padding-bottom 4px
			+between(300px, 440px)
				width 23%
				margin-right 10.6%
		.last
			+mobile()
				margin-right 0px
			
			&.active
				button_tabs($orange_03)
	.tab_contents
		> div
			display none
			width 100%
			text-align center
			&.active
				display block
		.eplanning
			display block

.select_neo
	width 99%
	margin-left 1%
	max-width 200px
	height 40px
	border-radius 6px
	// sprite($icon_money_blog)
	border 1px solid white
	background white
	box-shadow inset 0 4px 4px #ddd
	overflow hidden
	cursor pointer
	position relative
	margin-bottom 10px
	color #333
	float right
	+mobile()
		margin-top 10px
		max-width 100%
	select
		padding 12px 5px 8px 5px
		width 100%
		border none
		box-shadow none
		background-color transparent
		background-image none
		-webkit-appearance none
		-moz-appearance none
		appearance none
		cursor pointer
		font-size 15px
		position relative
		&:focus
			outline: none
	.icon
		position absolute
		top 10px
		right 16px
		width 20px
		height 22px
		font-size 22px
		line-height 25px
		background white
		color #777
	.loader
		position absolute
		display none
		left 0
		right 0
		bottom 0
		top 0
		background rgba(255,255,255,0.4)
		z-index 9
		img
			position absolute
			top 8px
			right 10px
			height 25px
	
.eplAds
	position absolute
	left 0
	top 0
	display none
	z-index 3
	+desktop()
		display block
	+tablet()
		display none !important
	+mobile()
		display none !important

.helper_center
	display inline-block
	height 100%
	vertical-align middle


// banner 970x90
#eplAdDivTop
	width 100%
	position relative
	background #4A4849
	display flex
	display unquote('table\0/') !important
	a,
	div,
	object
		margin 10px auto
		width 960px
		height 90px
		display inherit
		display unquote('block\0/!important') !important
#eplAdDivExpandible
	width 100%
	position relative
	a,
	div,
	object
		margin 0 auto 20px auto
		width 960px
		min-height 30px
		display inherit
#eplAdDivBox1
	position relative
	a,
	div,
	object
		width 300px
		height 250px
		position absolute
		right 1%
		left auto
		top 5px
		+below(1010px)
			display none
#eplAdDivBottom
	width 100%
	position relative
	a,
	div,
	object
		margin 0 auto
		width 960px
		min-height 30px
		display inherit

#eplAdDivMiddle
	width 100%
	position relative
	a,
	div,
	object
		margin 0 auto
		width 740px
		min-height 30px
		display inherit

#eplAdDivRight1
	width 100%
	position relative
	a,
	div,
	object
		margin 0 auto
		width 300px
		min-height 250px
		display inherit
		
.track
	&.debug
		background blue !important

.hide_mobile
	+mobile()
		display none
		
.error_input_message
	position absolute
	background #ed5353
	border-radius 3px
	padding 3px 5px
	top -28px
	left 2%
	font-size 11px
	color white
	display none
	letter-spacing normal
	text-transform capitalize
	&:before
		content ""
		position absolute
		bottom -6px
		left 50%
		width: 0
		height: 0
		border-style solid
		border-width 6px 5px 0 5px
		border-color #ed5353 transparent transparent transparent