/**
* Resources
* @module resources
*/
.hide
	display none !important
.clearfix
	clear:both
.no_scroll
	overflow hidden
.text_ellipsis
	width 100%
	height 16px
	overflow hidden
	white-space nowrap
	text-overflow ellipsis
.hack_center_vertical
	display inline-block
	height 100%
	vertical-align middle
.right
	float right !important
.red
	border 1px solid red
.t
	border-top 1px solid #666
.gray
	color $gray_67 !important
.radius
	border-radius 100%
.mask
	background black
	opacity .8
	position absolute