.content_select
	height 37px
	//overflow hidden
	position relative
	width auto
	select
		width 100%
	.icon_arrow_down
		background white
		color $gray_6c !important
		height 35px
		line-height 36px
		padding-left 4px
		pointer-events none
		position absolute
		right 1px
		top 1px
		width 29px
	.control_select
		-moz-appearance none
		-webkit-appearance none
		appearance none
		background white
		border none
		box-sizzing()
		height 37px
		font-size 18px
		outline none
	.loader
		position absolute
		display none
		left 0
		right 0
		bottom 0
		top 0
		background rgba(255,255,255,0.4)
		z-index 9
		img
			position absolute
			top 3px
			right 5px
			height 22px