#cRegister
	width 100%
	min-height 200px
	padding 20px 0 100px 0
	h2
		font-family $familyEvogriaItalic
		font-size 18px
		font-weight 500
		margin 5px 0
		color #000
	a
		color $orange_03
	.icon
		color white
.cnt_register
	width 90%
	min-height 300px
	margin 5px auto
	color #444
	.social_connect
		>div
			width 225px
			height 60px
			margin 5px auto
	.message_info
		width 100%
		height 50px
		>h2
			float left
			padding 0 10px
			margin 0!important
			text-align center
			max-width 300px
			height 20px
			overflow hidden
			white-space nowrap
			text-overflow ellipsis
			+tablet()
				font-size 14px!important
			+mobile()
				font-size 14px!important
		>span
			float left
			width 32.5%
			height 2px
			background #ccc
			margin-top 12px
			+tablet()
				width 31%
			+mobile()
				width 14%
	.form_register
		.field
			width 47%
			margin-left 3%
			float left
			margin-bottom 30px
			position relative
			&:nth-of-type(odd)
				margin-left 0
			+tablet()
				width 48%
			+mobile()
				width 100%
				margin-left 0!important	
			>label
				width 100%
				float left
				height 20px
				font-size 14px
				>span
					color red
					margin-left 5px
			input.border_gray
				width 92%
				padding 3px 15px
				height 30px
				&:focus
					outline 0
			ul
				position absolute
				font-size 12px
		.c_password
			width 100%
			height 42px
			float left
			line-height 40px
			.field
				margin 0
				width 50%
			label
				width auto
			input
				float left
			input[type=password],
			input[type=text]
				width 80%!important
			.switchery
				float left
				margin-top 8px
				margin-right 10px
			ul
				top 30px
		.c_cumpleanos
			.field
				width 39%
				margin-left 10px
				&:first-child
					margin-left 0
					width 24%
				&:last-child
					width 31%
		.checkbox
			width 100%
			height 30px
			overflow hidden
			margin-top 8px
			float left
			.field
				margin 0
				width 44%
				margin-left 20px!important
			label
				float left
				width auto
				line-height 26px
				font-size 16px
			input[type=radio]
				float left
				width 25px
				height 25px
				padding 5px
				margin-right 10px
				background white
		.term
			width 100%
			padding-top 10px
			height 30px
			float left
			font-size 14px
			label
				float left
				line-height 23px
			.switchery
				float left
				margin-right 10px
		.btn_register
			button_tabs($orange_03)
			float right
			padding 7px 30px
			line-height 32px
			margin-right 45px
			font-size 20px
			margin-top 20px
		