.search_by
	width 100%
	min-height 200px
	padding 34px 0 25px 0
	+mobile()
		display none !important
	.tab_option
		font-size 19px
		a
			font-size 17px !important
			background $gray_67
			color white !important
			&:before
			&:after
				background $gray_67
			&:hover
				background $gray_33
				&:before
				&:after
					background $gray_33
			&.active
				color white
				button_tabs($orange_03!important)
		.grid_2
			+tablet()
				width 20% !important
	h2
		position absolute
		visibility hidden
	.tab_marca
		li
			width 12.29%
			height 143px
			+tablet()
				width 16.432%
			.tab_title_hover
			.title_hover
				font-size 12px
				color $orange_03
				line-height 33px
		figure
			height 115px
		.box_content
			top 30% 
			+tablet()
				top 67%
				
	.tab_modelo
		li
			height 180px
			.title
				height 36px
				line-height 36px
				+tablet()
					text-align left
					padding 0 0 0 7%
					width 93%
		.box_content
			top 35%
			+tablet()
				text-align right
				top 85%
				padding 0 4%
				width 92%
			.link
				+tablet()
					font-size 14px
			.title_hover
				font-size 20px
				color white
		figure
			height 142px

	.tab_tipo
		li
			height 160px
			a
				img
					vertical-align bottom
		.tab_title_hover
			span
				margin-top 29%
		figcaption
			position absolute
			bottom 8px
			height 20px
			left 0
			right 0
			text-align center
			color #222                
		figure          
			height 106px
		.title      
			height 36px
			line-height 36px
			+tablet()
				text-align left
				padding 0 0 0 7%
				width 93%
				p
					width 67% !important               
		.box_content
			top 35%
			+tablet()
				text-align right
				top 82%
				padding 0 4%
				width 92%
			.link
				+tablet()
					font-size 14px
			.title_hover
				font-size 20px
				color white
	li
		width 24.79%
		border 1px solid $gray_light
		margin .1%
		float left
		overflow hidden
		background-color white
		transition .2s ease
		box-sizzing()
		+tablet()
			width 33.098%
		&:hover
			border-color #444
		a
			position relative
			display inline-block
			width 100%
			height 100%
			z-index 2
			text-align center
			+desktop()
				&:hover
				&.active
					.tab_title_hover
						opacity .75
						transition .2s ease
					.box_content
						opacity 1
						transition .5s ease
						.link
							background-color $orange_03
			figure
				width 100%
			.title
				text-align center
				width 100%
				background #e8e8e8
				font-family $familyHelvetica
				color #2e2d2d
				height 26px
				line-height 26px
				text-transform capitalize
				font-size 15px
				position absolute
				width 100%
				left 0px
				bottom 0
				+tablet()
					p
						display block
						width 99%
						height 29px
						overflow hidden
						white-space nowrap
						text-overflow ellipsis
			img
				height auto
				max-width 100%
				display inline-block
				vertical-align middle
			.tab_title_hover
				position absolute
				background #000
				opacity 0
				left 0
				right 0
				bottom 0
				top 0
				display block
				transition .2s ease
			.box_content
				top 50%
				left 0%
				text-align center
				color black
				font-size 12px
				position absolute
				width 100%
				opacity 1
				+desktop()
					opacity 0
				transition .5s ease
				+tablet()
					top 64%
				.title_hover
					+tablet()
						display none
				.link
					border-radius 6px
					float none
					border 0
					margin 0px auto
					padding 0px 15px
					text-shadow none
					font-size 15px
					+tablet()
						background-color #444242
						color white
						opacity .9
						padding 0 15px
						font-size 11px