.info
	background $orange_03
	.center_box
		background url($imgPath + "home/bg_info.png") no-repeat right bottom
	width 100%

.info
	.btn
		&:hover
			button_tabs(#2A2929 !important)
	.btn_diagonal
		height 40px
		line-height 41px
		background $gray_33
		border-radius 0
		padding 0
		width 50%
		font-size 19px
		margin-top 15px
		&:after,
		&:before
			background $gray_33				
		+mobile()
			border-radius 4px
			font-size 25px
			height 54px
			line-height 56px
			width 96%
			left 2%
			&:after,
			&:before
				display none
			
	p
		font-family $familyEvogriaItalic				
	
	.box_left
		margin-top 40px

.info_left,
.info_right
	min-height 140px
	+mobile()
		min-height 0px
	+tablet()
		padding 20px 0	

.info_left
	left 0
	col(6/12)
	width 51.225%
	+mobile()
		width 100%
		text-align center
	.money
		sprite($icon_money_blog)
		display inline-block
		vertical-align middle
		margin-top 40px
		+tablet()
			margin 10px 0 0 40px
		+mobile()
			margin-top 20px
	p	
		font-size 28px
		letter-spacing -2px
		display inline-block
		width 310px
		margin 0
		line-height 29px
		vertical-align middle
		margin-top 40px	
		+tablet()
			margin-top 10px
		+mobile()
			margin-top 20px
.info_right
	position absolute
	right 1.55%
	col(6/12)
	text-align center	
	+mobile()
		width 100%
		position relative
		margin-bottom 30px
	p	
		font-size 20px
		line-height 20px
		margin-top 35px
		+tablet()
			margin-top 20px
			