.stickyfloat
	right 0
	position absolute
	transition all .4s ease-in-out
	z-index 3
	right -200px		
	&.success_ok		
		.box_form
			width 110px
		.box_icon
			height 57px
			.title
				display none
		.box_suscribe_newsletter
			width auto !important
	&.close
		right 0
		.box_suscribe_newsletter			
			width 1px
			.icon_close
				display none
			.box_form
				padding 0
				width 0
				height 174px
				overflow hidden
	+tablet()
		display none !important
	+mobile()
		display none !important
	&.move
		transition all .4s ease-in-out
		right 0px
		.box_suscribe_newsletter
			width 200px
.box_icon
	width 44px	
	border-radius 5px 0 0 5px
	line-height 59px
	text-align center
	cursor pointer
	float left
	color black
	.loading
		background url($imgPath + "loader_sticky.gif")
		width 27px
		height 27px
		position absolute
		left 9px
		top 7px
		&:before
			display none
	.title
		position absolute
		transform rotate(270deg) translateY(-55px)
		font-size 17px
		font-family $familyEvogriaItalic		
		left 20px
		width 117px
		letter-spacing -1px
		bottom 50px
		line-height 42px
		height 40px		
.icon_sticky_mail
	font-size 36px
	color black
	vertical-align top
	padding-top 5px
	position relative
.box_suscribe_newsletter
	background white
	float right	
	box-shadow 6px 2px 10px #515151
	.bar
		width 44px
		height 100%
		position absolute
		background $orange_01
		border-radius 5px 0 0 5px
		cursor pointer
		left -44px
	.box_form
		padding 9px 13px 2px
		width 178px
		float right		
		background white		
	form
		position relative
		z-index 0
	label.checked[for=chk_autorize]
		sprite($icon_checkbox_sticky_true)		
	label[for=chk_autorize]
		sprite($icon_checkbox_sticky_false)	
		display block
		width 27px
		height 25px
		position absolute
		top	0px
		right -9px
		cursor pointer	
	button[type=submit]
		background $orange_01
		border none
		border-radius 5px
		font-size 15px
		padding 4px 0 3px 0
		width 100%
		color white
		font-family $familyEvogriaItalic
	.message_sticky
		padding 4px 0 8px 0
		display none
		font-size 15px
	.icon_close
		font-size 24px
		position absolute
		right 7px
		top	3px
		color #808080
		cursor pointer
		z-index 1
	label
		p
			line-height 15px
			letter-spacing -0.02em
			font-size 13px
	fieldset
		border none
		padding 0 0 .35em 0
		position relative
	form > fieldset:first-child
		label			
			font-size 15px
	.chk_authorize
		visibility hidden
		display none
	.txt_mail
		background #d4d4d4
		border-radius 5px
		border none
		padding 7px 10px
		font-size 15px
		width 160px
		height 16px
		line-height 16px
		margin 5px 0
		+placeholder()
			color black
	