.blog
	transition all .3s
	padding-bottom 15px
	+mobile()
		display none
	background url( $imgPath + "home/trama-bg-blog.png") repeat
	width 100%
	.title
		a
			color white
		sprite($bg_title_blog)
		font-family $familyEvogriaItalic
		font-size 21px
		color white
		float left
		line-height 80px
		span
			color $orange_01
	.social_networks
		sprite($bg_title_blog)
		line-height 80px
		float right
		ul
			height 50px
			li
				a
					font-size 42px
.slider_blog	
	width 100%
	// clear both
	margin-bottom 2.5%	
	overflow hidden
	max-height 264px
	padding-top 15px
	.slick-prev
		left 9px
	.slick-next
		right 10px
	.slick-slider
		width 102%
		margin-left -1.05%
	ul
		opacity 0
		position relative
		max-height 264px
		&.init			
			height 264px
			overflow hidden
	figure
		&.init
			min-height 196px
	p
		color white
		font-size 19px
		min-height 50px
		max-height 50px
		padding 0 4px
		margin-bottom 10px
		overflow hidden
		line-height 23px
		text-overflow ellipsis
		display -webkit-box
		-webkit-line-clamp 2
		-webkit-box-orient vertical
		+tablet()
			font-size 17px
			min-height 50px
			max-height 50px
	li
		float left
		width 304.65625px
		margin 0 .8%
		.wrapper
			display block
			width 100%
			text-align center
		img
			max-width 100%
			margin 0 auto
		a
			display block
			position relative
			&:hover
				.hover
					opacity .8
					transition .2s
				.box_content
					opacity 1
					transition .3s
			+tablet()
				.hover
					display none
			.hover				
				position absolute
				transition 0.2s
				background black
				opacity 0
				width 100%
				height 80%
				top 60px
				+tablet()
					height 76%
					top 60px
				text-align center
				line-height 192px
			.box_content
				position absolute
				top 62%
				left 0%
				text-align center
				width 100%
				opacity 0
				transition .3s
				+tablet()
					opacity 1
				.link
					color #000
					font-size 12px
					border-radius 6px
					background $orange_01
					font-family $familyEvogriaItalic
					padding 2px 9px 1px 9px