.ads_featured
	width 100%
	min-height 200px
	padding 25px 0
	background $gray_de url($imgPath + "home/bg_search_vehicles.png") repeat-x
	background-position center bottom	
	+mobile()
		width 100%
		padding 0
		background $gray_de
	.neo_tabs
		+mobile()
			padding 0
			width 100%
	.tab_option
		a
			background $gray_67
			color white !important
			font-size 17px !important
			&:before
			&:after
				background $gray_67
				+tablet()
					transition none !important
			&:hover
				background $gray_33
				&:before
				&:after
					background $gray_33
			&.active
				color white
				button_tabs($orange_01!important)
			+tablet()
				cursor default !important
				transition none !important
			+mobile()
				cursor default !important
	.tab_contents
		font-family $familyHelvetica	
		.btn
			height 32px
			line-height 32px
			button_tabs($gray_neo)
			color white
			margin 20px auto
			width 275px			
			font-size 18px
			&:hover
				background #2A2929
				&:before
				&:after
					background #2A2929
			+mobile()
				width 94%
				margin-left 0%
				font-size 25px
				border-radius 4px
				height 54px
				line-height 56px
				&:before,
				&:after
					display none