.banner_home
	background-image url("../../../img/home/bg_header_home_low.jpg")
	background-position top center
	background-repeat no-repeat
	height 449px
	position absolute
	top 43px
	left 0
	right 0
	z-index -1
	img
		position absolute
	+mobile()
		display none !important
