// section top search advanced for home
.search_advanced
	min-height 216px
	padding-top 122px
	position relative
	z-index 2
	+tablet()
		padding-top 100px
		min-height 209px
	+mobile()
		padding-top 0
	.center_box
		min-height 115px
		font-family $familyEvogriaItalic
		text-transform uppercase
		position relative
		select,
		input
			font-family helvetica
			font-size 16px !important
			color #555
		+mobile()
			width 100%
			margin 0
	
	.sell_vehicle
		position absolute
		right 17px
		top -20px
		height 32px
		line-height 36px
		background-color $azul_marino		
		width 187px
		padding-right 6px
		padding-left 1px
		&:before,
		&:after
			background-color $azul_marino
		&:hover
			background-color #317AFF !important
			&:before,
			&:after
				background-color #317AFF !important
		.icon
			line-height 32px
			font-size 52px
			margin-right 11px
			margin-bottom 1px
			&.icon_moto
				font-size 42px !important
				margin-top -5px
		>p
			width 100%
			text-align center			
			span
				em(17.5px)
				spacing(-0.35px)
				text-shadow -1px -1px 1px #3C81C8
				max-height 27px
				overflow hidden
		+mobile()
			position absolute
			bottom 23px
			margin 0 auto
			width 94%
			left 3.1%
			right auto
			top auto
			z-index 9
			padding 0
			height 51px
			line-height 55px
			border-radius 4px
			font-size 20px
			&:before,
			&:after
				display none
			.icon
				line-height 50px
				font-size 62px !important
				&.icon_moto
					font-size 58px !important
			>p
				font-size 23px
				line-height 54px
	.tab_option
		width 100%
		height 30px
		a
			height 30px
			line-height 34px
			padding 0 10px 0 15px
			width 60px
			color white
			background-color $gray_tab_home
			margin-right 10px
			position relative
			font-size 15px
			border-radius 0 !important
			cursor pointer
			+tablet()
				cursor inherit
			+mobile()
				width 50%
				padding 5px 0
				margin 0
				float left
				font-size 21px
			&:before
				triangle_right_bottom($gray_tab_home, 30)
				+mobile()
					display none
		.active
			z-index 9
			color white
			background-color $orange_03
			&:before
				triangle_right_bottom($orange_03, 30)
	.tab_content
		width 100%
		min-height 150px
		font-size 14px
		+tablet()
			font-size 13px
.form_vehicle
	background-color $orange_03
	width 100%
	padding 25px 0 10px 0
	min-height 90px
	height auto
	+mobile()
		width 96%
		padding 25px 0
		padding-left 2%
		padding-right 2%
		// fix mobile message error
		.grid_desde
			>div
				&:last-child
					.parsley-errors-list
						top 42px
	+between(669px, 870px)
		.grid_radio
			label
				font-size 13px
				margin 0!important
		.grid_desde
			.input
				width 29%!important
	+between(350px, 375px)
		.grid_desde
			.input
				width 34.8%!important
	+between(320px, 350px)
		.grid_desde
			.input
				width 33.3%!important
	+between(280px, 320px)
		.grid_desde
			.input
				width 31.5%!important
						
	.parsley-errors-list
		position absolute
		width 100%
		left 0
		background-color transparent
		padding-left 22px
		font-size 11px
		color white
		font-weight 300
		font-family helvetica
		text-transform capitalize
		text-align center
		top 40px
		+mobile()
			top 35px
			width 70%
			max-width 170px
			left 20.5%
			margin 0
			padding 0
			overflow hidden
		&.filled
			display block
		li
			padding-left 20px
			display inline-block
			position relative
			&:after
				width 20px
				height 20px
				background url($imgPath + "alert_error.png") no-repeat top left
				content ""
				background-size 64%				
				left 5px
				position absolute
	.input
		width 90px
		height 30px
		position relative
		+desktop()
			float left !important
		+tablet()
			float left !important
		+mobile()
			width 35%
			margin 0
			margin-left 1%
			height 50px
			>input
				height 34px !important
				line-height 38px !important
			&.right
				margin-right 1px !important
				>input
					float right
		>input
			width 89%
			padding 0px 6px
			border-radius 4px
			border 0
			padding-top 2px
			height 38px
			line-height 42px
			box-shadow inset 0 4px 4px #ddd
			border 1px solid white
	.grid
		+mobile()
			width 98%!important
			margin 0px auto!important
			float none!important
	.grid_3
		margin-right 0
		width 13%
	.grid_4
		width 29%
		+mobile()
			min-height 110px
	.grid_2
		height 95px
		width 10.1%
		margin-left 3%
		float left
	.grid_radio
		margin-top 10px
		>div
			width 100%
			height 28px
			font-size 15px
			+mobile()
				width 33.3%
				float left
		label
			cursor pointer
	.grid_desde
		width 38%
		+tablet()
			width 38%
		>div
			width 100%
			height 47px
			position relative
			.input
				position static
			&:last-child
				margin-top 5px
			+mobile()
				height 45px !important
				margin-top -3px !important
		label
			min-width 66px
			width 30%
			text-align right
			line-height 45px
			font-size 15px
			+tablet()
				width 28%
				font-size 14px
			+mobile()
				width 19%
	label,
	.input
		float left
		margin 0 5px
	input[type=radio]
		width 18px
		height 18px
		margin-top 2px
		float left
	.btn
		width 85px
		height inherit
		background-color $gray_67
		color white
		font-size 22px
		box-shadow 0px 6px 8px -1px rgba(0,0,0,.45)
		&:after,
		&:before
			background-color $gray_67
			width 30px
		&:after
			right -16px
		&:before
			left -16px
		&:hover
			background-color $gray_neo
			&:after,
			&:before
				background-color $gray_neo
			.icon
				color #666
			.icon_arrow_right_button
				margin-left 4px
		+tablet()
			width 80px
		+between(669px, 769px)
			width 60px
			p
				font-size 18px!important
			.icon_arrow_right_button
				width 95px !important
			.icon_search
				font-size 65px !important
				top 20px !important
				left 0 !important
		+mobile()
			width 100%
			height 52px
			background-color $gray_neo
			margin 0 auto
			display block
			line-height 24px
			font-size 23px
			border-radius 4px
			box-shadow none
			&:after,
			&:before
				display none
			margin-top -12px
		.icon
			font-size 72px
			color $gray_icon_btn_search
			position absolute
			top 15px
			left 5px
			z-index 0
			+mobile()
				display none
		>p
			position absolute
			top 30%
			left -2px
			font-size 22px
			width 100%
			z-index 2
			spacing(-0.35px)
			+mobile()
				font-size 24px
			.icon
				font-size 36px
				color white !important
				top 2px
				z-index 9
				transition ease .4s
				width 116px
				box-sizing border-box
				text-align right
	.select_neo
		select
			width 99%
		.icon
			right 5px
			font-size 18px
		+mobile()
			margin 6px 0px !important
			height 36px
			width 99.3%
			float left
			select
				padding-top 9px
			.loader
				img
					top 6px
			.icon
				color #444
				top 7px
				right 7px
	.error_input_message
		left auto
		right 7%
		font-family sans-serif
		font-size 13px
		background #CD2323
		padding 3px 10px
		width 220px
		text-align center
		&:before
			display none
			border-color #CD2323 transparent transparent transparent
		+between(410px,600px)
			right 20%
		+between(600px,700px)
			right 0