header
	section.top_bar
		.center_box
			a.iso_type(href="javascript:;")
			//-ul.externals
				li
					a(href="#") Blog
				li 
					a(href="#") Ferias
				li 
					a(href="#") Club Neoauto
			.wrapper_right.user_links
				span Hola
				span.user_name  Ronny
				a.icon.icon_arrow_down(href="javascript:;")
	section.principal_menu
		.center_box
			a.logo(href="javascript:;")
				img(src="../../static/neoauto3/img/logo_neo_auto_publication.png")
			ul.menu_steps
				li
					a.btn.btn_diagonal(href="javascript:;")
						span.steps_numbers 1
						span.steps_words DATOS DEL USUARIO
				li
					a.btn.btn_diagonal.active(href="javascript:;")
						span.steps_numbers 2
						span.steps_words DATOS DEL AVISO
				li
					a.btn.btn_diagonal.inactive(href="javascript:;")
						span.steps_numbers 3
						span.steps_words SELECIONA DESTAQUE
				li
					a.btn.btn_diagonal.inactive(href="javascript:;")
						span.steps_numbers 4
						span.steps_words VERIFICA TUS DATOS