.wrapper_filters
    .save_filter
        a.btn.btn_diagonal.bg_orange(href="javascript:;" title="Guarda tu Búsqueda") GUARDAR BÚSQUEDA
        .icon.icon_rumble_question
            .tooltip_question
                h4 GUARDAR BÚSQUEDA
                p Puedes guardar los filtros seleccionados y recibir alertas en tu e-mail cuando se publiquen nuevos avisos.
    .your_filter
        span Tus filtros
        a.clean_filter(href!="<?php echo $this->urlClearFilters;?>", title="Borrar todo los filtros") Borrar todo
        form.filters(action="" method="post")
            <?php foreach ($this->inputsHidden as $input): ?>
            input(type="hidden" name!="<?php echo $input['nameInput'];?>" value!="<?php echo $input['slug']; ?>")
            <?php endforeach ?>
            <?php foreach ($this->tags as $tag): ?>
            a.filter_tag(href!="<?php echo $tag['url']; ?>" class!="<?php echo $tag['disabled']; ?>") 
                p <?php echo $tag['name']; ?>
                span <?php echo (!empty($tag['disabled']))? '': 'x'; ?>
            <?php endforeach ?>
            .clearfix
        .mask
    <?php if ($this->showResult === true):?>
    p Filtros disponibles
    <?php endif;?>
    <?php if ($this->hidden['condicion'] === ''  &&  !empty($this->condicion)): ?>
    //- Condicion
    .box(class != "<?php echo isset($this->cookie['condicion'])? 'collapse' : '' ?>")
        .box_head.box_expand(data-expand="condicion")
            span Condición
            i.icon.icon_arrow_down
            .mask
        .box_content
            ul
                <?php foreach ($this->condicion as $condicion): ?>
                li
                    a(href!="<?php echo $condicion->url ?>") <?php echo $condicion->nombre ?>
                    span (<?php echo $condicion->cant ?>)
                <?php endforeach?>
    <?php endif ?>

    //- marca
    <?php if($this->hidden['marca'] === '' && !empty($this->marcas)): ?>
    .box(class !="<?php echo isset($this->cookie['marca'])? 'collapse' : '' ?>")
        .box_head.box_expand(data-expand="marca")
            span Marca
            i.icon.icon_arrow_down
            .mask
        .box_content
            ul
                <?php $i=1; foreach ($this->marcas as $marca): ?>
                <?php if($i<=10):?>
                li
                    a(href!="<?php echo $marca->url ?>") <?php echo $marca->nombre ?>
                    span (<?php echo $marca->cant ?>)
                <?php else:?>
                li.more
                    a(href!="<?php echo $marca->url ?>") <?php echo $marca->nombre ?>
                    span (<?php echo $marca->cant ?>)
                <?php endif ?>
                <?php $i++; endforeach?>
                <?php if(count($this->marcas) > 10 && $i > 10): ?>
                li
                    a.see_more(href="", title="Click para expandir") Más opciones
                <?php endif ?>
    <?php endif ?>
    //- modelos
    <?php if($this->hidden['modelo'] === '' && $this->hidden['marca'] != '' && !empty($this->modelos)): ?>
    .box(class !="<?php echo isset($this->cookie['modelo'])? 'collapse' : '' ?>")
        .box_head.box_expand(data-expand="modelo")
            span Modelo
            i.icon.icon_arrow_down
            .mask
        .box_content
            ul
                <?php $i=1; foreach ($this->modelos as $modelo): ?>
                <?php if($i<=10):?>
                li

                    a(href!="<?php echo $modelo->url ?>") <?php echo $modelo->nombre ?>
                    span (<?php echo $modelo->cant ?>)
                <?php else:?>
                li.more
                    a(href!="<?php echo $modelo->url ?>") <?php echo $modelo->nombre ?>
                    span (<?php echo $modelo->cant ?>)
                <?php endif ?>
                <?php $i++; endforeach?>
                <?php if(count($this->modelos) > 10 && $i > 10): ?>
                li
                    a.see_more(href="", title="Click para expandir") Más opciones
                <?php endif ?>
    <?php endif ?>

    <?php if ($this->hidden['anio'] === false && !empty($this->anios)): ?>
    //- anio
    .box(class != "<?php echo isset($this->cookie['anio'])? 'collapse' : '' ?>")
        .box_head.box_expand(data-expand="anio")
            span Año
            i.icon.icon_arrow_down
            .mask
        .box_content
            ul
                <?php foreach($this->anios as $anio): ?>
                <?php if ($anio->cant != 0): ?>
                li
                    a(href!="<?php echo $anio->url ?>") <?php echo $anio->nombre ?>
                    span (<?php echo $anio->cant?>)
                <?php endif ?>
                <?php endforeach?>
            form.filter_form.form_year.box_form(action="/busqueda-autos/", method="post")
                .error_input_message error
                input.input_form.input_year_desde.border_gray(type="tel" id="anioDesde" data-min="1930" data-max="2015" autocomplete="off" name="anio_min" placeholder="Desde" maxlength="4" pattern="[0-9]+" data-parsley-validneo data-parsley-errors-messages-disabled)
                input.input_form.input_year_hasta.border_gray( type="tel" id="anioHasta" data-min="1930" data-max="2015" autocomplete="off" name="anio_max" placeholder="Hasta" maxlength="4" pattern="[0-9]+" data-parsley-validneo data-parsley-errors-messages-disabled)
                button(type="submit")
                    i.icon.icon_arrow_right
    <?php endif ?>

    <?php if ($this->hidden['precio'] === false && !empty($this->precios)): ?>
    //- precio
    .box(class != "<?php echo isset($this->cookie['precio'])? 'collapse' : '' ?>")
        .box_head.box_expand(data-expand="precio")
            span Rango de Precios US$
            i.icon.icon_arrow_down
            .mask
        .box_content
            ul
                <?php foreach ($this->precios as $precio): ?>
                <?php if ($precio->cant != 0): ?>
                li
                    a(href!="<?php echo $precio->url ?>") <?php echo $precio->nombre ?>
                    span (<?php echo $precio->cant ?>)
                <?php endif ?>
                <?php endforeach ?>
            form.filter_form.box_form(action="/busqueda-autos/", method="post")
                input.input_form.border_gray(type="tel" id="precio_min" name="precio_min" autocomplete="off" placeholder="Desde" maxlength="7" pattern="[0-9]+")
                input.input_form.border_gray(type="tel" id="precio_max" name="precio_max" autocomplete="off" placeholder="Hasta" maxlength="7" pattern="[0-9]+" data-parsley-gt="#txtDesde" data-parsley-gt-message="No puede ser menor o Igual.")
                button(type="submit")
                    i.icon.icon_arrow_right
    <?php endif ?>


    <?php if ($this->hidden['km'] === '' && $this->hidden['condicion'] != 'nuevos' && !empty($this->kms)): ?>
    //- kilometros
    .box(class != "<?php echo isset($this->cookie['km'])? 'collapse' : '' ?>")
        .box_head.box_expand(data-expand="km")
            span Kilómetros
            i.icon.icon_arrow_down
            .mask
        .box_content
            ul
                <?php foreach ($this->kms as $km): ?>
                <?php if ($km->cant != 0): ?>
                <?php if ($this->hidden['condicion'] != 'usados' || $km->nombre != '0km'): ?>
                li
                    a(href!="<?php echo $km->url ?>") <?php echo $km->nombre ?>
                    span (<?php echo $km->cant ?>)
                <?php endif ?>
                <?php endif ?>
                <?php endforeach ?>
    <?php endif ?>
    //- Transmicion
    <?php if ($this->hidden['transmision'] === '' && !empty($this->transmision)): ?>
    .box(class != "<?php echo isset($this->cookie['transmition'])? 'collapse' : '' ?>")
        .box_head.box_expand(data-expand="transmition")
            span Transmisión
            i.icon.icon_arrow_down
            .mask
        .box_content
            ul
                <?php foreach ($this->transmision as $transmision): ?>
                li
                    a(href!="<?php echo $transmision->url ?>") <?php echo $transmision->nombre ?>
                    span (<?php echo $transmision->cant ?>)
                <?php endforeach ?>
    <?php endif ?>

    <?php if ($this->hidden['ubicacion'] === '' && !empty($this->distritos)): ?>
    //- Ubicacion
    .box(class != "<?php echo isset($this->cookie['ubicacion'])? 'collapse' : '' ?>")
        .box_head.box_expand(data-expand="ubigeo")
            span Ubicación
            i.icon.icon_arrow_down
            .mask
        .box_content
            ul
                <?php $i=1; foreach ($this->distritos as $distrito): ?>
                <?php if($i<=5): ?>
                li

                    a(href!="<?php echo $distrito->url ?>") <?php echo $distrito->nombre?>
                    span (<?php echo $distrito->cant?>)
                <?php endif?>
                <?php $i++; endforeach ?>

            form.filter_form.box_form(action="/busqueda-autos/",method="post")
                .content_select_box
                    .content_select.border_gray
                        span.icon.icon_arrow_down
                        select.control_select.changeDepartament(name="departamento", required="required")
                            option(value="") Departamento
                            <?php foreach ($this->departamentos as $departamento): ?>
                            option(value!="<?php echo $departamento->id?>") <?php echo $departamento->nombre ?>
                            <?php endforeach ?>
                    .content_select.border_gray
                        span.icon.icon_arrow_down
                        .loader
                            img(src!="#{page.url.image}loader.gif")
                        select.control_select.changeDistrict(name="ubicacion", required="required")
                            option(value="") Distrito
                button.btn_select(type="submit")
                    i.icon.icon_arrow_right
                .clearfix
    <?php endif ?>

    <?php if($this->hidden['categoria'] === '' && !empty($this->categoria)): ?>
    //- Categoria
    .box(class != "<?php echo isset($this->cookie['category'])? 'collapse' : '' ?>")
        .box_head.box_expand(data-expand="category")
            span Categoría
            i.icon.icon_arrow_down
            .mask
        .box_content
            .filter_category_vehicles
                <?php foreach($this->categoria as $categoria): ?>
                a(href!="<?php echo $categoria->url ?>", title!="<?php echo $categoria->nombre;?>")
                    figure
                        img(src!="#{page.url.image}home/tipos/<?php echo $categoria->img ?>", alt="")
                        figcaption <?php echo $categoria->nombre;?>
                <?php endforeach ?>
                .clearfix
    <?php endif ?>

    //- Combustible
    <?php if($this->hidden['combustible'] === '' && !empty($this->combustible)): ?>
    .box(class != "<?php echo isset($this->cookie['combustible'])? 'collapse' : '' ?>")
        .box_head.box_expand(data-expand="combustible")
            span Combustible
            i.icon.icon_arrow_down
            .mask
        .box_content
            ul
                <?php foreach ($this->combustible as $combustible): ?>
                li
                    a(href!="<?php echo $combustible->url ?>") <?php echo $combustible->nombre ?>
                    span (<?php echo $combustible->cant ?>)
                <?php endforeach ?>
    <?php endif ?>

    <?php if ($this->hidden['timon'] === '' && !empty($this->timon)): ?>
    //- Timon
    .box(class != "<?php echo isset($this->cookie['timon'])? 'collapse' : '' ?>")
        .box_head.box_expand(data-expand="timon")
            span Timón
            i.icon.icon_arrow_down
            .mask
        .box_content
            ul
                <?php foreach ($this->timon as $timon): ?>
                li
                    a(href!="<?php echo $timon->url ?>") <?php echo $timon->nombre ?>
                    span (<?php echo $timon->cant ?>)
                <?php endforeach?>
    <?php endif ?>
