<?php if (!isset($this->paginator['showPaginator'])): ?>
.paginator
    ul
        <?php if (isset($this->paginator['paginator']['previous'])): ?>
        li
            a.icon.icon_arrows_left(href!="<?php echo $this->paginator['urlFirst'];?>")
        li
            a.icon.icon_arrow_left(href!="<?php echo $this->paginator['urlPrevious'];?>")
        <?php endif; ?>
    ul
        <?php foreach ($this->paginator['paginator']['pagesInRange'] as $page): ?>
        li
            <?php if ($this->paginator['current'] == $page): ?>
            a.current(href!="<?php echo $this->paginator['url'].$page;?>") <?php echo $page ?>
            <?php else: ?>
            a(href!="<?php echo $this->paginator['url'].$page;?>") <?php echo $page ?>
            <?php endif; ?>
        <?php endforeach; ?>
    ul
        <?php if (isset($this->paginator['paginator']['next'])): ?>
        li
            a.icon.icon_arrow_right(href!="<?php echo $this->paginator['urlNext'];?>")
        li
            a.icon.icon_arrows_right(href!="<?php echo $this->paginator['urlLast'];?>")
        <?php endif; ?>
    ul.mobile
        li
            <?php if (isset($this->paginator['paginator']['previous'])): ?>
            a(href!="<?php echo $this->paginator['urlPrevious'];?>")
                i.icon.icon_arrows_left
                | Anterior
            <?php else: ?>
            a.disabled 
                i.icon.icon_arrows_left
                |Anterior
            <?php endif; ?>

        li
            <?php if (isset($this->paginator['paginator']['next'])): ?>
            a(href!="<?php echo $this->paginator['urlNext'];?>") Siguiente
                i.icon.icon_arrows_right
            <?php else: ?>
            a.disabled Siguiente
                i.icon.icon_arrow_right
            <?php endif; ?>
<?php endif; ?>