extends ../../../../../layouts/scripts/modules/home/layout.jade
//- index/index

block content
    section.search_advanced
        .center_box
            a.sell_vehicle.btn.btn_diagonal.track(data-track="vende_tu_auto" href!="#{page.url.base}/anunciante/publicacion")
                p
                    i.icon.icon_car_one
                    span Vende tu auto
            .tab_option
                a.btn.action_buy.active(option="autos")
                    p Autos
                a.btn.action_sell(option="motos")
                    p Motos
            .tab_contents
                form.form_vehicle(data-tracking-mode="search_advanced" method="post", action!="#{page.url.base}/busqueda-autos/" id="frmAdvancedBuy")
                    input(type="hidden", name="tipoVehiculo", id="tipoVehicle", value="autos")
                    .center_box
                        .grid.grid_3.grid_radio
                            div
                                input(type="radio", name="estado" value="" id="vehicleAll" checked="checked")
                                label(for="vehicleAll") Todos
                            div
                                input(type="radio", name="estado" value="nuevos" id="vehicleNews")
                                label(for="vehicleNews") Nuevos
                            div
                                input(type="radio", name="estado" value="usados" id="vehicleOthers")
                                label(for="vehicleOthers") Usados
                        .grid.grid_4.grid_select
                            .select_neo
                                i.icon.icon_arrow_down_two
                                .loader
                                    img(src!="#{page.url.image}loader.gif")
                                select.select_brand(name="marca")
                                    option(value="") Escoge tu marca
                            .select_neo
                                i.icon.icon_arrow_down_two
                                .loader
                                    img(src!="#{page.url.image}loader.gif")
                                select.select_model(name="modelo")
                                    option(value="") Escoge tu modelo
                        .grid.grid_4.grid_desde
                            div 
                                label AÑO
                                input(type="hidden", id="anioFinal" name="year", value="")
                                .error_input_message error
                                .input
                                    input.anioInput.input_year_desde(type="tel", id="anioDesde", autocomplete="off", name="anio_desde", placeholder="Desde", maxlength="4" data-parsley-validneo, data-parsley-errors-messages-disabled)
                                .input.right
                                    input.anioInput.input_year_hasta(type="tel", id="anioHasta", autocomplete="off", name="anio_hasta", placeholder="Hasta", maxlength="4", data-parsley-validneo, data-parsley-errors-messages-disabled)
                            div
                                label.lbl_price Precio($)
                                .input
                                    input.priceInput(type="tel", id="txtDesde" name="txtdesde", autocomplete="off", placeholder="Desde")
                                .input.right
                                    input.priceInput(type="tel", id="txtHasta" name="txthasta", autocomplete="off", placeholder="Hasta" data-parsley-gt="#txtDesde", data-parsley-gt-message = "No puede ser menor o Igual.")
                        .grid.grid_2
                            button.track.btn.btn_diagonal.submit_search_advanced
                                p Buscar
                                    span.icon.icon_arrow_right_button
                                i.icon.icon_search
    section.search_by.bg_pattern_diamond
        .eplanning(data-eplanningId="Expandible")
        //- +eplanningScript("Expandible")
        .center_box.neo_tabs
            .tab_option
                .grid_2 BUSCA POR
                .grid_9
                    a.btn.btn_diagonal.active(data-tabclass="tab_marca") MARCA
                    a.btn.btn_diagonal(data-tabclass="tab_modelo") MODELO
                    a.btn.btn_diagonal(data-tabclass="tab_tipo") TIPO DE VEHÍCULO
            .tab_contents
                .tab_marca.active
                    ul
                        <?php foreach($this->searchesMarca as $marca): ?>
                        li
                            a.track(data-track!="<?php echo $marca['slugMarca'] ?>" href!="<?php echo $this->searchUrl($marca['slugMarca']) ?>", title="Ver más")
                                figure
                                    .hack_center_vertical                                    
                                    img.lazy(data-original!="#{page.url.elements}/marca/logo/106x105/<?php echo $marca['imagenMarca'] ?>#{page.version}")
                                    noscript
                                        img(src!="#{page.url.elements}/marca/logo/106x105/<?php echo $marca['imagenMarca'] ?>#{page.version}", alt!="<?php echo $marca['nombreMarca'] ?>")
                                span.title 
                                    p <?php echo $marca['nombreMarca']?>
                                span.tab_title_hover
                                span.box_content
                                    p.title_hover <?php echo $marca['avisosMarca'] ?> avisos
                                    span.link VER +

                        <?php endforeach; ?>
                .tab_modelo
                    ul
                        <?php foreach($this->searchesModelo as $modelo): ?>
                        li
                            a.track(data-track!="<?php echo $modelo['slugModeloSearch'] ?>" href!="#{page.url.search}<?php echo $modelo['slugModeloSearch'] ?>", title="Ver más")
                                figure
                                    .hack_center_vertical
                                    img.lazy(data-original!="#{page.url.elements}/modelos/238x142/<?php echo $modelo['imagenModelo'] ?>#{page.version}")                                
                                    noscript
                                        img(src!="#{page.url.elements}/modelos/238x142/<?php echo $modelo['imagenModelo'] ?>#{page.version}", alt!="<?php echo $modelo['nombreModelo'] ?>")                                
                                span.title 
                                    p <?php echo $modelo['nombreModelo']?>
                                span.tab_title_hover
                                span.box_content
                                    p.title_hover <?php echo $modelo['nombreModelo'] ?>
                                    span.link VER +
                        <?php endforeach; ?>
                .tab_tipo
                    ul
                        <?php foreach($this->searchesTipoAuto as $tipo): ?>                    
                        li
                            a.track(data-track!="<?php echo $tipo['slugSearch'] ?>" href!="#{page.url.search}<?php echo $tipo['slugSearch'] ?>", title="Ver más")
                                figure
                                    .hack_center_vertical
                                    img.lazy(data-original!="#{page.url.image}home/tipos/<?php echo  $tipo['slug'] ?>.png#{page.version}")
                                    noscript
                                        img(src!="#{page.url.image}home/tipos/<?php echo $tipo['slug'] ?>.png#{page.version}", alt!="<?php echo $tipo['nombre'] ?>")
                                    figcaption <?php echo $tipo['nombre'] ?>
                                span.title 
                                    p <?php echo $tipo['nombre'] ?>
                                span.tab_title_hover
                                span.box_content
                                    p.title_hover <?php echo $tipo['nombre'] ?>
                                    span.link VER +
                        <?php endforeach; ?>

    section.ads_featured
        .center_box.neo_tabs
            .tab_option
                .grid_3 AVISOS DESTACADOS
                .grid_9
                    a.btn.btn_diagonal.active(data-tabclass="tab_search_vehicles_used") USADOS
                    a.btn.btn_diagonal(data-tabclass="tab_search_vehicles_new") NUEVOS
                    a.btn.btn_diagonal.last(data-tabclass="tab_search_vehicles_moto") MOTOS
            .tab_contents
                //- +eplanningScript("Box1")
                .eplanning(data-eplanningId="Box1")
                .tab_search_vehicles_used.active
                    +show_grid_vehicles("$this->featuredUsed")
                    a.btn.btn_diagonal.track(href!="#{page.url.base}/venta-de-autos-usados", data-track="mas_avisos") más avisos

                .tab_search_vehicles_new
                    +show_grid_vehicles("$this->featuredNew")
                    a.btn.btn_diagonal.track(href!="#{page.url.base}/venta-de-autos-nuevos", data-track="mas_avisos") más avisos

                .tab_search_vehicles_moto
                    +show_grid_vehicles("$this->featuredMoto")
                    a.btn.btn_diagonal.track(href!="#{page.url.base}/venta-de-motos", data-track="mas_avisos") más avisos
    section.stickyfloat.close
        .box_suscribe_newsletter
            .bar
                span.box_icon
                    span.title suscríbete aquí
                    span.icon.icon_sticky_mail                    
            a.icon.icon_close
            .box_form
                .message_sticky
                form.form_sticky(method="post",action!="#{page.url.base}/ajax/common/suscriber/authorize", data-parsley-validate, data-tracking-mode="sticky_newsletter")
                    fieldset
                        label Ingresa tu correo
                        input.txt_mail.plholder_ie(type="email", placeholder="Ingresa tu correo", name="email" required)
                    .box_authorize
                        fieldset
                            label
                                p Autorizo recibir información, boletines, encartes y promociones por correo, llamadas o mensaje de texto.
                            input#chk_autorize.chk_authorize(type="checkbox",name="authorize", checked="checked")
                            label.checked(for="chk_autorize")
                        fieldset
                            input.txt_token(type="hidden", name="token")
                            button.track(type="submit") Acepto33aaa444
    section.blog
        .center_box
            .title 
                a(href="http://neoauto.com/blog" title="ir al blog" target="_blank") Blog <span>NeoAuto</span>
            .social_networks.home
                +add_social_networks()
            .slider_blog
                ul.init
                    <?php foreach($this->blogs as $blog): ?>
                    li
                        a(href!="<?php echo $blog['link']?>", target="_blank")
                            p <?php echo utf8_decode($blog['title'])?>
                            figure.init
                                span.wrapper
                                    img(src!="#{page.url.elements}/blog/302x192/<?php echo $blog['image']  ?>#{page.version}")
                            span.hover
                            span.box_content
                                span.link LEER MÁS
                    <?php endforeach;?>   
    section.info
        .center_box
            .info_left
                span.money
                p ¿Tienes muchos vehículos para vender?
            .info_right
                p AHORRA CON NUESTROS PLANES PARA VENDEDORES
                <?php $track_report = $this->auth ? $this->auth->IdUsuarioAnunciante : "no_logueado"; ?>
                a.btn.btn_diagonal.track(data-track!="informate_aqui_<?=$track_report?>" href="http://centraldeayuda.neoauto.com/anonymous_requests/new", title="Infórmate aquí", target="_blank") Infórmate aqu
        .eplanning(data-eplanningId="Bottom")
        //- +eplanningScript("Bottom")
    //-+login_your_account("modal")

include ../../../../../_mixins/modules/home/index/index.jade
