extends ../../../../../layouts/scripts/modules/ficha-aviso/layout.jade

//- ficha-aviso/nuevo

block content
	- var settings_contact = {};
	- settings_contact.name = "<?php echo $this->ficha['nombreEnte'] ?>"; // Reemplazar por php
	- settings_contact.pic_url = "<?php echo $this->ficha['urlLogo']?>";  // Reemplazar por php
	- settings_contact.is_particular = false; // Esta variable es solo para simular, hay que volarla en la integración.
	- settings_contact.recaptcha_message_name = "center_recaptcha_message"
	- settings_contact.recaptcha_phone_name = "center_recaptcha_phone"
	

	main.main_ficha.center_box
		section.breadcrumbs
			+breadcrumbs
				block breadcrumbs_links
					<?php foreach(range(1,2) as $n): ?>
					+breadcrumbs_links({url:"link", title:"title <?=$n?>", position:"<?=$n?>"})
					<?php endforeach; ?>
					span titulo del aviso

		section.detail_ficha

			header 
				p.title <?php echo $this->ficha['titulo'] ?>
				p.price <?php echo str_replace('desde', '', $this->ficha['precioHtml']) ?>

			article
				+share_icons("<?php echo $this->ficha['urlId']?>")
				block logo_mafre
				include ../../../../../_render/modules/ficha-aviso/gallery.jade				
				+ficha_tab('nuevo', 'foreach php')
				.versions_tabs.neo_tabs
					.tab_option
						.ficha_box_title
							.grid.grid_5 VERSIONES DISPONIBLES 55555
							.grid.grid_7
								a.btn.btn_diagonal.active(data-tabclass="version_features") FICHA TECNICA
								a.btn.btn_diagonal(data-tabclass="version_extra") EQUIPAMIENTO EXTRA
					.tab_contents
						.version_features.active
							include ../../../../../_render/modules/ficha-aviso/features_nuevo.jade

						.version_extra
				+contact_advertiser(settings_contact)
		
		aside.right
			include ../../../../../_render/modules/ficha-aviso/aside.jade

	section.more_cars
		.center_box
			.ficha_box_title
				h4 	MAS VEHICULOS DE CONCESIONARIO
			+show_grid_vehicles("$this->carsConcesionario",4)
			.clearfix
			a.btn.btn_diagonal(href="" title="ver mas avisos") MAS AVISOS

include ../../../../../_mixins/modules/ficha-aviso/index/ficha-nuevo.jade


