extends ../../../../../layouts/scripts/modules/ficha-aviso/layout.jade

//- ficha-aviso/usado

block content
	- var settings_contact = {};
	- settings_contact.name = 'Fox Car'; // Reemplazar por php
	- settings_contact.pic_url = 'url';  // Reemplazar por php				
	- settings_contact.is_particular = true;
	- settings_contact.sitekeyMessage = "<?php echo $this->formContact->getElement('g-recaptcha-response')->getAttrib('data-sitekey'); ?>"
	- settings_contact.sitekeyPhone = "<?php echo $this->formVerTelefono->getElement('g-recaptcha-response')->getAttrib('data-sitekey'); ?>"


	main.main_ficha.center_box
		section.breadcrumbs
			+breadcrumbs()
				block breadcrumbs_links
					<?php foreach(range(1,2) as $n): ?>
					+breadcrumbs_links({url:"link", title:"title <?=$n?>", position:"<?=$n?>"})
					<?php endforeach; ?>
					span titulo del aviso

		section.detail_ficha
			header
				p.title <?php echo $this->ficha['titulo'];?>
				p.price <?php echo "US$ ".number_format($this->ficha['precio']);?>
			article
				block stick_nuevo
				+share_icons("<?php echo $this->ficha['urlId']?>")
				include ../../../../../_render/modules/ficha-aviso/gallery.jade
				+ficha_tab('usado', 'php')
				include ../../../../../_render/modules/ficha-aviso/features_usado.jade
				
				if settings_contact.is_particular
					+contact_advertiser_particular(settings_contact)
				else
					+contact_advertiser(settings_contact)
		aside.right
			include ../../../../../_render/modules/ficha-aviso/aside.jade

	section.more_cars
		.center_box
			.ficha_box_title
				h4 	SIMILARES POR PRECIO
			+show_grid_vehicles("$this->carsConcesionario",4)
			.ficha_box_title
				h4 SIMILARES POR TIPO DE VEHICULO
			+show_grid_vehicles("$this->carsConcesionario",4)
			.ficha_box_title
				h4 SIMILARES POR MARCA Y MODELO
			+show_grid_vehicles("$this->carsConcesionario",4)


include ../../../../../_mixins/modules/ficha-aviso/index/ficha-usado.jade