mixin galeria(galeria)
    .item_images        
        block imagesItem
        .views
            span.btn_action.photo(href="#photo", title="mostrar fotos")
                .mask
                span
                    !=galeria.totalFotos
                i.icon.icon_camera
            //- span.btn_action.video(href="#video", title="mostrar videos")
            //-     .mask
            //-     span 12
            //-     i.icon.icon_video             
            
mixin item_search_premium(obj)
    li.item_car.list_premium
        .item_head
            a(href!="#{obj.publication_link}")
                h2
                    !=obj.publication_title
                .stick
                    span
                        !=obj.publication_status
        .item_body
            .grid.grid_9
                +galeria(obj.galeria)
                .item_detail                           
                    a(href!="#{obj.publication_link}")
                        p 
                            != obj.publication_combustible_transmition
                        p
                            != obj.publication_versions_length + " versiones"
                        p.itm_location 
                            != obj.publication_location
                        p.itm_description
                            != obj.publication_description
                .item_detail_mobile
                    a(href!="#{obj.publication_link}")
                        p
                            != obj.publication_transmition
                        p
                            != obj.publication_versions_length + " versiones"
                        p
                            != obj.publication_combustible
            .grid.grid_3
                a.link(href!="#{obj.publication_link}")
                .itm_price(title!="#{obj.publication_price_title}")
                    !=obj.publication_price
                block concesionario
                    //- added block concesionario
                .itm_certification
                    img(src!="#{obj.certification_image}")

mixin item_search_concesionario(obj)
    li.item_car.list_concessionaire
        .item_head
            a(href!="#{obj.publication_link}")
                h2
                    !=obj.publication_title
                //- .stick
                //-     span
                //-         !=obj.publication_status
        .item_body
            .grid.grid_9
                +galeria(obj.galeria)
                .item_detail                           
                    a(href!="#{obj.publication_link}")
                        p 
                            //- != '<span class="itm_combustible"> ' + obj.publication_combustible +'</span> <span class="separator">|</span>' + obj.publication_transmition
                            != obj.publication_combustible_transmition
                        p
                            != obj.publication_km
                        p.itm_location 
                            != obj.publication_location
                        p.itm_description
                            != obj.publication_description
                .item_detail_mobile
                    a(href!="#{obj.publication_link}")
                        p
                            != obj.publication_transmition
                        p 
                            != obj.publication_km
                        p
                            != obj.publication_combustible
            .grid.grid_3
                a.link(href!="#{obj.publication_link}")
                .itm_price(title!=" #{obj.publication_price_title}")
                    !=obj.publication_price
                block concesionario
                    //- added block
                .itm_certification
                    img(src!="#{obj.certification_image}")

mixin item_search_pago(obj)
    li.item_car.list_payment                        
        .item_head
            a(href!="#{obj.publication_link}")
                h2
                    !=obj.publication_title
        .item_body
            .grid.grid_9
                +galeria(obj.galeria)
                .item_detail
                    a(href!="#{obj.publication_link}")
                        p 
                            //- != '<span class="itm_combustible"> ' + obj.publication_combustible +'</span> <span class="separator">|</span>' + obj.publication_transmition
                            != obj.publication_combustible_transmition
                        p
                            != obj.publication_km
                        p.itm_location 
                            != obj.publication_location
                        p.itm_description
                            != obj.publication_description
                .item_detail_mobile
                    a(href!="#{obj.publication_link}")
                        p
                            != obj.publication_transmition
                        p
                            != obj.publication_km 
                        p
                            != obj.publication_combustible
            .grid.grid_3
                a.link(href!="#{obj.publication_link}")
                .itm_price(title!=" #{obj.publication_price_title}")
                    !=  obj.publication_price
                    //- added
                .itm_certification
                    img(src!="#{obj.certification_image}")

mixin item_search_default(obj)
    li.item_car.list_default                            
        .item_head
            a(href!="#{obj.publication_link}")
                h2
                    !=obj.publication_title
        .item_body
            .grid.grid_9
                +onlyImageDefault(obj)
                .item_detail
                        a(href!="#{obj.publication_link}")
                            p 
                                //- != '<span class="itm_combustible"> ' + obj.publication_combustible +'</span> <span class="separator">|</span>' + obj.publication_transmition
                                != obj.publication_combustible_transmition
                            p
                                != obj.publication_km
                            p.itm_location 
                                != obj.publication_location
                .item_detail_mobile
                    a(href!="#{obj.publication_link}")
                        p
                            != obj.publication_transmition
                        p 
                            != obj.publication_km
                        p
                            != obj.publication_combustible
            .grid.grid_3
                a.link(href!="#{obj.publication_link}")
                .itm_price(title!="#{obj.publication_price_title}")
                    != obj.publication_price

mixin item_search_partial_concesionario(obj)
    .itm_concessionaire
        .helper_center
        a(href!="#{obj.url}")
            img(src!="#{page.url.elements}#{obj.image}#{page.version}")


mixin addSlider(params)
    .slider(data-slug!="#{params.galeria.slug}" data-baseimage!="#{params.galeria.baseImage}")
        .item                                                    
            figure
                .helper_center
                a(href!="#{params.publication_link}")
                    img.lazy(src!="#{page.url.image}loader_black.gif" data-original!="#{page.url.elements}#{params.galeria.image}#{page.version}")
    .arrows
        span.icon.icon_arrow_left
        span.icon.icon_arrow_right

mixin onlyImage(params)
    .item                              
        figure
            .helper_center
            a(href!="#{params.publication_link}")
                img.lazy(src!="#{page.url.image}loader_black.gif" data-original!="#{page.url.elements}#{params.galeria.image}#{page.version}")

mixin onlyImageDefault(params)
    .item_images
        a(href!="#{params.publication_link}")                            
            figure
                .helper_center
                img.lazy(src!="#{page.url.image}loader.gif" data-original!="#{page.url.elements}#{params.galeria.image}#{page.version}")
   