script(src!="#{page.url.static}js/dist/libs/jquery/dist/jquery.min.js#{page.version}", type="text/javascript")
script(src!="#{page.url.static}js/dist/libs/yosonjs/dist/yoson.js#{page.version}", type="text/javascript")
script(src!="#{page.url.static}js/dist/libs/yosonjs-utils/yosonjs-utils.js#{page.version}", type="text/javascript")
script(src!="#{page.url.static}js/dist/scripts/all/all.min.js#{page.version}", type="text/javascript")
script(src!="#{page.url.static}js/dist/scripts/#{page.module}/#{page.controller}/#{page.controller}.min.js#{page.version}", type="text/javascript")
script(src!="#{page.url.static}js/dist/libs/yosonjs-utils/modules.js#{page.version}", type="text/javascript")
script(src!="#{page.url.static}js/dist/libs/yosonjs-utils/appLoad.js#{page.version}", type="text/javascript")
//-script(src="#{page.static_url}js/dist/scripts/all/all.min.js#{page.version}", type="text/javascript")

script(type="text/template" id="tplLogin")
	+login_your_account("modal")
script(type="text/template" id="tplSaveSearch")
	.popup_save
		.box_save.bg_pattern_diamond
			.title Guardar búsqueda
			p Nombre de la búsqueda
			form(action="" method="post", class="frm_save_search")
				input.border_gray.txt_search(type="text", name="nameSearch", maxlength="60", placeholder="Ingresa el nombre de tu búsqueda", required)
				.field
					input.switchery(type="checkbox" name="mailSearch")
					label Deseo que me lleguen alertas a mi correo personal, con los útimos avisos según esta búsqueda
					input(type="hidden" name="token" value="{{= nroToken}}")
					input(type="hidden" name="urlRedirec" value!="<?php echo $this->serverUrl(true); ?>")
				ul.list_responses
					li
						input(type="radio",id="opt1", name="responseSearch", value="1", checked="checked")
						label(for="opt1") Una vez a la semana
					li
						input(type="radio",id="opt2" name="responseSearch", value="2")
						label(for="opt2") Una vez al día

				.center_box
					button.btn.btn_diagonal.bg_orange(type="submit") Aceptar
					a.btn.btn_diagonal.bg_gray Cancelar
script(type="text/template" id="tplSaveSearchMessage")
	.popup_save
		.box_save.bg_pattern_diamond
			.title Guardar búsqueda
			|	{{
			|		message = "Tu búsqueda ha sido guardada";			
			|		if(tpl == "error"){
			|			message = "Ya cuenta con "+nroAlertas+" alertas registradas";
			|		}
			|	}}
			p {{=message}}
			br
			p Para ver la configuración de tus búsquedas guardadas ingresa a:
			a.saved_searches(href="/alerta/mialerta/registro") Ver Búsquedas Guardadas <span class="number_alerts">{{=nroAlertas}}</span>			

script(type="text/template" id="tplItemSlider")
	|	{{
	|		_.each(data.images, function(item){
	|	}}	
	.item
		figure
			.helper_center
			a(href!="{{= url}}")
				img(src!="{{= data.baseImage}}/{{= item}}")
	|	{{ 
	|		}); 
	|	}}
//- ClickTale Bottom part
script(type="text/javascript").
	document.write(unescape("%3Cscript%20src='"+
	(document.location.protocol=='https:'?
	"https://cdnssl.clicktale.net/www02/ptc/4d7ec046-1334-4aa8-86ab-2b2479fa7699.js":
	"http://cdn.clicktale.net/www02/ptc/4d7ec046-1334-4aa8-86ab-2b2479fa7699.js")+"'%20type='text/javascript'%3E%3C/script%3E"));
//- ClickTale end of Bottom part

//- orden alfabetico
script(type="text/template" id="tplAlphabet")
	ul.cars_by_brand_and_model
		|	{{
		|		var listOne = data.length
		|		for (var i = 0; i < listOne; i++) {
		|	}}	
		li
			a(href!="#{page.url.base}/{{=data[i].url}}") {{=data[i].name}}
		|	{{
		|		};
		|	}}	
//- fin orden
