script(type="text/javascript").
	var yOSON = {
		"module": "!{page.module}",
		"controller": "!{page.controller}",
		"action": "!{page.action}",
		"baseHost": "!{page.url.base}",
		"statHost": "!{page.url.static}",
		"eHost": "!{page.url.elements}",
		"statVers": "!{page.version}",
		"AppCore": {},
		"AppSandbox": {},
		"AppSchema": {
			"modules": {},
				"requires": {}
		},
		"tmp" : <?php echo $this->tmp?>,
		"eplanningConfig": {
		     iIF: 1,
		     sV: "//ads.us.e-planning.net/",
		     vV: "4",
		     sI: "8aeb",
		     sec: "<?php echo $this->eplanningSec;?>",
		     eIs: ["Top", "Right1", "Logo", "Expandible", "Right2", "Middle", "Bottom", "Box1"]
		 },
		"static" : false,
		"url" :  !{JSON.stringify(page.url)},
		"isLogged" : true
	}

script(type="text/javascript").
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;
	i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();
	a=s.createElement(o),m=s.getElementsByTagName(o)[0];
	a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})
	(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	ga('create', '!{page.code_tracking}', 'auto');
	ga('require', 'displayfeatures');
	ga('send', 'pageview');

// ClickTale Top part
script(type="text/javascript").
	var WRInitTime=(new Date()).getTime();
// ClickTale end of Top part

+ie('if ( gt IE 8 )|!(IE)')
	script(type="text/javascript").
		window.ClickTaleSettings = { XHRWrapper: { Enable: true, MaxResponseSize: 1000000} };
		document.write(unescape("%3Cscript%20src='" + (document.location.protocol == 'https:' ?'https://clicktalecdn.sslcs.cdngc.net/www/' :'http://cdn.clicktale.net/www/') +"XHRWrapper.js'%20type='text/javascript'%3E%3C/script%3E"));

// TAQUEGO CODIGO DAX
// Begin comScore UDM code 1.1104.26
// <![CDATA[
script(type="text/javascript").
	function comScore(t){var b="comScore",o=document,f=o.location,a="",e="undefined",g=2048,s,k,p,h,r="characterSet",n="defaultCharset",m=(typeof encodeURIComponent!=e?encodeURIComponent:escape);if(o.cookie.indexOf(b+"=")!=-1){p=o.cookie.split(";");for(h=0,f=p.length;h<f;h++){var q=p[h].indexOf(b+"=");if(q!=-1){a="&"+unescape(p[h].substring(q+b.length+1))}}}t=t+"&ns__t="+(new Date().getTime());t=t+"&ns_c="+(o[r]?o[r]:(o[n]?o[n]:""))+"&c8="+m(o.title)+a+"&c7="+m(f&&f.href?f.href:o.URL)+"&c9="+m(o.referrer);if(t.length>g&&t.indexOf("&")>0)
	{s=t.substr(0,g-8).lastIndexOf("&");t=(t.substring(0,s)+"&ns_cut="+m(t.substring(s+1))).substr(0,g)}if(o.images){k=new Image();if(typeof ns_p==e){ns_p=k}k.src=t}else{o.write('<p><'+'img src="'+t+'" height="1" width="1" alt="*"></p>')}};
	comScore('http'+(document.location.href.charAt(4)=='s'?'s://sb':'://b')+'.scorecardresearch.com/p?c1=2&c2=6906602&ns_site=clasificados-neoauto&name=!{page.nameDax}');
// ]]>
// End comScore UDM code
// =======================================================