extends ../../../../../layouts/scripts/modules/home/layout.jade
//- index/index

block content
    <?php echo $this->form;?>

    <?php if(is_array($this->messages) && count($this->messages)>0 ) : ?>
    ul
        <?php foreach($this->messages as $index):?>
        li  <?php echo $index; ?>
        <?php endforeach;?>
    <?php endif; ?>
    br
    a#linkFacebook.link(href!="<?php echo $this->urlFacebook;?>") LOGIN FACEBOOK
