extends ../../../../../layouts/scripts/modules/home/layout.jade
//- index/index

block content
    <?php if(count($this->mensaje)>0 ) { ?>
    p <?php echo $this->mensaje;?>
    a#linkHome.link(href!="<?php echo $this->baseUrl()?>") Recuperar Contraseña
    <?php }else{ ?>
    p Ud. puede ahora cambiar su antigua contraseña por una nueva:
    <?php echo $this->form; ?>
    <?php }?>

include ../../../../../_mixins/modules/auth/recover/update-password.jade	    