.results	
	+mobile()
		float left
		width 868px

.head_results
	font-size 13px
	background-color white
	position relative
	width 76.95%
	float right
	margin-bottom 18px
	+tablet()
		font-size 12px
		width 73.8%
	+mobile()
		width 100%
	font-family $familyHelvetica	
	.showing_items
		float left
		height 32px
		line-height 36px
		+mobile()
			height 28px
			line-height 18px
			width 100%
			float none
		strong
			font-size 16px
			+tablet()
				font-size 14px
.options_filters	
	float right
	+mobile()
		display none
	.type_view
		width 78px
		margin-left 5px
		a
			display block
			width 34px
			height 32px
			border-radius 4px
			color #777
			line-height 32px
			text-align center
			font-size 26px
			float left
			margin-left 5px
			&.active
				background $orange_01
				color white
	.order
		display inline-block
		vertical-align top
		width 255px
		>
			span
				float left
				display inline-block
				line-height 33px
		.content_select
			width 170px
			height 28px
			display inline-block
			margin 0 0 0.005%
			float right
			&.content_select
				border-top-width 3px			
			select
				height 28px
				font-size 15px
				color #424141
				+tablet()
					font-size 14px
			.icon
				height 28px
				line-height 31px
				border-radius 4px
				margin-top -1px
				margin-right -1px
	.type_view
		display inline-block		
.option_filters_mobile
	+mobile()
		display block
	display none
	width 100%
	height 40px
	padding 10px 0
	line-height 40px
	border-top 1px solid #ccc
	border-bottom 1px solid #ccc
	&.sticky
		position fixed
		top 0
		left 0
		right 0
		height 80px
		background rgba(255,255,255,0.9)
		z-index 2
		border 0
		box-shadow 0 3px 4px 0 rgba(20,20,20,.35)
		overflow hidden
		.icons_filters
			width 63%
			select
				left 0
		.icons_actions,
		.text_filters
			display block
		.icon
			text-align left
		.icons_actions
			.icon
				border-radius 4px
				padding 3px
				text-align center
				margin-top -2px
				float right
				width auto
				&.active
					background $orange_03
					color white
			
	.icons_filters
		width 100%
		float left
		height 52px
		transition .3s linear all
	.icons_actions
		width 37%
		float left
		height 40px
		display none
	.text_filters
		width 100%
		height 40px
		display none
		.icon_filter_up
			position absolute
			right 0
			top -7px
			font-size 32px
			width 30px
			cursor inherit
			
	.icon
		width 30%
		margin-right 3%
		float center
		text-align center
		font-size 36px
		color #777
		margin-top 3px
		position relative
		&.active
			color $orange_03
		&.icon_filter_exit
			font-weight 300
		select
			border none
			width 50px
			height 40px
			position absolute
			opacity 0
			left 20%
			font-size 14px
// no results
.no_results
	height 38px !important
	.text_filters
		height 0px
	.icon_filter_down
		display none
// results
.body_results
	min-height 200px
	position relative
	z-index 1
	width 76.95%
	float right
	transition all .3s
	+tablet()
		width 73.75%
	+mobile()
		float left
	.eplanning
		margin-bottom 15px	
	>ul
		width 100%
		float left
		min-height 400px
		margin-bottom 60px
	li.item_car
		width 100%
		min-height 100px
		margin-bottom 15px
		position relative
		> a
			display block
		.item_detail
			a
				color #000
				display block
				height 90%
				padding-top 5%		
		&.list_premium
			max-height 200px
			.item_head
				height 37px
				background $azul_search
				h2
					color white
					font-size 16px
					font-weight 600
					text-shadow 0px 0px rgba(250,250,250,0)
				span
					&:before
						background #F6F6F6
			.item_body
				background #F6F6F6
				border-top 0
				border-left 0
				border-right 0
				height 163px		
			.stick
				p
					&:before
						background #F6F6F6 !important
		&.list_concessionaire
			max-height 200px
			.item_head
				height 33px
				background #C0E1F4
				border 1px solid #C0E1F4
				border-top 4px solid $azul_search
				h2
					line-height 34px
				.stick
					top -6px !important
					search_item_sticky($azul_web, #073E5C)
					+mobile()
						display none
			.item_body
				height 163px
				border-top 0
		&.list_payment
			max-height 200px
			.item_head
				height 33px
				background #eee
				border 1px solid #eee
				border-top 4px solid $azul_search
			.item_body
				height 163px
				border-top 0
				.arrows
					display none
		&.list_default
			max-height 136px
			.item_head
				border 1px solid #ccc
				height 33px
			.item_body
				height 103px
				border-top 0
			.item_images
				figure
					width 150px
					height 103px
					border-right 1px solid #ccc
					background white
					img
						max-width 75%
					+mobile()
						width 99%
						img
							max-width 85%
	.item_head
		height 34px
		width 100%
		position relative
		h2
			height 34px
			line-height 36px
			margin 0
			margin-left 2%
			font-size 18px
			text-transform capitalize
			font-weight 500
			color $gray_05
			width 80%
			white-space nowrap
			overflow hidden
			text-overflow ellipsis
			text-shadow 0px 0px rgba(0,0,0,0.5)
			+mobile()
				font-size 15px
				width 59%
		.stick
			search_item_sticky($orange_03, #b5680b)
	.item_body
		width 100%
		border 1px solid #ccc
		.link
			position absolute
			width 100%
			height 100%
			display block
			z-index 1
		+mobile()
			height 107px !important
		.grid
			height 100%
			position relative
	// .eplanning
	// 	width 740px
	// 	height 130px
	// 	background #ccc
	// 	margin 10px auto
	.no_results_message
		text-align center
		// background #F0F0F0
		padding 0px 10px
		// padding-bottom 372px
		p
			font-size 18px
			padding 15px 0
			margin-bottom 15px
			border-bottom 1px solid #ccc
			font-weight bolder		
.item_images		
	width 196px
	height 164px	
	display inline-block
	position relative
	float left
	overflow hidden
	+between(668px, 790px)
		width 155px
	+mobile()
		width 127px
		height 107px
	.slick-list, .slick-track
		height 100%
		cursor move
	.slider
		overflow hidden	
	.slider, .item
		width 100%
		height 100%
	.slider
		opacity 1
		transition .1s linear all
		&.loading
			opacity .8
			transition .1s linear all
	.arrows
		+mobile()
			display none
	/*.arrows,
	.slick-dots	
		display none
	&.loaded		
		&:hover
			.arrows,
			.slick-dots
				display block*/
				
	figure
		width 100%
		height 163px
		+mobile()
			height 100%
		overflow hidden
		text-align center
		background black url("../../../img/loader_black.gif") no-repeat center center
	img
		max-width 100%
		vertical-align middle
		+desktop()	
			max-width 196px
			max-height 164px
		+mobile()
			width auto
			height auto
			max-height 100%
		&.lazy
			display none
	.arrows
		// display none
		.icon
			position absolute
			top 39%
			cursor pointer
			color #383838
			height 40px
			width 25px
			background white
			line-height 40px
			font-size 25px
			border-radius 5px
			opacity .6
		.icon_arrow_left
			left -3px
		.icon_arrow_right
			right -3px
	.btn_action
			position absolute
			z-index 1
			width 40px
			height 20px
			padding 5px
			bottom 0
			float left
			left 0
			color white
			&.video
				left 55px
			.mask
				top 0
				left 0
				right 0
				bottom 1px
				z-index -1
			>span
				font-size 12px
				margin-right 2px
.item_detail,
.item_detail_mobile
	width 59%
	float left
	height 100%
	min-height 50px
	font-size 13px	
	+tablet()
		width 52.5%
	+between(200px, 345px)
		width 40% !important
	+mobile()
		width 44%
		padding-top 45px
		overflow hidden
		height 60px
		p
			white-space nowrap
			overflow hidden
			text-overflow ellipsis
	p
		margin-left 5%
		line-height 18px
		.separator
			margin 0 5px
			font-size 11px
			position relative
			top -1px
		&.itm_description
			margin-top 20px
			height 55px
			overflow hidden
			visibility hidden
			+tablet()
				visibility hidden
			+mobile()
				display none !important
				
.itm_price
	position absolute
	max-width 250px
	width 150%
	text-align right
	top 15px
	right 15px
	font-size 12px
	overflow hidden
	line-height 18px
	+tablet()
		max-width 180px
		span
			font-size 20px !important			
	+mobile()
		width 220%
		top 13px
		right 12px
		span
			font-size 19px !important
	span
		font-size 23px
		font-weight bold
		color #222
		max-width 74%
		float right
		height 20px
		overflow hidden
		white-space nowrap	
		text-overflow ellipsis
		margin-left 3px
		letter-spacing -.04em
.itm_concessionaire
	width 80px
	height 64px	
	background white
	position absolute
	right 20px
	top 55px
	z-index 2
	+mobile()
		display none
		// width 60px
		// height 40px
		// margin-right 10px
		// margin-top 40px
		// position inherit
		// right inherit
		// top inherit
		// float right
	img
		width 100%
		height auto
		text-align center
		vertical-align middle
.itm_certification
	width 180px
	height 30px
	position absolute
	bottom 10px
	right 15px	
	+tablet()
		width 130px
	+mobile()
		width 130px
		margin-right 10px
		position inherit
		right inherit
		bottom inherit
	img
		width auto
		max-width 100%
		height auto
.itm_combustible,
.itm_location,
.separator
	+mobile()
		display none

.list_default
	+desktop()
		.item_images
			width 196px
			height auto
.item_detail
	display block
	+mobile()
		display none
.item_detail_mobile
	display none
	+mobile()
		display block
		width 44%
		padding-top 40px
		overflow hidden
		height 60px
		a
			color #000
		p
			white-space nowrap
			overflow hidden
			text-overflow ellipsis
			font-size 13px
			margin-left 5%
			line-height 16px


.main_search
	position relative
	+between(280px,400px)
		width 93%
	+between(200px,300px)
		.body_results
			width 34% !important
	+between(300px,400px)
		.body_results
			width 35% !important
	// +between(400px, 650px)
	// 	.results
	// 		margin-left -323px !important
	+mobile()
		width 95.9%	
		.body_results
			width 35.5%
			transition all .5s
			>ul
				width 161.2%
			.item_car
				width 99%
		.results
			transform translateX(-313px)
			// margin-left -313px
			transition all .5s	
			width 176%
		&.open
			overflow hidden
			.results
				// margin-left 0
				transform translateX(0)
				transition all .5s			