- settings_contact.is_show_title = false; // Esta variable es para quitar el titulo en el aside
- settings_contact.recaptcha_message_name = "aside_recaptcha_message"
- settings_contact.recaptcha_phone_name = "aside_recaptcha_phone"

if settings_contact.is_particular
    +contact_advertiser_particular(settings_contact)
else
    +contact_advertiser(settings_contact)


.eplanning(data-eplanningId="Right1")
.services
    .services_header
        h4 SERVICIOS
        .img_comparabien
    .collapser
        .box_inner.box_expandible
            .box_title
                p BUSCO SOAT
                i.header_section_icon.icon.icon_arrow_up

            .box_content
                form
                    p aqui contenido
        //- end box
        .box_inner.box_expandible
            .box_title
                p BUSCO UN SEGURO VEHICULAR
                i.header_section_icon.icon.icon_arrow_up
            .box_content
                form
                    p hola
        //- end box
        .box_inner.box_expandible(class="open")
            .box_title
                p BUSCO UN CREDITO VEHICULAR
                i.header_section_icon.icon.icon_arrow_up
            .box_content
                form.form_comparabien.form_credit_vehicle(method="post" action="/")
                    input.solid.inp(type="tel" name="valor" placeholder="Valor del vehiculo US$")
                    .content_select
                        span.icon.icon_arrow_down
                        select.control_select(name="plazo")
                            option(value="") Plazo de Prestamo 
                            option(value="1") 1 mes
                            option(value="2") 2 mes
                    .content_slider
                        p ingresos mensuales
                        .control_slider
                            .line
                            .drag
                        .txt_slider 40,000
                    input.solid.inp(type="email" name="email" placeholder="Ingresa tu correo")
                    input#chk_promotions(type="checkbox" name="promocion" checked="checked") 
                    label.checkbox(for="chk_promotions")
                    p.txt_promotions Quiero recibir consejos y promociones por email.
                    button.btn.btn_diagonal.bg_orange(type="submit") BUSCAR
        //- end box
.blog
    .box_inner
        .box_title
            p NOTICIAS NEOAUTO
        .box_content
            <?php foreach($this->blogs as $blog) : ?>
            li
                a(href!="<?php echo $blog['link'] ?>")
                    img(src!="#{page.url.elements}/blog/264x180/<?php echo $blog['image']  ?>")
                    span <?php echo utf8_decode($blog['title'])?>
            <?php endforeach ?>

