.features_nuevo(data-total-version!="<?php echo count($this->ficha['extraNuevos']['versiones']) ?>")
    .features_more_versions
        p 
            span Más versiones
            i.icon.icon_arrow_right_button
    .features_nuevo_inner
        .loading_content
                    .loading_gif
                    small Cargando
        .features_nuevo_content
            .features_header
                - var params  = {}

                - params.versions = []        
                - params.fields = {}

                - params.fields.version = 'Versión'
                - params.fields.desde = 'Desde'


                .feature
                    .feature_body             
                        //- Header de nombres de campos
                        table.feature_fields_table(border="0", cellspacing="0", cellpadding="0")
                            thead
                                each field_value, field_key in params.fields
                                    tr                    
                                        th
                                            !=field_value
                        //- Valores de campos por versiones
                        .u_table_values_content        
                            .u_flex_content
                                <?php foreach($this->ficha['extraNuevos']['versiones'] as $version): ?>
                                table.feature_value_table(border="0", cellspacing="0", cellpadding="0")
                                    tbody
                                        tr
                                            th
                                                <?php echo $version['NombreVersion'] ?>
                                        tr
                                            th
                                                <?php echo $version['PrecioOferta'] ?>
                                <?php endforeach ?>

            .features_body   

            - var params  = {}

            - params.versions = []
            - params.name_feature = 'Motor'

            <?php if(count($this->ficha['camposVersiones']['campoMotor']) > 0): ?>
            .feature
                .feature_header
                    h4.header_section_title
                        !=params.name_feature
                    i.header_section_icon.icon.icon_arrow_up
                .feature_body             
                    //- Header de nombres de campos
                    table.feature_fields_table(border="0", cellspacing="0", cellpadding="0")
                        thead
                            <?php foreach($this->ficha['camposVersiones']['campoMotor'] as $campo): ?>
                            tr
                                th
                                    <?php echo $campo?>
                            <?php endforeach ?>
                    //- Valores de campos por versiones
                    .u_table_values_content        
                        .u_flex_content
                            <?php foreach($this->ficha['camposVersiones']['motores'] as $motores): ?>
                            table.feature_value_table(border="0", cellspacing="0", cellpadding="0")
                                tbody
                                    <?php foreach($motores as $motor): ?>
                                    tr
                                        th
                                            <?php if($motor != null):  ?>
                                            <?php echo $motor ?>
                                            <?php else: ?>
                                            span.u_no_property -
                                            <?php endif ?>
                                    <?php endforeach ?>
                            <?php endforeach ?>
            <?php endif ?>

            - params.name_feature = 'Transmisión y Chasis'
            - params.fields = {}
            <?php if(count($this->ficha['camposVersiones']['campoTransmision']) > 0): ?>
            .feature
                .feature_header
                    h4.header_section_title
                        !=params.name_feature
                    i.header_section_icon.icon.icon_arrow_up

                .feature_body
                    //- Header de nombres de campos
                    table.feature_fields_table(border="0", cellspacing="0", cellpadding="0")
                        thead
                            <?php foreach($this->ficha['camposVersiones']['campoTransmision'] as $transmision): ?>
                            tr
                                th
                                    <?php echo $transmision ?>
                            <?php endforeach?>
                    //- Valores de campos por versiones
                    .u_table_values_content
                        .u_flex_content
                            <?php foreach($this->ficha['camposVersiones']['transmisiones'] as $transmisiones): ?>
                            table.feature_value_table(border="0", cellspacing="0", cellpadding="0")
                                tbody
                                    <?php foreach($transmisiones as $transmision): ?>
                                    tr
                                        th
                                            <?php if($transmision != null): ?>
                                            <?php echo $transmision ?>
                                            <?php else: ?>
                                            span.u_no_property -
                                            <?php endif?>
                                    <?php endforeach ?>
                            <?php endforeach ?>
            <?php endif ?>

            - params.name_feature = 'Dimensiones y Capacidades'
            - params.fields = {}

            <?php if(count($this->ficha['camposVersiones']['campoDimension']) > 0): ?>
            .feature
                .feature_header
                    h4.header_section_title
                        !=params.name_feature
                    i.header_section_icon.icon.icon_arrow_up
                .feature_body
                    //- Header de nombres de campos
                    table.feature_fields_table(border="0", cellspacing="0", cellpadding="0")
                        thead
                            <?php foreach($this->ficha['camposVersiones']['campoDimension'] as $dimension): ?>
                            tr
                                th
                                    <?php echo $dimension?>
                            <?php endforeach ?>
                    //- Valores de campos por versiones
                    .u_table_values_content
                        .u_flex_content
                            <?php foreach($this->ficha['camposVersiones']['dimensiones'] as $dimensiones): ?>
                            table.feature_value_table(border="0", cellspacing="0", cellpadding="0")
                                tbody
                                    <?php foreach($dimensiones as $dimension): ?>
                                    tr
                                        th
                                            <?php if($dimension != null): ?>
                                            <?php echo $dimension ?>
                                            <?php else: ?>
                                            span.u_no_property -
                                            <?php endif ?>
                                    <?php endforeach ?>
                            <?php endforeach ?>
            <?php endif ?>

            //-  Features con check
            - var params_3  = {}
            - params_3.name_feature = 'Equipamientos Estandar'

            <?php if (count($this->ficha['camposVersiones']['campoAccesorio']) > 0): ?>
            .feature.feature--table_with_checks
                .feature_header
                    h4.header_section_title
                        !=params_3.name_feature
                    i.header_section_icon.icon.icon_arrow_up
                .feature_body             
                    //- Header de nombres de campos
                    table.feature_fields_table(border="0", cellspacing="0", cellpadding="0")
                        thead
                            <?php foreach ($this->ficha['camposVersiones']['campoAccesorio'] as $accesorio ): ?>
                            tr
                                th
                                    <?php echo $accesorio ?>
                            <?php endforeach ?>
                    //- Valores de campos por versiones
                    .u_table_values_content        
                        .u_flex_content
                            <?php foreach ($this->ficha['camposVersiones']['accesorios2'] as $accesorios): ?>
                            table.feature_value_table(border="0", cellspacing="0", cellpadding="0")
                                tbody
                                    <?php foreach ($accesorios as $accesorio): ?>
                                    tr
                                        th
                                            <?php if($accesorio): ?>
                                            i.icon.icon_check.u_icon_check
                                            <?php else: ?>
                                            span.u_no_property -
                                            <?php endif ?>
                                    <?php endforeach ?>
                            <?php endforeach ?>
            <?php endif ?>
