.features_usado
    section.feature.feature_first
        h2.ficha_box_title Características del Vehículo    
        .feature_box 
            - var params = {}
            - params['Marca']  = "<?php echo (isset($this->ficha['nombreMarca'])? ucfirst($this->ficha['nombreMarca']): ''); ?>"
            - params['Modelo'] = "<?php echo (isset($this->ficha['nombreModelo'])? ucfirst($this->ficha['nombreModelo']): ''); ?>"
            - params['Año']    = "<?php echo (isset($this->ficha['anio'])? ucfirst($this->ficha['anio']): ''); ?>"
            - params['Kilometraje'] = "<?php echo (!empty($this->ficha['kilometraje'])? ucfirst($this->ficha['kilometraje']): ''); ?>"
            - params['Tipo de transmisión'] = "<?php echo (!empty($this->ficha['nombreTransmision'])? ucfirst($this->ficha['nombreTransmision']): ''); ?>"
            +feature_table(params)

    section.feature.feature_secondary        
        h2.ficha_box_title Accesorios
        <?php foreach ($this->ficha['extraUsados']['accesorios'] as $key => $reg) :?>
        .feature_box
            .feature_header
                h3.header_section_title <?php echo $key;?>
            .feature_body
                .feature_table
                    <?php foreach ($reg as $key2 => $val) :?>
                    .box                
                        i.icon.icon_check.u_icon_check
                        small <?php echo $val['NombreAccesorio'];?>
                    <?php endforeach;?>
        <?php endforeach;?>