section.gallery
	.mask_gallery
		.loading
			div
		.list_masks
			<?php foreach($this->ficha['imagenes'] as $key => $val ) : ?>
			.item
				div
					a(href="#middle")
						img(src!="#{page.url.elements}<?php echo $this->ficha['fotoPath']['featured'].'/'.$val;?>#{page.version}")
			<?php endforeach; ?>
		.controls_slides_masks
			.arrows
				span.icon.icon_arrow_left.mask
				span.icon.icon_arrow_right.mask
		block stick_nuevo
			<?php if (isset($this->ficha['slugCondicion']) && $this->ficha['slugCondicion'] == Model_Auto::ESTADO_NUEVO_SLUG) :?>
			.stick
				span auto nuevo
			<?php endif;?>
		.options_view
			block logo_mafre
				a.logo_safe(href="#secure")
					img(src!="#{page.url.image}ficha/icon_mafre.jpg#{page.version}")
			a.button(href="#camera")
				.mask
				span <?php echo $this->ficha['cantFotos'] ?>
				i.icon.icon_camera
			//- a.button(href="#video")
			//- 	.mask
			//- 	span 2
			//- 	i.icon.icon_video
			a.button.zoom(href="#fullscreen")
				.mask
				span
				i.icon.icon_fullscreen

	.thumbs_gallery
		.wrapper
			- var classActive = ""
			- var imagesModal = ['car1_modal', 'car2_modal', 'car2_modal', 'car2_modal', 'car2_modal']			
			<?php foreach($this->ficha['imagenes'] as $key => $val ) : ?>
			<?php $classActive = ($key == 0) ? 'active':"";?>			
			.item(class!="<?php echo $classActive;?>")
				div
					a(href="#", data-view!="#{page.url.elements}<?php echo $this->ficha['fotoPath']['featured'].'/'.$val;?>#{page.version}", data-modal!="#{page.url.elements}<?php echo $this->ficha['fotoPath']['carrusel'].'/'.$val;?>#{page.version}")
						img(src!="#{page.url.elements}<?php echo $this->ficha['fotoPath']['size1'].'/'.$val;?>#{page.version}")
			<?php endforeach; ?>				
		.controls_slides_thumb
			.arrows
				span.icon.icon_arrow_left.thumb
				span.icon.icon_arrow_right.thumb
