h3 Autos por categoría

ul.vehicles_category
    <?php foreach ($this->tipoVehiculos as $key => $value) : ?>
    li
        a(href!="#{page.url.base}/venta-de-autos-<?php echo $value['slug']; ?>")
            figure
                .hack_center_vertical
                img(src!="#{page.url.image}sitemap/categorias/<?php echo $value['img'] .'.png'?>")
                p<?php echo $value['nombre']?>
    <?php endforeach ?>
    
h3 Autos por marca
<?php for ($i=0; $i < 5 ; $i++):?>
ul.cars_by_brand
    <?php foreach ($this->marcas[$i] as $key => $value) : ?>
    li
        a(href!="#{page.url.base}/venta-de-autos-<?php echo $value->slug; ?>") <?php echo $value->nombre; ?>    
    <?php endforeach ?>
<?php endfor ?>

h3.scroll_title Autos por marca y modelo

.options_alphabet
    <?php for ($i=0; $i < count($this->letters); $i++) : ?>
    a(class!="letter letter_<?php echo strtolower($this->letters[$i]) ?>" data-letter!="<?php echo strtolower($this->letters[$i]) ?>") <?php echo $this->letters[$i] ?>
    <?php if ($this->letters[$i] != $this->letters[count($this->letters) -1] ) : ?>
    span |
    <?php endif ?>
    <?php endfor ?> 
.box_content_list
        
            
h3 Autos por AÑO
<?php for ($i=0; $i < count($this->anios) ; $i++) : ?>
ul.vehicles_year
    <?php foreach ($this->anios[$i] as $key => $value) : ?>
    li
        a(href!="#{page.url.base}/<?php echo $value['url'] ?>") <?php echo $value['label'] ?>
    <?php endforeach ?>
<?php endfor ?>

h3 Autos por precio
ul.vehicle_price
    li
        a(href!="#{page.url.base}/venta-de-autos?precio_max=10000") Menos de US$ 10,000
    li
        a(href!="#{page.url.base}/venta-de-autos?precio_min=10000&precio_max=15000") de US$ 10,000 a US$ 15,000
    li
        a(href!="#{page.url.base}/venta-de-autos?precio_min=15000&precio_max=20000") de US$ 15,000 a US$ 20,000
    li
        a(href!="#{page.url.base}/venta-de-autos?precio_min=20000&precio_max=25000") de US$ 20,000 a US$ 25,000
ul.vehicle_price
    li
        a(href!="#{page.url.base}/venta-de-autos?precio_min=25000&precio_max=30000") de US$ 25,000 a US$ 30,000
    li
        a(href!="#{page.url.base}/venta-de-autos?precio_min=30000&precio_max=35000") de US$ 30,000 a US$ 35,000
    li
        a(href!="#{page.url.base}/venta-de-autos?precio_min=35000&precio_max=40000") de US$ 35,000 a US$ 40,000
    li
        a(href!="#{page.url.base}/venta-de-autos?precio_min=40000&precio_max=45000") de US$ 40,000 a US$ 45,000
ul.vehicle_price
    li
        a(href!="#{page.url.base}/venta-de-autos?precio_min=45000&precio_max=50000") de US$ 45,000 a US$ 50,000
    li
        a(href!="#{page.url.base}/venta-de-autos?precio_min=50000&precio_max=55000") de US$ 50,000 a US$ 55,000
    li
        a(href!="#{page.url.base}/venta-de-autos?precio_min=55000&precio_max=60000") de US$ 55,000 a US$ 60,000
    li
        a(href!="#{page.url.base}/venta-de-autos?precio_min=60000&precio_max=65000") de US$ 60,000 a US$ 65,000 
ul.vehicle_price.last
    li
        a(href!="#{page.url.base}/venta-de-autos?precio_min=65000&precio_max=70000") de US$ 65,000 a US$ 70,000
    li
        a(href!="#{page.url.base}/venta-de-autos?precio_min=70000&precio_max=75000") de US$ 70,000 a US$ 75,000
    li
        a(href!="#{page.url.base}/venta-de-autos?precio_min=75000&precio_max=80000") de US$ 75,000 a US$ 80,000
    li
        a(href!="#{page.url.base}/venta-de-autos?precio_min=80000") Mayor de US$ 80,000 