/*!!
* Layout
* @module layout
* @class footer
* @author Paúl Díaz
*/


footer
	font-family $familyHelvetica
	background black	
	overflow hidden
	font-size rem(15px)
	color white
	a
		color white
		text-transform capitalize
	ul
		li
			margin 10px 0	
	.title
		color $orange_01
	.bar_diagonal
		background url( $imgLargePath + "all/bar_diagonal.png") repeat-x
		width 100%
		height 19px
		margin-bottom 20px
		+mobile()
			margin-bottom 10px
.left_footer
	col(8/12)
	width 63%
	+tablet()
		width 62%
		margin-bottom 30px
	> div		
		col(4/12)

.rigth_footer	
	position relative	
	col(4/12)
	width 35%
	+tablet()
		width 36%	
	+mobile()
		width 100%
	.title,
	.number
		+tablet()
			font-size 21px
		font-family $familyEvogriaItalic
		font-size 23px
		display inline-block
		letter-spacing -1px		
	.icon_woman_call
		sprite($icon_woman_call)
		position absolute
		right 0

.footer_brands,
.footer_models
	li:last-child
		a
			text-decoration underline

.footer_brands
	+tablet()
		clear left

.left_footer
	+mobile()
		display none !important
	.footer_nav_principal		
		+tablet()
			width 100%
			ul
				float left
				width 50%
				+ul
					margin-top 27px	
		li
			text-align left
	.footer_brands
		+tablet()
			width 48%

.logo_footer
	sprite($logo_footer)
	
.box_call_free
	+mobile()
		display none
	background $gray_25
	height 90px
	border-radius 5px
	margin-top 10px
	margin-bottom 10px
	display inline-block
	width 100%
	text-align center
	a.btn
		margin-top 25px
		height 30px
		padding 4px 10px
		border-radius 4px
		background $orange_01
		display inline-block
		color $gray_2a
		transition .5s ease
		padding-left 42px
		line-height 34px
		+tablet()
				font-size 12px
		&:before
			content "\E01D"
			font-family iconFonts
			position absolute
			left 10px
			top 3px
			font-size 27px
			+tablet()
				font-size 22px
		&:hover
			background white
			transition .5s ease	
.central_help
	+mobile()
		display none
	.title
		margin-bottom 0
	img
		float right
		width 25.7%
	
			
.sold_instantly
	+mobile()
		display none
	.number
	.title
		height 29px
	
	.method_sell
		display inline-block
		text-align right
		vertical-align top
		margin-left 5%
		.option
			font-family $familyHelvetica
			font-size 15px
			text-align right		
			display inline-block
			float right
			clear right
			.number_option
				color $orange_01
				margin-left 4px
				font-weight bold
	.number
		+tablet()
			font-size 22px
		color white
		font-size 24px			
		float right


.social_networks
	ul
		text-align right
		a			
			color black
			display block
			font-size 42px
			background $orange_01
			border-radius 50%
			transition .5s ease
			&:hover
				background white
				transition .5s ease
	li
		display inline-block
		margin 10px 2px
	p
		margin 5px 0
		display none
		+mobile()
			display block
		
	+mobile()
		text-align center
		margin-bottom 20px
		p 
			a
				text-decoration underline
				color $gray_7c
		ul
			text-align center
			li
				margin 0 1%
			a
				display inline
				font-size 48px
		
.payment_methods
	.visa_authorized
		width 192px
		display inline-block
		text-align left
		font-size 13px
		vertical-align middle
		margin-left 10px
		+between(669px, 886px)
			width 350px
			line-height 23px
			margin-left 0px
	+mobile()
		display none
	width 100%
	background $gray_22
	height 34px
	text-align center
	padding 20px 0

.payment
	display inline-block
	margin-left 14px
	vertical-align middle
	+between(669px, 700px)
		margin-left 12px
	&.pe
		sprite($icon_pago_efectivo)
	&.visa
		sprite($icon_visa)
	&.verified_visa
		sprite($icon_verified_visa)
	&.mastercard
		sprite($icon_mastercard)
	&.mastercard_securecode
		sprite($icon_mastercard_securecode)		
	&.afiliate_visa
		sprite($icon_afiliate_verified_visa)
		
.footer_links
	+tablet()
		a,p
			font-size 14px
	+mobile()		
		display none
	a, span, p
		display inline-block		
	abbr
		margin 0 15px
	p
		color $orange_01
	.terms_neoauto
		text-align right
		padding 13px 0
	.icon_book_claims
		sprite($icon_book_claims)
		vertical-align middle
		margin-left 15px
	.powered
		width 16%
		float left
		padding 15px 0
		
/*media-queries*/
.logo_footer	
	+tablet()
		display none
