/*!!
* Layout
* @module layout
* @class header
* @author Jhonnatan Castro && Juan Pablo Chullo
*/
header
	width 100%
	position relative
	transition all .3s ease
	.logo
		float left
		height 81px
		+tablet()
			img 
				width 100%
		h1
			position absolute
			visibility hidden
.header_top
	background $black_1c
	height 43px
	z-index 1
	+mobile()
		display none
	.iso_type
		float left
		background white
		width 49px
		height 43px
		text-align center
		img
			vertical-align middle
	.link_externals		
		float left
		width auto
		max-width 300px
		height 100%
		margin-left 5px
		li
			height 100%
			padding 0 5px
			line-height 43px
			display inline-block
			float left
			a
				color white
				padding 5px 14px
				font-family $familyHelvetica
				font-size 14px
				text-shadow 0 1px 1px #444
				+tablet()
					padding 5px 10px
				&:hover
					color $orange_03
					text-shadow 0 1px 1px #333
	.links_right
		float right
		margin-top 7px
		.icon_help
			width 15px
			height 16px
			color $orange_03
			float right
			margin-top 6px
			margin-right 3px
			font-size 18px
	.btn_publish
		float left
		height 17px
		line-height 19px
		padding-right 36px
		color white
		font-size 14px
		font-weight 500
		font-family $familyEvogriaItalic
		padding 7px 40px 5px 15px
		position relative
		text-transform uppercase
		spacing(-0.35px)
		>.icon
			font-size 22px
			position absolute
			top 4px
			right 12px
			color $orange_03
			transition ease 0.4s
		&:hover
			// color $orange_03
			>.icon
				color white
				right 10px
		&:after
			top 5px
			right 8px
			width 19px
		+tablet()
			margin-top 1px
			padding 6px 32px 5px 0px
			>.icon
				right 8px
			&:hover
				>.icon
					right 6px
	.account
		float right
		margin 7px 0 0 10px
		+between(660px, 685px)
			margin 5px 0 0 0px
		li
			color white
			float left
			font-family $familyHelvetica
			font-size 14px
			&.name_user
				text-overflow ellipsis
				overflow hidden
				white-space nowrap
				text-align right
				max-width 153px
				min-width 25px
				width auto
				+between(667px, 777px)
					width 70px
					min-width 25px
					
			&.register_link
				a
					color white
			&.text
				margin 0 5px
			&.separator
				margin 0 10px
				+between(660px, 712px)
					margin 0 5px
			&.login_link
				a
					color $orange_03
			&.profile
				a
					color $orange_03
			
			a				
				font-weight 500
.header_box
	min-height 70px
	padding 15px 0
	+mobile()
		display none
	.grid_2
		width 20%
		margin-right 0
		+tablet()
			width 30%
	.grid_10
		width 80%
		margin 0 !important
		+tablet()
			width 70%
	.content_search
		float left
		width 40%
		height 50px
		margin-top 15px
		+tablet()
			float right
			margin-top 10px
			width 400px
	.links_menu
		float right
		width 438px
		height 50px
		margin-top 15px
		margin-right 0
		font-size 0
		+tablet()
			margin-top 0
		>li
			float left
			margin-left 6.4%
			position relative
			z-index 4
			&:hover 
				>a
					button_tabs($gray_neo)
			>a
				color white
				font-size 14px
				line-height 36px
				text-transform uppercase
				height 33px
				cursor pointer
				spacing(-0.35px)
				max-width 89px
				white-space nowrap
				button_tabs($orange_03)
				>i
					font-size 18px
					margin-left 10px
			&:hover
				.submenu
					opacity 1
					visibility visible
					+tablet()
						display block
	+between(900px, 1000px)
		.content_search
			width 34%!important
			padding-left 10px
		form
			width 86%
			>.quickSearch
				width 75%
		.links_menu
			width 440px !important
			>li 
				margin-left 6.9%
				>a
					font-size 13px!important
	.submenu
		position absolute
		width 250px
		height 120px
		background-color #393939
		right -7px
		opacity 0
		visibility hidden
		transition opacity 0.3s ease-out, visibility 0.1s 0.1s linear
		z-index 3
		+tablet()
			opacity 1
			display none
			visibility visible
		li
			width 100%
			display block
			float left
			color white
			a
				submenu_style()
				background-color #393939
				width 210px
				font-size 14px
				padding 12px 0 12px 40px
				transition .2s ease
					+tablet()
						transition none
				&:hover
					background-color #252525
					color $orange_03
					transition .2s ease
					+tablet()
						transition none


.fiestas
	margin-top -5px !important
	width 160px !important
