extends ../../../../../layouts/scripts/modules/search/layout.jade
//- index/index

block content
    //- main
    main.main_search.center_box
        .eplanning(data-eplanningid="Expandible")
        //- title
        section.breadcrumbs
            h1 <?php echo $this->title;?>
            +breadcrumbs()
                block breadcrumbs_links
                    <?php $pos=1; foreach ($this->breadcrumbs as $value): ?>
                    <?php if ($value['breadUrl']!=''): ?>
                    +breadcrumbs_links({url:"<?php echo $this->baseUrl().'/'.$value['breadUrl']?>", title:"<?php echo $value['breadNombre'] ?>", position:"<?=$pos++?>"})
                    <?php else: ?>
                    span <?php echo $value['breadNombre'] ?>  
                    <?php endif; ?>                     
                    <?php endforeach; ?>
        
        .head_results
            <?php if ($this->showResult === true):?>
            .showing_items Mostrando <strong><?php echo $this->paginator['paginator']['currentItemCount'];?></strong> de <strong><?php echo $this->paginator['paginator']['totalItemCount'];?></strong>
            .options_filters
                .order
                    span Ordenar por
                    .content_select.border_gray
                        span.icon.icon_arrow_down                            
                        select.control_select
                            <?php foreach ($this->listOrderBy as $key => $reg): ?>
                            <?php if (!empty($reg['selected'])): ?>
                            option(value!="<?php echo $reg['url'];?>" ,selected="selected") <?php echo $reg['name'];?>
                            <?php else: ?>
                            option(value!="<?php echo $reg['url'];?>" ) <?php echo $reg['name'];?>
                            <?php endif; ?>
                            <?php endforeach ?>
                //- .type_view
                //-     a.icon.icon_list.active(href="#", title="Ver en lista")
                //-     a.icon.icon_filter_grid(href="#", title="Ver en grillas")
            <?php endif;?>            
            div(class!="option_filters_mobile<?php if ($this->showResult === false) echo ' no_results';?>")
                .center_box
                    .text_filters
                        .inner_showing_items
                        a(href="#top").icon.icon_filter_up.back_top
                    .icons_filters
                        .icon.icon_filter
                        //- .icon.icon_filter_exit                   
                        .icon.icon_filter_down
                            select
                                <?php foreach ($this->listOrderBy as $key => $reg): ?>
                                <?php if (!empty($reg['selected'])): ?>
                                option(value!="<?php echo $reg['url'];?>" ,selected="selected") <?php echo $reg['name'];?>
                                <?php else: ?>
                                option(value!="<?php echo $reg['url'];?>" ) <?php echo $reg['name'];?>
                                <?php endif; ?>
                                <?php endforeach ?>
                    //- .icons_actions
                        //- a.icon.icon_filter_grid       
                        //- a.icon.icon_list.active(href="#", title="Ver en lista")

        .results

            //- filtro
            section.search_filters.bg_pattern_diamond
                include ../../../../../_render/modules/search/filter.jade
            //- contenido    

            .body_results
                ul
                    //- premium|concesionario|pago|default
                    <?php $i=1; foreach ($this->avisos as $aviso): ?>
                    - var params ={}

                    - params.publication_title = "<?php echo isset($aviso['titulo'])? $aviso['titulo'] : '' ?>"
                    
                    //- params.publication_slug = "<?php echo $aviso['idAviso']; ?>"
                    //- params.publication_baseImage = "<?php echo $aviso['fotoPath']['size1'] ?>"
                    //- params.publication_image = "<?php echo $aviso['fotoPrincipal']['size1'] ?>"
                    //- params.publication_total_photos = "<?php echo $aviso['cantFotos']; ?>"
                    
                    - params.galeria = {}
                    
                    - params.galeria.slug = "<?php echo $aviso['idAviso']; ?>"
                    - params.galeria.baseImage = "<?php echo $aviso['fotoPath']['size1'] ?>"                    
                    - params.galeria.image = "<?php echo $aviso['fotoPrincipal']['size1'] ?>"
                    - params.galeria.totalFotos = "<?php echo $aviso['cantFotos']; ?>"

                    - params.publication_price = "<?php echo isset($aviso['precioHtml'])? $aviso['precioHtml'] : 'Consultar' ?>"
                    - params.publication_versions_length = "<?php echo $aviso['cantVersiones'] ?>"
                    - params.publication_price_title = "<?php echo isset($aviso['precioHtml'])? trim(strip_tags($aviso['precioHtml'])) : 'Consultar' ?>"
                    - params.publication_status = "auto nuevo" //- (auto nuevo|serv. concesionario|soat al dia)
                    - params.publication_link = "<?php echo $aviso['slug'] ?>"
                    - params.publication_km = "<?php echo $aviso['kilometrajeHtml'] ?>"
                    - params.publication_combustible_transmition = "<?php echo $aviso['combtrans'] ?>"
                    - params.publication_combustible = "<?php echo $aviso['slugCombustible'] ?>"
                    - params.publication_transmition = "<?php echo $aviso['slugTransmision'] ?>"
                    - params.publication_location = "<?php echo (isset($aviso['nombreUbicacionDepartamento']) ? $aviso['nombreUbicacion'] . ' - ' : '') . $aviso['nombreUbicacionDepartamento'] ?>"
                    - params.publication_description = "<?php echo isset($aviso['descripcion'])? $aviso['descripcion'] : '' ?>"
                    - params.concesionario = {}
                    - params.concesionario.url = "<?php echo $aviso['link'] ?>"
                    - params.concesionario.image = "<?php echo $aviso['urlLogo'] ?>"
                    - params.certification_image = "<?php echo $aviso['urlMapfre']  ?>"

                    <?php if ($aviso['tipoVista'] == 1): ?>
                    +item_search_premium(params)
                        block imagesItem
                            <?php if($aviso['cantFotos'] > 1): ?>
                            +addSlider(params)
                            <?php else: ?>
                            +onlyImage(params)
                            <?php endif; ?>

                        block concesionario
                            <?php if($aviso['urlLogo'] !== ''): ?>
                            +item_search_partial_concesionario(params.concesionario)
                            <?php endif; ?>
                                
                    <?php elseif ($aviso['tipoVista'] == 2): ?>
                    +item_search_concesionario(params)
                        block imagesItem
                            <?php if($aviso['cantFotos'] > 1): ?>
                            +addSlider(params)
                            <?php else: ?>
                            +onlyImage(params)
                            <?php endif; ?>

                        block concesionario
                            <?php if($aviso['urlLogo'] !== ''): ?>
                            +item_search_partial_concesionario(params.concesionario)
                            <?php endif; ?>

                    <?php elseif ($aviso['tipoVista'] == 3): ?>
                    +item_search_pago(params)           
                        block imagesItem
                            +onlyImage(params)

                    <?php else: ?>
                    +item_search_default(params)
                    <?php endif ?>

                    <?php if($i==2): ?>
                    .eplanning(data-eplanningid="Middle")
                    <?php endif ?>

                    <?php $i++; endforeach ?>
                    <?php if ($this->showResult === false):?>
                    li.no_results_message
                        p No se encontraron resultados
                        span Lo sentimos, no encontramos resultados para tu búsqueda. Inténtalo nuevamente o crea una alerta personalizada y te enviaremos la información que buscas directo a tu correo.
                    <?php endif;?>
                //- paginator
                include ../../../../../_render/modules/search/paginator.jade

        .clearfix
        .eplanning(data-eplanningid="Bottom")

include ../../../../../_mixins/modules/search/index/search.jade
