.detail_ficha
	header
		background $gray_head_ficha
		height 55px
		line-height 55px
		padding 0 2%
		width 96%
		+between(278px, 445px)
			line-height 23px
			padding 2% 4%
			width 92%
			padding-top 3%
			height 48px
		p
			font-size 23px
			display inline-block
			text-shadow 1px 0 0 rgba(0, 0, 0, .5)
			+between(278px, 445px)
				width 100%
		.price
			float right
			+between(278px, 445px)
				float left