.ficha_tabs
	margin 10px 0 !important
	+between(278px, 445px)
		margin-top 60px
.ficha_box_title
	width 100%
	min-height 24px
	border-bottom 2px solid #111
	font-family $familyEvogriaItalic
	font-size 16px
.ficha_description
	padding 12px 0
	font-size 14px
	
.box_inner
	width 100%
	margin-bottom 10px
	&.open
		.box_title
			background-color $orange_03
	.box_title
		width 97%
		height 40px
		line-height 45px
		p
			float left
		.icon
			float right
			line-height 43px
			padding-right 15px
		header_section_with_bg_gray(0,0,0,3%)
	.box_content
		width 100%
		background-color #ececec
		form
			min-height 200px
		