.modal_content
	width 445px
	color black
	padding 20px 29px 0px 29px
	box-sizing border-box
	h3
		font-family $familyEvogriaItalic
		font-size 19.3px
		margin 0 0 15px
		font-weight normal
		letter-spacing -1px
	span
		font-size 14.18px
		margin-bottom 12px
		display block
	p
		font-size 17px
		line-height 26px
	fieldset
		border none
		padding 0px
		margin 0
		label
			font-size 14.18px
			padding-bottom 7px
			display inline-table
		&.error
			ul
				display block
	input[type=text]
		height 39px
	input[type=radio]
		display none
	input[type=radio]
		& + label
			span
				sprite($radio_button_false)
				display inline-block
				vertical-align text-top
				margin-right 5px
	input[type=radio]:checked
		& + label
			span
				sprite($radio_button_true)
	i
		color #f60909
	.content_select
		width 100%
		box-sizing border-box
	.foot_box
		margin-top 30px
		margin-bottom 15px
		text-align center
		button
			height 43px
			width 140px
			line-height 45px
			padding 0 5px !important
			font-size 19.3px
		a
			display block
			padding 8px 0px
			color #e37d00
			font-family $familyHelvetica
			font-size 14.03px
	textarea
	input
		padding-left 14px
	.captcha
		height 70px

.modal_send_friend
	font-family $familyHelvetica
	fieldset
		padding 5px 0px
		label
			font-size 14.18px
			padding-bottom 7px
			display inline-table		
			.text_name
				display inline-block
				font-size 16px
				letter-spacing -0.2px
				text-transform capitalize
	textarea
		height 95px
		padding-top 10px	
	.text_title
		padding 5px 0 14px 0px		
		p
			font-size 16px	
			letter-spacing -0.3px
			line-height 18px
			font-weight 600
			text-transform capitalize
	.message
		color #fc4e54
		font-size 12px
		margin-bottom 5px

.modal_report
	fieldset
		label
			padding-bottom 0px
			font-size 17px

.modal_restore_password
	.center_box
		margin-top 15px