section.gallery	
	position relative
	.mask_gallery		
		background $gray_eb
		position relative
		width 100%
		height 100%		
		box-sizing border-box
		margin-bottom 9px
		text-align center		
		.list_masks
			.item
				div
					a
						img
							width 100%
							opacity 1
		.loading
			position absolute
			top 50%
			left 50%
			margin-top -22px
			margin-left -22px
			opacity .8
			cursor pointer
			z-index 8060
			background #000
			border-radius 50%
			display none
			div
				width 44px
				height 44px
				background url($imgPath + 'plugins/fancybox/fancybox_loading.gif') center center no-repeat
				background-size 24px 24px
				border-radius 50%
		.stick
			min-width 50px
			background #e07b00
			color #fff
			height 41px
			line-height 44px
			font-family evogria-italc,arial,sans-serif
			font-weight 300
			text-transform uppercase
			text-align center
			position absolute
			padding-right 20px
			padding-left 10px
			right -7px
			top -2px
			+mobile()
				right -5px
			&:before
				content ""
				position absolute
				bottom -6px
				right 0
				width 0
				height 0
				border-style solid
				border-width 3px 3px 3px 3px
				border-color #b5680b transparent transparent #b5680b				
			&:after
				content ""
				position absolute
				top 1px
				left -15px
				bottom 0
				width 0
				height 0
				border-style solid
				border-width 0 15px 40px
				border-color transparent transparent #e07b00
			span
				&:before
					content ""
					position absolute
					width 10px
					height 10px					
					right 7px
					bottom -10px
	.options_view
		position absolute
		bottom 0
		+between(278px, 445px)
			width 100%
		>
			a
				margin-right 2px
		.logo_safe
			float left
			height 38px
			+between(278px, 445px)
				position absolute
				left 0
				bottom -48px
				background-color red
				width 100%
				text-align left
				height 47px
				img
					margin-top 6px
					margin-left 6px
		.button
			float left
			position relative			
			font-size 15px
			color white
			height 38px
			line-height 38px
			width 63px
			text-align center
			&.zoom
				width 40px
				.icon_fullscreen
					margin-left 0
			.mask
				width 100%
				height 100%
				top	 0
				left 0
			.icon, span
				position relative
				z-index 1
			.icon
				font-size 27px
				margin-left 5px
	.controls_slides_thumb
		position absolute
		bottom 74%
		width 100%	
		.icon
			position absolute
			border-radius 50%
			background black
			opacity .6
			color white
			width 49px
			height 49px
			text-align center
			line-height 49px
			cursor pointer
			display none
			&.slick-disabled
				display none !important
		.icon_arrow_right
			right 2%
		.icon_arrow_left
			left 2%
	.controls_slides_masks
		position absolute
		bottom 57%
		width 100%	
		.icon
			position absolute
			border-radius 50%
			background black
			opacity .6
			color white
			width 49px
			height 49px
			text-align center
			line-height 49px
			cursor pointer
			display none
			&.slick-disabled
				display none !important
		.icon_arrow_right
			right 2%
		.icon_arrow_left
			left 2%


	.thumbs_gallery		
		transition opacity .5s		
		position relative
		overflow hidden		
		/*display inline-table*/
		.wrapper
			width 100%
		+mobile()
			display none
		.item
			&:hover,
			&.active
				opacity 1
				transition opacity .5s
			opacity .8
			float left			
			transition opacity .5s
			width 25%
			div
				margin 0 1.7%
			a
				display block
				text-align center
		img
			width 100%			