.main_ficha
	+mobile()
		width 95.9%
section.detail_ficha
	col(8/12)
	width 67.084%
	margin-right 1.54%
	+between(650px, 780px)
		width 100%
	+mobile()
		width 100%
		margin-top 3%
		margin-right 0
	article
		position relative