.neo_tabs
	font-family $familyDefault
	width 99%
	margin 0 auto
	.btn
		font-size 16px !important
		height 27px !important
		line-height 31px !important
		color white !important
		margin 0 !important
		margin-left 33px !important
		padding 4px 5px
		position relative
		bottom -2px
		+mobile()
			padding 4px 0px !important
			bottom 0 !important
			height 27px !important
			font-size 14px !important
		button_tabs($gray_neo)
		&:first-child
			margin-left 15px !important
		&.active
			button_tabs_hover($orange_03)
			position relative
			bottom -2px
			height 29px !important
			+mobile()
				height 27px !important
	
	.tab_option
		height 37px
		min-height inherit
		>div
			min-height inherit
			height 37px
		+mobile()
			width 100% !important
			>div
				border 0
	.tab_contents
		>div
			text-align left
			padding 12px 0
		p
			line-height 17px