.contact_advertiser
    margin 0 0 20px
    
    .resultMessage
        display none
        border 1px solid #B8E3CF 
        background  #CDF8DD
        color $gray_neo
        overflow hidden
        clear both
        padding  10px 20px
        max-width  87%
        margin 0 auto
        border-radius 5px
        margin 0 auto 20px
        
        &.error
            border 1px solid #FF8989
            background #F8D4CD
        
        i
            float right
            color black
            font-size  16px
        
        p
            float left
            font-family $familyHelvetica
            font-size 14px
            

    
    .u_clearfix
        overflow hidden
        clear both
        
    .contact_advertiser_header        
        .section_title
            header_section()
        

        .advertiser
            background $gray_head_ficha            
            border-bottom 1px solid $gray_light_02

            .advertiser_info_particular
                padding 16px !important
            
            .advertiser_info
                text-align left
                padding 22px
                
                +mobile()
                    padding 9px 18px
                
                h2
                    font-size 17px
                    font-family  $familyEvogriaItalic
                    padding 0
                    margin 0
                    font-weight 300
                    
                
            .advertiser_pic
                display inline-block
                margin 0 18px 0 0 
                vertical-align middle
                border 1px solid #ccc
                
                +mobile()
                    margin  0
                
            .advertiser_info_detail
                display inline-block
                vertical-align middle
                
                .advertiser_name
                    text-transform uppercase
                    font-family $familyEvogriaItalic
                    font-size 16px
                    margin 0
                    font-weight 100
                
                a
                    color $azul_search
                    text-decoration underline
                    font-size 12px
                    
                    +between(781px, 981px)
                        font-size 10px
                
    .contact_advertiser_body
        &.neo_tabs
            width 100%
            font-family $familyEvogriaItalic
           
        form
            overflow hidden
            clear both
            font-family $familyHelvetica
            position relative

            &.is_loading
                .loading_content    
                    position absolute
                    top 20%        
                    left 50%
                    margin-left -40px
                    display block
                    height 80px
                    width 89px 
                    z-index 10
                    
                    small
                        font-size 16px
                        color $gray_neo
                        display block
                        text-align center
                        color #555
                        font-family $familyEvogriaItalic
                        font-weight 100
                
                    .loading_gif
                        display block
                        margin 0 auto  10px    

                .fields
                    opacity .2
    
        .fields
            position relative
            z-index  2
        
        .loading_content
            display none

            .loading_gif
                width 60px
                height 60px
                background url($imgPath+'loading.gif') center center no-repeat   
                background-size  60px 60px
            

        
        .form_send_message
            .btn
                margin 100px auto 0 !important
        
        .rc-anchor-light
            border 0 !important


        .widget_recaptcha
            width 100%
            max-width 304px
            margin  0 0 5%
            text-align  center
            
            
        .btn
            background $orange_01
            button_tabs($orange_01)
            bottom  0
            color white
            display block
            height auto !important
            margin  0 auto
            max-width 166px
            text-transform uppercase
            width 100%
          
        .send_message_fields
        .send_message_recaptcha
            width 50%
            float left

            +mobile()            
                float none
                width  100%
        


        .tyc
            font-size 12px
            width 90%
            margin 0 5%

        .tab_option
            background #ececec
            height auto

            .tab
                color #a29e9e
                text-transform uppercase
                font-size 17px
                border-bottom 1px solid $gray_light_02
                border-left 1px solid $gray_light_02            
                display inline-block
                font-family $familyEvogriaItalic
                padding 10px 3%
                height auto
                
                &.active
                    color black
                    border-bottom 0
                    
                &:first-child
                    border-left 0 !important
                    width 20%
                    
                    +mobile()
                        width  44%
                        
                    +tablet()
                        width  44%
                
                &:last-child
                    width 67.1%
                    
                    +mobile()
                        width  43%
                        width  calc(44% - 1px)
                        
                    +tablet()
                        width  43%
                        width  calc(44% - 1px)

           
        .tab_contents
            padding 24px 0 30px 0   
            background #ececec

            .tab_content
                display none
                padding  0
                
                &.active
                    display block
                
                &.view_phone      
                    text-align  right
                    
                    .tyc              
                        width auto
                        max-width 100%
                        margin  0 0 20px 20px
                        text-align left

                        +mobile()
                            text-align center
                            margin 0 auto
                        
                        +tablet()
                            text-align center
                            margin 0 auto
                    
                    .btn
                        display inline-block
                        margin-right 5% !important
                        
                        +tablet()
                            margin  10px auto 0 !important
                            display block
                        
                        +mobile()
                            margin  10px auto 0 !important
                            display block
                            
                    
            .row_form
                margin 0 0 10px 0
                padding 0 5%
                
                &:last-child
                    margin-bottom  0
                
                .parsley-errors-list
                    margin 8px 0 
                    text-align left

                input
                    border-top 3px solid $gray_light_03
                    border-left 1px solid $gray_light_03
                    border-right 1px solid $gray_light_03
                    border-bottom 1px solid $gray_light_03
                    border 0 !important
                    border-radius 5px
                    padding 10px 5%
                    font-size  14px
                    
                    &::-webkit-input-placeholder    
                        color $gray_41
                    
                
                textarea
                    border-radius 5px
                    border 0 !important
                    padding 10px 5%
                    resize none
                    font-size  14px
                    height 95px
                    
                    &::-webkit-input-placeholder    
                        color $gray_41
                

                input
                textarea
                    width 100%
                    margin 0 0 0 2%
                    display block
                    max-width 250px
                    

       
    
.right
    .contact_advertiser
        .contact_advertiser_header 
            .advertiser
                .advertiser_info_particular
                    padding  20px 0 12px  25px !important
                    
                .advertiser_info                    
                    padding 10px 17px

                    +between(781px, 981px)
                        padding 10px 2%
                    
                         
                .advertiser_pic
                    margin-left 0
                    margin-right 10px
                    
                    +between(781px, 981px)
                        width 30%
                        

                .advertiser_info_detail
                    .advertiser_name 
                        font-size 14px

        .contact_advertiser_body

            .widget_recaptcha
                margin-top  10px
                transform(scale(0.9))
                transform-origin(0 0)

                .ie8
                    margin-left -1px
            
            .form_send_message
                .btn
                    margin-top  20px !important
             
            .send_message_fields
            .send_message_recaptcha
                width 100%
                float none

                .send_message_recaptcha
                    +mobile()
                        margin-top  10px

                    +tablet()
                        margin-top  10px
            
            .tab_contents
                .row_form
                    padding  0 5%
                    margin 0 0 10px 0

                    textarea
                    input
                        width 90%
                        margin-left 0 
                        

                .tab_content
                    .btn
                        margin 20px auto 0 !important
                        display block
                        max-width 252px
                    

            .tab_option                
                .tab
                    font-size 15px
                    
                    +between(781px, 981px)
                        text-align center

                    &:first-child
                        width 40%
                        
                        +between(781px, 981px)
                            font-size 12px
                            padding 10px 1%
                            width 48%
                    
                    &:last-child
                        width 46.1%
                        
                        +between(781px, 981px)
                            font-size 12px
                            padding 10px 1%
                            width calc(48% - 1px)
                            width 47%


