.more_cars
	padding 25px 0 95px 0
	background url(../../../img/home/bg_search_vehicles.png?v=24c46bc) center bottom repeat-x #dedede
	+mobile()
		display none
	h4
		font-weight 300
		margin 0
	ul
		min-height 200px
		margin-top 5px
		padding-bottom 15px
		width 102%
		margin-left -1%
		li
			.mask_hover_box 
				p
					font-size 15px
			.grid_12
				line-height 22px			
			.box_content
				p
					font-size 12px !important
					margin-top -2px !important
				strong					
					font-size 15px !important
			.link
				+tablet()
					width 50px
					height 15px
					line-height 14px
					font-size 11px
					
	.btn
		text-align center
		button_tabs($gray_neo)
		width 250px
		display block
		margin 5px auto
		height 40px
		line-height 44px
		padding 0
		bottom -50px