aside.right
	col(4/12)
	width 31.251%
	background white
	+between(650px, 780px)
		display none
	+mobile()
		display none
	
	.contact_advertiser
		.section_title
			display none
	.services
		.services_header
			width 100%
			height 48px
			h4
				margin 0
				padding 0
				width 100%
				font-family $familyEvogriaItalic
				font-weight normal
				line-height 22px
				border-bottom 2px solid #111
			.img_comparabien
				float right
				width 100px
				height 15px
				margin-top 1px
				sprite($comparabien)
	.blog
		width 100%
		min-height 100px
		background white
		li
			background $gray_head_ficha
			width 88%
			padding 10px 6%
			margin-bottom 2px
			list-style none
			float left
			&:first-child
				padding-top 15px
				a
					font-size 18px
				img
					float none
					width 100%
					height auto
				span
					width 100%
			img
				float left
				width 80px
				height auto
				margin-right 10px
			span
				width 61%
				float left
				height 55px
				overflow hidden
				+tablet()
					width 55%
					height 50px
			a
				color #111
				font-size 14px
				text-shadow 1px 0 0 rgba(0,0,0,0.2)