.form_comparabien
	width 85%
	margin 20px auto
	font-size 13px
	.solid
		margin 9px 0
		border 0
		border-radius 4px
		padding-top 9px !important
		padding-bottom 9px !important
	.inp
		width 92%
		padding 7px 4%
		font-size 16px
		color #555
		&::-webkit-input-placeholder    
			color $gray_41
	.content_select
		height 32px
		padding-top 4px
		border-radius 4px
		background white
		margin 9px 0
		select
			height 30px
			font-size 16px
		.icon
			height 33px
			line-height 35px
	.content_slider
		width 100%
		height 40px
		margin 10px 0 30px 0
		float left
		font-size 16px
		color #555
		.txt_slider
			float right
			font-size 14px
			color #111
	.control_select
		padding 0 3%
		height 34px
		color $gray_41
	input[type=checkbox]
		display none
	label.checkbox
		width 30px
		height 30px
		float left
		cursor pointer
		sprite($icon_checkbox_true)
		&.no
			sprite($icon_checkbox_false)
	.txt_promotions
		width 60%
		float left
		margin 5px 0 0 5px
		font-weight 300
		color #333
	.control_slider
		margin 8px 0
		height 10px
		width 100%
		position relative
		.line
			width 100%
			height 6px
			background #aaa
			border-radius 20px
		.drag
			position absolute
			height 19px
			width 7px
			border-radius 10px
			background $orange_03
			right 5px
			top -7px
	button
		width 87%
		margin-top 20px
		margin-left 15px
		font-size 19px
		line-height 40px
		