.share_icons
	position absolute
	left -50px
	height 270px
	width 50px
	top 0
	display none
	+desktop()
		display block
	a
		display block
		width 40px
		height 40px
		line-height 40px
		text-align center
		margin-top 10px
		color #777
		.icon
			font-size 34px
		&.google
			background #E4364D
			color white
			.icon
				font-size 38px
		&.facebook
			background #0051A2
			color white
			.icon
				font-size 38px
		&.twitter
			background #00A5F8
			color white
			.icon
				font-size 38px
		