//-
    Mixins for html elements

mixin add_social_networks()
    ul        
        li
            a.icon.icon_youtube.track(data-track="youtube" href="https://www.youtube.com/user/NeoAutoclasificados", target="_blank", title="Siguenos en Youtube")
        li
            a.icon.icon_twitter.track(data-track="twitter" href="https://www.twitter.com/neoautocom", target="_blank", title="Siguenos en Twitter")
        li
            a.icon.icon_facebook.track(data-track="facebook" href="https://www.facebook.com/neoauto.com", target="_blank", title="Siguenos en Facebook")

mixin login_social_networks()
    .login_social_networks
        a.icon.icon_facebook(href="#", title="Ingresa con Facebook")
        a.icon.icon_google_plus(href="#", title="Ingresa con Google Plus")
        a.icon.icon_twitter(href="#", title="Ingresa con Twitter")

mixin login_your_account(type)
    - var modal = {}
    - if (type == "modal") {
        - modal.title = "Ingresa A Tu Cuenta"
        - modal.typeSubmit = "ajax"
        - modal.display = "hide"
    - }
    - if (type == "default"){
        - modal.title = "INGRESA A TU CUENTA DE NEOAUTO"
        - modal.typeSubmit = "Sync"
        - modal.display = ""
    - }
    section.login_your_account
        #box_login
            .center_box
                h5= modal.title 
                - if (type == "modal")
                    //- +login_social_networks()
                //- fieldset.title_form
                //-     legend Ó CON TUS DATOS DE USUARIO
                form.frm_login(type="post",action="/cuenta/login",data-submit="#{modal.typeSubmit}",data-parsley="validate")
                    .message
                    fieldset
                        label Email <i>*</i>
                        input(type="email", class="border_gray txt_login", name="id_login_email", required )
                    fieldset.set_password
                        label Contraseña <i>*</i>
                        input(type="password", class="border_gray txt_login", name="password",required)
                    fieldset.set_checkbox
                        input(type="checkbox")
                        label.text_checkbox Ver caracteres 
                        i.icon.icon_show_password
                    fieldset.set_button
                        button(class="btn btn_diagonal",type="submit") INGRESA
                        input(type="hidden" name="token" value="{{= token}}")
                        input(type="hidden" name="urlRedirec" value!="<?php echo $this->serverUrl(true); ?>")
                .foot
                    p
                        a(href="/cuenta/recuperar/",title="Olvidaste tu Contraseña") ¿Olvidaste tu contraseña?
                    p Si no eres miembro de Neoauto, <a href="/cuenta/registro">regístrate aquí</a> es fácil y rápido

mixin show_grid_vehicles(array, rows, type)
    - var startForeachPHP = "<?php $i=0; foreach("+array+" as $item): $i++; ?>"
    - var endForeachPHP = "<?php endforeach; ?>"
    - var item = {}
    - var row = !rows ? 3 : rows
    case type
        when "autos_usados"
        when "autos_nuevos"
            //- other
        default
            - item.titulo   = "<?php echo $item['titulo']; ?>"
            - item.slug     = "<?php echo $item['slug']; ?>"
            - item.foto     = "<?php echo $item['fotoPrincipal']['medium1'] ?>"
            - item.precio   = "<?php echo (isset($item['precio']) && $item['precio'] > 0) ? 'US$ '.number_format((int)$item['precio']) : 'Consultar' ?>"
            - item.km       = "<?php echo (isset($item['kilometraje']) && $item['kilometraje'] > 0) ?  number_format((int)$item['kilometraje']).' Kms' : ' '?>"
            - item.track    = "<?php echo $item['slug']; ?>"
    //- foreach
    ul.widget_cars(data-view=row)
        !=startForeachPHP
            +item_grid_car(item)
        !=endForeachPHP

mixin item_grid_car(item)
    li
        a.track(href!="#{page.url.base}/#{item.slug}", title="Ver más", data-track!="#{item.track}")
            figure
                span.helper_center
                img.lazy(data-original!="#{page.url.elements}#{item.foto}#{page.version}", alt!="#{item.titulo}")
                noscript
                    img(src!="#{page.url.elements}#{item.foto}#{page.version}", alt!="#{item.titulo}")
                .mask
                figcaption
                    !=item.titulo
            span.box_content
                span.grid.grid_12
                    p.text_ellipsis
                        !=item.titulo
                    strong
                        !=item.precio
                    p 
                        !=item.km
            .mask_hover
            .mask_hover_box
                p
                    !=item.titulo
                span.link ver 
                    span +

mixin eplanningScript(id)
    .eplanning
        script(type="text/javascript").
            if(typeof eplAD4M !== 'undefined'){
                eplAD4M("#{id}");
            }

mixin breadcrumbs()
    ol(itemscope="" itemtype="http://schema.org/BreadcrumbList")
        +breadcrumbs_links({url:"/", title:"Neoauto", position:"1"})
        block breadcrumbs_links

mixin breadcrumbs_links(obj)
    li(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
        meta(itemprop="position" content!="#{obj.position}")
        a(itemprop="item" href!="#{obj.url}" title!="#{obj.title}") 
            span(itemprop="name")
                != obj.title
        .icon.icon_arrow_right

mixin recaptcha(name)
    .widget_recaptcha
        .g-recaptcha(data-sitekey!="#{page.google_recaptcha_sitekey}")
        input(type="checkbox",name="is_valid_recaptcha_" + name, required)
