//- PAGE URL ELEMENTS
//- falta configuracion para s3 en la url de modelos y blog
//- del home (index.jade) por el momento se coloca el slash manualmente

- var page              = {}

- page.url              = {}
- page.url.base         = "<?php echo $this->baseUrl()?>"
- page.url.static       = "<?php echo $this->staticUrl()?>"
- page.url.elements     = "<?php echo $this->elementUrl()?>"
- page.url.image        = page.url.static + "img/"
- page.url.search       = "<?php echo $this->searchUrl()?>"
- page.url.staticHost   = page.url.base + "/neoauto3/public/static/neoauto3/"
- page.url.blog         = "<?php echo Zend_Registry::get('globals.blogUrl');?>"
- page.nameDax          = "<?php echo $this->nameDax;?>"

- page.title            = '<?php echo $this->titlePage; ?>'
- page.charset          = 'utf-8'
- page.lang             = 'es'
- page.description      = '<?php echo $this->descriptionPage;?>'
- page.keywords         = 'Autos, Carros, Camionetas, Camiones, Motos, Motocicletas, Perú, Ventas, Vender, Compras, Comprar, NeoAuto, El Comercio, Automotores, Clasificados del Peru, Clasificados Online'
- page.author           = 'Neoauto.com'
- page.name             = "Neoauto"

- page.viewport         = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
- page.robots           = 'index,follow'
- page.version          = '?<?php echo $this->versionJs; ?>'
- page.img              = page.url.static + 'img/logo_neoauto.png' + page.version
- page.favicon          = page.url.static + 'img/all/favicon.ico' + page.version

- page.og               = {}
- page.og.type          = 'website'
- page.og.image_width   = '90'
- page.og.image_height  = '60'
- page.og.image_type    = 'image/jpg'
- page.og.image         = page.url.static + 'img/logo_neoauto.png' + page.version
- page.og.url           = "/<?php echo rtrim(str_replace('http://', '', $this->serverUrl(true)), '/'); ?>"

- page.dc               = {}
- page.dc.contributor   = 'Neoauto.com'
- page.dc.creator       = 'Neoauto'
- page.dc.publisher     = 'Grupo El Comercio'

- page.geo              = {}
- page.geo.placename    = 'Cercado de Lima'
- page.geo.position     = '-12.0478;-77.0622'
- page.geo.region       = 'PE-LIM'
- page.geo.ICBM         = '-12.0478, -77.0622'

- page.code_tracking    = "UA-54219705-1"

- page.google_recaptcha_sitekey = "6LfmFQoTAAAAAPs-6VD3oy4DTCt9y-YRnsplvS14"


//- Aqui van las variables para yOSON
- page.module       = "<?php echo $this->getRequest()->getModuleName();?>"
- page.controller   = "<?php echo $this->getRequest()->getControllerName();?>"
- page.action       = "<?php echo $this->getRequest()->getActionName();?>"


- var layout = {}





