extends ../../../../../layouts/scripts/modules/auth/layout.jade
//- index/index

block content
	section#cRegister.bg_pattern_diamond
		.center_box
			h2 Registrate en Neoauto con
			.cnt_register
				.social_connect
					+login_social_networks()
				fieldset.title_form
					legend O llena los siguientes datos
				form.form_register(method="post", action="/registrarPost")
					.field
						label Nombres
							span *
						input.border_gray(type="text", name="nombres", required="required")
					.field
						label Apellidos
							span *
						input.border_gray(type="text" required="required")
					.field
						label Genero
							span *
						.checkbox
							.field
								input(type="radio" name="sexo" checked="checked" required="required")
								label Masculino
							.field
								input(type="radio" name="sexo" required="required")
								label Femenino
					.field
						label Telefono
							span *
						input.border_gray(type="text" pattern="^\\d+$" required="required" minlength="6")
					.field
						label Email
							span *
						input.border_gray(type="email" name="email" required="required")
					.field
						label Contrasena
							span *
						.c_password
							.field
								input.border_gray(type="password", name="contrasenia", required="required" minlength="6")
							.field
								input.switchery(type="checkbox", name="show_password" id="showPassword") 
								label Ver Caracteres
					.field
						label Documento de Identidad
							span *
						.c_dni
							.field
								.content_select.border_gray
									span.icon.icon_arrow_down
									select.control_select
										option(value="dni") DNI
										option(value="d_elec") D ELECTORAL
							.field
								input.border_gray(type="text", required="required", minlength="8")
					.field
						label Fecha de Nacimiento
							span *
						.c_cumpleanos
							.field
								.content_select.border_gray
									span.icon.icon_arrow_down
									select.control_select(name="dia", required="required")
										option(value="") DIA
										<?php foreach(range(1,31) as $dia): ?>
										option(value!="<?php echo $dia?>") <?php echo $dia?>
										<?php endforeach; ?>
							.field
								.content_select.border_gray
									span.icon.icon_arrow_down
									select.control_select(name="mes", required="required")
										option(value="") MES
										<?php $meses = array('ENERO', 'FEBRERO', 'MARZO', 'ABRIL', 'MAYO', 'JUNIO', 'JULIO', 'AGOSTO', 'SEPTIEMBRE', 'OCTUBRE', 'NOVIEMBRE', 'DICIEMBRE'); ?>
										<?php foreach(range(1,12) as $mes): ?>
										option(value!="<?php echo $mes?>") <?php echo $meses[$mes-1]?>
										<?php endforeach; ?>
							.field
								.content_select.border_gray
									span.icon.icon_arrow_down
									select.control_select(name="anio", required="required")
										option(value="") ANIO
										<?php foreach(range(1930,2015) as $anio): ?>
										option(value!="<?php echo $anio?>") <?php echo $anio?>
										<?php endforeach; ?>
					.term
						input.switchery(type="checkbox", name="accept_terms", required="required")
						label  He leido y estoy deacuerdo con los 
							a(href="") Terminos y Condiciones
					button.btn.btn_register.btn_diagonal Crear Cuenta
					.clearfix
		.clearfix

include ../../../../../_mixins/modules/auth/register/register.jade			