
/**
* Mixins
* @class Mixins
*/


/* Units conversion */
// example usage
// em(20px)
// em(16px, 20px)   // Optional second parameter: redefines basefont size

em(size)
	font-size round(( size / $basefont )em , 3)

spacing(size)
	letter-spacing round(( size / $basefont )em , 3)

font_em(size, parentFontSize = 0)
	if parentFontSize == 0
		font-size round(( size / $basefont )em , 3)
	else
		font-size round(( size / parentFontSize )em , 3)

rem_tmp($list)
	$max = length(arguments)
	for $i in (0..$max - 1)
		$list[$i] = round(( arguments[$i] / $basefont )rem , 3)
	return $list

rem($list)
	$max = length(arguments)
	for $i in (0..$max - 1)
		$list[$i] = arguments[$i]
	return $list

px(size)
	font-size ( size * $basefont )px

px_to_rem_font(size1, size2, family)
	//s1 = round(( size1 / $basefont )rem , 3)
	//s2 = round(( size2 / $basefont )rem , 3)
	//return s1\/s2 family
	return (size1)px \/ (size2)px family

px_to_rem(size)
	return size px

pxper(size, parent = $wrapperWidth)
	return round((size / parent * 100)%, 2)

iScroller(heightContent = 155px, widthScroll = 800px)
	padding 10px 0px 10px 10px
	position relative
	width 100%
	height heightContent
	overflow hidden
	-ms-touch-action none
	iScroller_wrapper(widthScroll)

iScroller_wrapper(widthScroll)
	> div
		-webkit-tap-highlight-color rgba(0,0,0,0)
		-webkit-touch-callout none
		position absolute
		text-size-adjust none
		transform translateZ(0)
		user-select none
		width widthScroll
		z-index 1

triangle_right_bottom(bg, width)
	// apps.eky.hk/css-triangle-generator/
	width 0
	height 0
	border-style solid
	border-width 30px 0 0 30px
	border-color transparent transparent transparent bg
	position absolute
	right -29px
	content ''
triangle_bottom()
	width 0
	height 0
	border-style solid
	border-width: 12.6px 11px 0;
	border-color $gray_neo transparent transparent transparent
	position absolute
	bottom -10px
	content ''
text_hidden()
	text-indent 100%
	white-space nowrap
	overflow hidden
advanced_btn()
	background #FFAB42
	background -webkit-gradient(linear, 0 0, 0 bottom, from(#FFCE91), to(#ef8717))
	background -webkit-linear-gradient(#FFCE91, #ef8717)
	background -moz-linear-gradient(#FFCE91, #ef8717)
	background -ms-linear-gradient(#FFCE91, #ef8717)
	background -o-linear-gradient(#FFCE91, #ef8717)
	background linear-gradient(to bottom, #FFCE91, #ef8717)

	box-shadow 0px 3px 5px 0px rgba(0,0,0, 0.55)
	text-align center
	color white
	cursor pointer
button_tabs(color)
	background-color color
	transition 0.2s
	&:before
	&:after
		background color
		border-radius 4px
		transition 0.2s
	&:hover
		background-color $gray_neo
		&:before
		&:after
			background-color $gray_neo
button_tabs_hover(color)
	background-color color
	&:before
	&:after
		background color
	&:hover
		background-color color
		&:before
		&:after
			background-color color

// se creo un mixin por que este estilo
// repite en dos diferentes menu (desktop y mobile)
submenu_style()
	display inline-block
	color white
	position relative
	>.icon
		width 25px
		height 25px
		position absolute
		left 12px
		top 8px
		font-size 22px

// stick para el buscador
search_item_sticky(bg, bg_corner)
	min-width 50px	
	background bg
	color white
	height 41px
	line-height 44px
	font-family $familyEvogriaItalic
	font-weight 300
	text-transform uppercase
	text-align center
	position absolute
	padding-right 20px
	padding-left 10px
	right -7px
	top -2px
	&:after
		content ""
		position absolute
		top 1px
		left -15px
		bottom 0
		width 0
		height 0
		border-style solid
		border-width 0 15px 40px 15px
		border-color transparent transparent bg transparent
	&:before
		content ""
		position absolute
		bottom -10px
		right 0
		width 0
		height 0
		border-style solid
		border-width 10px 7.5px 0 7.5px
		border-color bg_corner transparent transparent transparent
	span
		&:before
			content ""
			position absolute
			width 10px
			height 10px
			background white
			right 7px
			bottom -10px
			
// Títulos para secciones de Ficha
header_section_with_bg_gray(pt = 11px, pr = 20px, pb = 5px, pl = 16px, color = $gray_46)
	background-image url("../../../img/ficha/trama_diamond_ficha.png")
	background-color color
	clear both
	color white
	font-family $familyEvogriaItalic
	overflow hidden
	padding pt pr pb pl
	text-transform uppercase
	margin 0 1px
	
	.header_section_title
		float left
		margin 0
		font-weight 100
	
	.header_section_icon
		float right
		font-size 24px
		color white

// Títulos de secciones de ficha		
header_section()
	font-family  $familyEvogriaItalic
	text-transform uppercase
	border-bottom 2px solid black
	padding 0 0 5px 0
	font-size 17px
	font-weight 500
	

	
		
	
