box-sizzing()
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box	
border-radius()
	border-radius arguments
	-webkit-border-radius arguments
	-moz-border-radius arguments		
box-shadow()
	box-shadow arguments
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
transition()
	transition arguments
	-webkit-transition arguments
	-moz-transition arguments
transitionFavorite(o,es,t,ef)	
	transition opacity o ease-in-out es,transform t ease-in-out ef
	transition opacity o ease-in-out es,-webkit-transform t ease-in-out ef
	transition opacity o ease-in-out es,-moz-transform t ease-in-out ef
transform()
	transform arguments
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments
transform-origin()
    transform-origin arguments
    -webkit-transform-origin arguments
    -moz-transform-origin arguments
    -ms-transform-origin arguments
    -o-transform-origin arguments    
animation()
	animation arguments
	-webkit-animation arguments
animation-name()
	animation-name arguments
	-webkit-animation-name arguments
	-moz-animation-name arguments
animation-duration()
	animation-duration arguments
	-webkit-animation-duration arguments
	-moz-animation-duration arguments
animation-iteration-count()
	animation-iteration-count arguments
	-webkit-animation-iteration-count arguments
	-moz-animation-iteration-count arguments
animation-timing-function()
	animation-timing-function arguments
	-webkit-animation-timing-function arguments
	-moz-animation-timing-function arguments
animation-direction()
	animation-direction arguments
	-webkit-animation-direction arguments
	-moz-animation-direction arguments
animation-fill-mode()
	-moz-animation-fill-mode arguments
	-webkit-animation-fill-mode arguments
	animation-fill-mode arguments
user-select()
	-moz-user-select arguments
	-ms-user-select arguments
	-webkit-user-select arguments
text-size-adjust()
	-moz-text-size-adjust none
	-ms-text-size-adjust none
	-o-text-size-adjust none
	-webkit-text-size-adjust none