/*!
* Sitemap
* @module Sitemap
* @author Ronny Cabrera
*/
@require '../../_config/*'
@require '../../_mixins/*'

@import '_render_all/*'

.main_sitemap
	font-family $familyEvogriaItalic
	position relative
	h3
		border-bottom 1px solid #f8901f
		color #f8901f
		font-size 18px
		letter-spacing normal
		font-weight normal
		margin-bottom 10px
		padding-bottom 2px
		padding-left 2px
		padding-left 2px
		text-align left