/*!
* Font Styles
* @module fonts
**/
@require '../_config/*'
@require '../_mixins/*'


@font-face
	font-family "evogria-italc"
	src url($fontPath + "evogria-italc/evogria-italc-webfont.eot")
	src url($fontPath + "evogria-italc/evogria-italc-webfont.eot?#iefix") format("embedded-opentype"), \
		url($fontPath + "evogria-italc/evogria-italc-webfont.woff") format("woff"), \
		url($fontPath + "evogria-italc/evogria-italc-webfont.ttf") format("truetype"), \
		url($fontPath + "evogria-italc/evogria-italc-webfont.svg#evogria-italc") format("svg");
	font-style normal
	font-weight normal

@font-face
	font-family "evogria-rgl"
	src url($fontPath + "evogria-rgl/evogria-rgl-webfont.eot")
	src url($fontPath + "evogria-rgl/evogria-rgl-webfont.eot?#iefix") format("embedded-opentype"), \
		url($fontPath + "evogria-rgl/evogria-rgl-webfont.woff") format("woff"), \
		url($fontPath + "evogria-rgl/evogria-rgl-webfont.ttf") format("truetype"), \
		url($fontPath + "evogria-rgl/evogria-rgl-webfont.svg#evogria-rgl") format("svg");
	font-style normal
	font-weight normal

@font-face
	font-family "iconFonts"
	src url($fontPath + "iconFonts/iconFonts-webfont.eot")
	src url($fontPath + "iconFonts/iconFonts-webfont.eot?#iefix") format("embedded-opentype"), \
		url($fontPath + "iconFonts/iconFonts-webfont.woff") format("woff"), \
		url($fontPath + "iconFonts/iconFonts-webfont.ttf") format("truetype"), \
		url($fontPath + "iconFonts/iconFonts-webfont.svg#iconFonts") format("svg");
	font-style normal
	font-weight normal
