/*!!
 * Solo para version menores a IE 9
 * @module ie
 * @author Jan Sanchez
 */

@require '../_config/*'
@require '../_mixins/*'

// hack resize ie8
body
	min-width 1000px
.btn
	border-radius 4px !important
.content_select
	box-sizzing()
	// height 37px !important
	// width 175px !important
	.icon_arrow_down
		display none !important
	select.control_select
		// padding-bottom 4px
		// padding-top 0px !important
		// height 30px  !important
		box-sizing border-box !important
.publication
	.control_box
		.icon_rumble_question
			top 5px !important

.select_pretty
	select
		-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
		background white 
		option
			background transparent
.select_neo
	.icon
		display none
.links_menu
	li
		margin-left 7px!important
.btn_diagonal
	padding-right 13px!important
	padding-left 13px!important
	&:after
	&:before
		display none
input[type="text"],input[type="email"],input[type="tel"],input[type="password"], select, textarea
	line-height rem(32px)
select
	line-height rem(22px)

.search_by
	li
		a
			.tab_title_hover
				-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"									
			.box_content
				-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"					
			&:hover
			&:active
			&.active	
				.tab_title_hover
					-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"
				.box_content
					-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
					.link
						background-color $orange_03

.mask,
.mask_hover,
.mask_hover_box
	-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"

.blog
	li		
		.hover
			-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
		a
			&:hover
				.hover
					-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
				.box_content
					-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"			
			.box_content			
				-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"

.box_icon
	.title
		//-ms-filter "progid:DXImageTransform.Microsoft.Matrix(M11=3.061616997868383e-16, M12=1, M21=-1, M22=3.061616997868383e-16, SizingMethod='auto expand')"
		-ms-filter "progid:DXImageTransform.Microsoft.Matrix(M11=6.123233995736766e-17, M12=1, M21=-1, M22=6.123233995736766e-17, SizingMethod='auto expand')"
		-ms-writing-mode rl-tb
		//bottom 70px !important
		//left -70px !important
		bottom 100px !important
		left -100px !important
		font-size 17px !important
		letter-spacing 0px !important
		zoom 1
		width 140px !important
		font-family $familyDefault !important
		-ms-transform none !important

.submit_search_advanced
	width 100px !important
	border-radius 6px !important
	.icon_search
		left 14px !important
.sell_vehicle
	padding-left 15px !important
	padding-right 15px !important
	right 0 !important
.submenu
	right 2px !important
	li
		a
			margin-left -7px !important
.ads_featured
	li
		min-height auto !important
		margin-left 12px !important
		height 250px !important
.ads_featured,
.widget_cars
	.mask
		-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
	li
		&:hover
			.mask_hover
				-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
			.mask_hover_box
				-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
.header_box
	.links_menu
		//width 446px !important //ie8
		width 454px !important //ie9
		margin-right 0% !important
		padding-left 6px
		box-sizing border-box

.popup_save
	.arrow_save
		.icon
			background $orange_03 !important
			-ms-filter "progid:DXImageTransform.Microsoft.Matrix(M11=3.061616997868383e-16, M12=1, M21=-1, M22=3.061616997868383e-16, SizingMethod='auto expand')"

.slider_blog 
	.slick-prev
		left 10px !important

// MODULO SEARCH FILTER
.search_filters
	.content_select
		height 34px !important
		margin-bottom 5px !important
		select
			width 98% !important
	button
		>.icon
			margin-left -3px !important
	.mask
		background black
		-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"
	.box_head.open
		.icon
			font-size 24px !important
			margin-top -2px !important
			// -ms-filter "progid:DXImageTransform.Microsoft.Matrix(M11=3.061616997868383e-16, M12=1, M21=-1, M22=3.061616997868383e-16, SizingMethod='auto expand')"	
	.save_filter
		.btn
			margin-left 0 !important
	.box
		&.collapse
			.icon_arrow_down
				// -ms-filter "progid:DXImageTransform.Microsoft.Matrix(M11=6.123233995736766e-17, M12=1, M21=-1, M22=6.123233995736766e-17, SizingMethod='auto expand')"
				font-size 24px
				margin-top -2px
.body_results
	.mask
		background black
		-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
.eplAds
	display block !important
#eplAdDivBox1
	div,
	object
		right 1.7% !important

.form_vehicle
	.btn
		>p
			.icon
				width 122px !important
input[placeholder],
textarea[placeholder]
	color #777 !important
	&:focus
		color #111 !important
	&.unfocus
		color #111 !important
.box_suscribe_newsletter
	label[for=chk_autorize]
		right -14px !important

.form_vehicle
	.parsley-errors-list
		li
			line-height 10px !important
			&:after
				width 15px
				height 15px
				top -1px
				left 4px !important
				padding-left 15px !important
.tooltip_question
	top -100px !important
	font-family arial !important

.item_images
	.arrows
		.icon
			-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"	 
	

// fix module search results
.order
	select
		height 24px !important
		padding-bottom 2px !important

.wrapper_filters
	input[placeholder]
		line-height normal !important

.box_form
	input
		padding 3px 10px 6px 10px !important
	.btn_select
		margin-top 40px !important
		

.body_results
	.item_body
		.grid_3
			margin-right 0px !important
			
.left_footer
	margin-right 0px !important
	> div
		margin-right 1% !important
		
/*ficha*/
.gallery
	.options_view
		.mask
			-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
					
.thumbs_gallery
	li
		-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
		&:hover,
		&.active
			-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"

.controls_slides
	.icon
		-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"

.share_icons
	display block !important
.ficha_tabs,
.versions_tabs
	.btn
		&:first-child
			margin-left 0 !important
		margin-left 10px !important
.versions_tabs
	.grid_7
		max-width 322px !important
		
ul[data-view="4"]
	li
		max-height none	!important

#box_login
	.set_button
		text-align right
		button
			margin 8px 0px
		