include ../../../../_config/modules/all/page.jade
include ../../../../_mixins/modules/all/default.jade
- layout.module = "search"
doctype html
//-+htmlIe()
html(lang="#{page.lang}", xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
	include ../../../../_render/modules/all/head.jade
	body
		include ../../../../_render/modules/home/eplanning.jade
		include ../../../../_render/modules/search/header.jade		
		// -- -- -- -- -- -- -- -- -- -- fin del header -- -- -- -- --  -- -- -- -- --		
		block content
		// -- -- -- -- -- -- -- -- -- -- inicio del footer -- -- -- -- -- -- -- -- -- --
		include ../../../../_render/modules/all/footer.jade		
		include ../../../../_partials/modules/all/footer_scripts.jade