.sitemap_title
	font-family $familyEvogriaItalic
	h2		
		font-size 24px
		width 86%
		display inline-block
		vertical-align middle
		+tablet()
			width 80%
		+mobile()
			width 60%
	.options_links
		letter-spacing normal
		font-size 18px
		width 12%
		min-width 103px
		display inline-block
		vertical-align middle
		a
			color #292929
			&:hover
				color #f3921f
		.current
			color #f3921f
			
.actived
	font-size 0px
	letter-spacing -4px
	ul
		display inline-block
		vertical-align top
		margin-bottom 25px
		+mobile()
			width 32% !important
		+between(280px, 460px)
			width 100% !important
		li
			display block
			padding 5px 0
			text-align left
			width 100%
			a
				font-size 13px
				letter-spacing normal
				display block
				font-family $familyHelvetica
				color #4b4b4b
				white-space nowrap
				overflow hidden
				text-overflow ellipsis
				&:hover
					text-decoration underline

.option_motorbike
	margin-bottom 80px
	.motorbike_by_brand
		width 20%
		a
			height 15px