extends ../../../../../layouts/scripts/modules/search/layout.jade
//- index/index

block content
    //- main
    .main_sitemap.center_box
        //- title
        section.sitemap_title
            h2 MAPA DEL SITIO
            .options_links
                a.current(href="javascript:;") Auto
                span  | 
                a(href!="<?php echo $this->baseUrl(); ?>/mapa-de-sitio/moto") Moto
            .options_contents
                .option_car.actived
                    include ../../../../../_render/modules/sitemap/car.jade

include ../../../../../_mixins/modules/sitemap/index/index.jade                    