extends ../../../../../layouts/scripts/modules/search/layout.jade
//- index/index

block content
    //- main
    .main_sitemap.center_box
        //- title
        section.sitemap_title
            h2 MAPA DEL SITIO
            .options_links
                a(href!="<?php echo $this->baseUrl(); ?>/mapa-de-sitio") Auto
                span  | 
                a.current(href="javascript:;") Moto
            .options_contents
                .option_motorbike.actived
                    include ../../../../../_render/modules/sitemap/motorbike.jade

include ../../../../../_mixins/modules/sitemap/index/motos.jade                    