.versions_tabs
	.btn
		float left
		white-space nowrap
	+tablet()
		.ficha_box_title
			.grid_5,
			.btn
				font-size 14px !important
			.grid_7
				max-width 295px
	+mobile()
		.grid_5
			width 100%
			border-bottom 2px solid #111 !important
			padding-bottom 5px !important
		.grid_7
			width 100%
			max-width 100% !important
			margin-bottom 20px
			.btn
				margin-top 10px !important
				text-align center !important
				width 40% !important
	.grid_5
		white-space nowrap
		overflow hidden
		height 19px
		text-overflow ellipsis
		margin-top 10px
		font-size 17px
	.grid_7
		float right
		max-width 320px
	.tab_option
		height 50px