.accessories
	.data_left
	.data_right
		width 40%
	.data_left
		margin-left 50px
		margin-rigth 10px

.accessories
	fieldset
		border 0
		margin 0
		margin-bottom 15px
		.title
			font-size 14px
			width 100%
			display block
			margin-bottom 5px
		.control_switch
			width 64px
			display inline-block
			vertical-align middle
			margin-bottom 5px
		.text_switch
			width 214px
			font-size 16px
			font-family $familyHelvetica
			display inline-block
			vertical-align middle
			margin-bottom 3px