.bg_pattern_diamond
	.form_two
		margin-top 28px
		
.publication	
	padding-top 28px
	width 73%
	float left
	
.form_two
	font-family $familyEvogriaItalic
	hr
		border 1px solid #000
		box-sizzing()
		margin -3px 0px 15px 0px
		padding 0
	.content_data
		width 100%
		margin-bottom 20px
		+tablet()
			width 60%
		.title_data,
		.percent
			display inline-block
			vertical-align bottom
			font-size 0px
		.title_data
			font-size 18px
			width 90.9%
			+tablet()
				width 85%
			+mobile()
				width 80%
		.percent
			background #000
			color $orange_01
			font-size 21px
			height 30px
			line-height 34px
			margin-bottom 1px
			width 54px
			&:before
			&:after
				background #000
				
.publication
	.control_box
		position relative
		margin-bottom 25px
		font-family $familyHelvetica
		label
			width 136px
			font-size 14px
		input
			width 175px
			height 43px
			font-size 18px
			padding-left 5px
			box-sizzing()
		.icon_rumble_question
			position absolute
			top 11px
			right -34px
			font-size 28px
			color $orange_03
			.tooltip
				display none
			&:hover 
				>.tooltip
					background #FFF
					border 4px solid #F3922B
					border-radius 5px
					bottom -38px
					color #000000
					display block
					font-size 12px
					font-weight normal
					left 55px
					padding 10px
					position absolute
					width 260px
					z-index 1
					&:after
						content ''
						position absolute
						top 8%
						left -15%
						width 0
						height 0
						border-top 15px solid transparent
						border-bottom 15px solid transparent
						border-left 10px solid transparent
						border-right 30px solid #F3922B
		.content_select			
			select
				width 173px
				
.publication
	.send
		background $orange_01
		width 180px
		height 43px
		&:before
		&:after
			background $orange_01
	.back
		background $gray_6c
		width 180px
		height 43px
		margin-right 30px
		&:before
		&:after
			background $gray_6c
	
.box_percents
	background $gray_5c
	width 24.5%
	float right
	margin-top 28px
	box-sizzing()
	.content_data
		.title_data
			font-size 15px
			width 59%
			padding-left 18px
			box-sizzing()
			line-height 35px
		.percent
			width 31.9%
			font-size 15px
		hr
			width 222px