.content_data	
	.data_left
		margin-right 54px			
	.data_bottom
		label
			width 136px
			font-size 14px
		textarea
			width 553px
			font-size 18px
			vertical-align top
	.control_character_count
		font-family $familyHelvetica
		font-size 12px
		margin-top 5px
		text-align right
		.orange
			color $orange_01
			