.image_loader
	background white
	color #ccc
	width 100%
	height 160px
	border-radius 8px
	border 3px #ccc dashed
	text-align center
.icon_upload
	font-size 105px
	margin-top 14px

.box_uploader
	margin 0 auto	

ul.files
	list-style none
	padding 0px
	font-size 0px
	text-align left
	li.fade
		background #fff
		display inline-block
		vertical-align top
		width 80px
		text-align center
		border 1px dashed #ccc
		margin 5px 4px
		position relative
		word-wrap break-word
		img
			width 70px
			height 50px
		.preview
			height 50px
		.name
			height 40px
			font-size 10px
			line-height 10px
	
#fileupload
	margin  0 auto
	text-align center

.buttons
	margin-bottom 20px

.fileinput-button
	background #000
	color #fff
	margin 0 auto
	overflow hidden
	position relative
	text-align center
	width 120px
	input
		position absolute
		top 0
		right 0
		margin 0
		opacity 0
		-ms-filter 'alpha(opacity=0)'
		font-size 200px
		direction ltr
		cursor pointer

.upload_start
	displaynone

.delete
	border 0
	border-radius 50%
	top -5px
	right -5px
	position absolute
	cursor pointer
	font-size 14px

//.fileupload-processing .fileupload-process,
.files
	.processing
		.preview
			display block
			width 32px
			height 32px
			background url("../../../img/loading.gif") center no-repeat
			background-size contain

.buttonbar
	.btn
	.toggle
		margin-bottom 5px

.progress-animated
	.progress-bar
	.bar
		background url("../../../img/progressbar.gif") !important
		filter none
		
.fileupload-process
	float right
	display none
	
.box_uploader
	background #eee
	border 2px dashed #ccc
	border-radius 5px
	width 720px
	min-height 150px

.fileupload-progress
	margin 10px 0

.fileupload-progress
	.progress-extended
		margin-top 5px
		
.error
	color #252525