.price
	.control_box
		span
			color black
			font-size 13px
			margin-left 14px
			> span
				font-size 14px
				color $orange_03
				font-family $familyEvogriaItalic
				margin-left 4px
		.icon_rumble_question
			top 2px !important
.price
	.control_box	
		label
			span
				color red
				font-size 16px
		label.off
			width 310px
			margin-left 15px
		.control_switch
			display inline-block
			vertical-align middle
		.switchery
			margin-left 0
				