.features_usado
    max-width 644px
    margin 30px auto 0
    
    .feature
        margin 0 0 15px 0
                    

        &.feature_secondary
            .feature_header
                header_section_with_bg_gray()

                .header_section_title
                    font-size 19px

    .feature_body
        table.feature_table
            border-spacing 1px
            border-collapse separate
            width 100%
                     
            th
                background #f1efef                
                font-family $familyHelvetica
                font-size 13px
                font-weight 600
                height 43px
                padding 0 10px
                text-align left
                
                &.field_header
                    background #d8d6d6
                    width 26%
                    
                    +mobile()
                        width 40%
                        padding 0 5%
                

                +mobile()
                    text-align center                    
                    width 40%
                    padding 0 5%
        
        div.feature_table
            margin-bottom 10px
            clear both
            overflow hidden

            .box
                width 48%
                float left
                padding  20px 0 0 2%
                text-align left
                
                +tablet()
                    width 98%
                
                +mobile()
                    width 98%
                    
                
                .icon
                    color $orange_01
                    display inline-block
                    vertical-align  middle
                
                small
                    font-size  14px
                    font-family $familyHelvetica 
                    margin  0 0 0 5px
                    display inline-block
                    vertical-align  middle
            
                    
                    
                 
        
