/*!
* Font Styles
* @module fonts
**/
@require '../_config/*'
@require '../_mixins/*'

<% _.each(dirList, function(fontName) { %>
@font-face
	font-family "<%= fontName %>"
	src url($fontPath + "<%=fontName%>/<%=fontName%>-webfont.eot")
	src url($fontPath + "<%=fontName%>/<%=fontName%>-webfont.eot?#iefix") format("embedded-opentype"), \
		url($fontPath + "<%=fontName%>/<%=fontName%>-webfont.woff") format("woff"), \
		url($fontPath + "<%=fontName%>/<%=fontName%>-webfont.ttf") format("truetype"), \
		url($fontPath + "<%=fontName%>/<%=fontName%>-webfont.svg#<%=fontName%>") format("svg");
	font-style normal
	font-weight normal
<% }); %>
