.paginator
	text-align right	
	width 100%
	float left
	margin-bottom 70px
	+mobile()
		width 160%
	ul
		//padding-right 6px
		display inline-block		
		float none !important
		width auto !important
		+tablet()
			display none
		+mobile()
			display none
		&.mobile
			display none
			text-align center
			+tablet()
				display block
			+mobile()
				display block
			li
				width 47% !important
				float left
				margin 0
				padding 0
				display inline-block
				&:last-child
					float right
			a
				border 1px solid #ccc
				font-size 15px
				padding 10px 6px 0px 6px
				height 40px
				&:hover
					background white
					color #5b5b5b
				&.disabled
					border-color #ddd
					color #aaa
			i
				font-size 14px
				padding-bottom 3px
				&.icon_arrows_left
					padding-right 8px
				&.icon_arrows_right
					padding-left 8px			
				
		li
			float left
			margin-left 7px
			padding-top 8px
			text-align center
			min-width 31px !important
			width auto
			a
				border-radius 4px
				//box-sizing: border-box; */
				color #5b5b5b
				display block
				height 31px
				line-height 31px
				padding 0 6px
				//padding-top: 8px; */
				//width 31px
				&.icon
					background #999999
					color white
					font-size 14px
				&:hover
					background $orange_01
					color white
				&.current
					background $orange_01
					color white
				