.popup_save
	/*display none*/
	font-size 0	
	//left 100%
	//position absolute
	//top 0
	//width 350px
	//z-index 2						
	.box_save
		/*border-bottom 1px solid gray
		border-left 5px solid orange
		border-right 1px solid gray
		border-top 1px solid gray*/
		/*display inline-block*/
		font-size 18px		
		/*vertical-align middle*/
		width 290px
		overflow hidden
		/*position relative
		padding 18px
		left 19px*/
		.saved_searches
			font-size 13px
			.number_alerts
				font-size 14px
				font-weight bold
				color black
		form
			margin 5px 0 0
			.field
				font-size 13px
				margin 10px 0
				display inline-table
				label
					float left
					width 242px
					line-height 18px
			.center_box
				text-align center
				margin-top 10px
				.btn
					font-size 15px
					padding 0 2px
					margin 0 16px
					height 32px
					line-height 33px
					&.bg_gray
						cursor pointer
					&:after,
					&:before
						border-radius 0
				
			.switchery
				float left
				width 35px
				height 16px
				margin-right 11px
				>
					small
						height 14px
						width 18px	
			.txt_search
				font-size 14px
				width 94.5%
				padding 1.4% 2%
		p
			font-size 13px
			font-family $familyHelvetica
			line-height 18px
			padding 0
			width 100%
			span
				font-size 17px
				color $orange_01
				font-weight bold
		.title
			font-size 16px
			font-family $familyEvogriaItalic
			width 100%			
			margin-bottom 14px	
		.close
			width 30px
			color white
			height 30px
			background $gray_neo
			font-size 22px
			border-radius 50%
			text-align center
			box-sizing border-box
			padding-top 1px
			position: absolute
			right -14px
			top -16px
	.list_responses
		display none
		font-size 13px
		margin-left 50px
		li
			height 23px
		input 
			margin-right 10px
			float left