.search_filters
	/*max-width 200px	*/
	min-height 500px
	position relative
	font-size 15px
	float left
	margin-right 2.1%
	margin-bottom 50px
	width 20.834%
	font-family $familyHelvetica
	letter-spacing -0.04em
	+between(400px, 650px)
		margin-right 20px !important
	+tablet()
		width 24%	
	+mobile()
		width 300px
		transition all .3s
		margin-right 15px !important
		.save_filter
			display none
	p
		line-height 25px
		display block
		width 90%
		padding 0 5%
		font-size 13px
		text-shadow 0 1px 0 #E3E0E0
		+mobile()
			font-size 14px
	.box
		color #222
		margin 10px 0 0 0
		&.collapse
			.box_head
				.icon_arrow_down
					transform rotate(-90deg)
					font-size 20px
					margin-top 0px
			.box_content
				max-height 0px
				transition max-height .3s ease-out
	.box_head
		height 22px
		position relative
		width 90%
		padding 5px 5% 3px 5%
		cursor pointer
		>span
			font-size 14px
			text-transform uppercase
			font-family $familyEvogriaItalic
			width 82%
			height 20px
			overflow hidden
			display inline-block
			white-space nowrap
			text-overflow ellipsis
		.icon
			float right
			font-size 24px
			margin-top -2px
			transition .2s linear
	.box_content
		max-height 5000px
		transition max-height .4s ease-in
		height auto
		overflow hidden
		ul
			padding 5%						
		li
			line-height 22px
			padding-left 2px
			width 100%
			height 24px
			white-space nowrap
			overflow hidden
			text-overflow ellipsis
			+mobile()
				height 30px
				line-height 32px
				a
					font-size 16px !important
			a
				color $azul_search
				font-size 13px
				text-shadow 0 1px 0 #eee
				text-transform capitalize
				&:hover
					text-decoration underline
				&.see_more
					font-size 11px
					text-decoration underline
					margin 5px 2px
			span
				color #797979
				margin-left 5px
				font-size 12px
				text-shadow 0 1px 0 #eee
			&.more
				display none		
		.filter_category_vehicles
			width 100%
			min-height 50px
			margin-top 10px
			a
				color black
			figure
				width 50%
				float left
				height 70px
				float left
				text-align center
				font-size 11px
				img
					width 80%
					height auto
	.box_form
		min-height 40px
		margin-top -5px
		margin-left 4%
		position relative
		.parsley-errors-list
			display none			
		input
			max-width 80px
			padding 5px 10px 6px 10px
			float left
			margin-right 5px
			width 37%
			height 32px
			box-sizing border-box
			&.error
				border-color rgb(237, 83, 83)
			+tablet()
				font-size 14px
				padding 6px 5%
				width 34%
				
		button
			background $azul_search
			width 31px
			border 0
			height 32px
			color white
			border-radius 4px
			margin 0
			padding 5px 4px
			vertical-align middle
			box-sizing border-box
		.content_select_box
			max-width 190px
			float left
			height 80px
			margin-right 5px
			width 76.6%
			+tablet()
				width 75.9%
			.content_select
				height 28px
				margin-bottom 10px
				.icon
					height 27px
					line-height 28px
					margin-top -1px
					margin-right -1px
				select
					height 26px
					font-size 15px
					color #555
		.btn_select
			margin-top 45px
	.mask
		opacity .3
		left 0
		right 0
		bottom 0
		top 0
		
.save_filter
	height 50px
	width 100%
	background white
	color $orange_03
	position relative
	.btn
		height 23px
		line-height 26px
		margin-left 18px
		font-size 15px
		width 68%
		+between(180px, 190px)
			font-size 13px
		+tablet()
			width 60%
		&:before
			border-radius 2px 0 0 2px
		&:after
			border-radius 0px 2px 2px 0px
	.icon
		position absolute
		right 0px
		top 2px
		font-size 26px
		cursor help
		z-index 3
		&:hover
			.tooltip_question
				opacity 1
				visibility visible
				transition ease-in all .4s
.your_filter
	width 90%
	padding 10px 5%
	min-height 60px
	position relative
	margin 0 0 5px 0
	.clean_filter
		position absolute
		z-index 1
		top 12px
		right 5px
		color white
		text-decoration underline
		font-size 12px
	.filters
		margin-top 10px
	.filter_tag
		display inline-block
		float left
		font-size 13px
		color #222
		background #eee
		border-radius 4px
		padding 3px 30px 3px 10px
		position relative
		z-index 1
		margin 4px 8px 4px 0
		height 14px
		white-space nowrap
		p
			width 100%
			height 15px
			overflow hidden
			white-space nowrap
			text-overflow ellipsis
			line-height 14px
			padding 0
			max-width 142px
			display inline-block
		>span
			position absolute
			right 0
			top 0
			bottom 0
			width 20px
			background #777
			text-align center
			line-height 20px
			color black
			border-radius 0 4px 4px 0
		&:hover
			>span
				background $azul_web
				color white
		&.disabled
			cursor default !important
			&:hover
				>span
					background #777
					color black

.tooltip_question
	position absolute
	width 200px
	min-height 30px
	background white
	border 1px solid #BDB6B6
	border-radius 5px
	font-size 11px
	color #777
	top -110px
	left -50px
	z-index 2
	padding 10px
	cursor default
	opacity 0
	visibility hidden
	transition ease-out all .4s
	&:before
		content ""
		position absolute
		bottom -12px
		left 53px
		width: 0
		height: 0
		border-style solid
		border-width 12px 9px 0 9px
		border-color #A0A0A0 transparent transparent transparent
	&:after
		content ""
		position absolute
		bottom -11px
		left 54px
		width: 0
		height: 0
		border-style solid
		border-width 11px 8px 0 8px
		border-color white transparent transparent transparent
	h4
		margin-bottom 4px
		margin-top 3px
		color #444
		font-size 12px
		font-family $familyEvogriaItalic
		text-transform uppercase
		font-weight 300
	p
		line-height 15px
		margin 0
		padding 0
		width 100%
		color #777
		font-family arial
		font-size 12px
		letter-spacing normal
		text-shadow none
