.breadcrumbs
	width 100%
	min-height 12px
	margin 20px 0 10px 0
	box-sizing border-box
	+mobile()
		margin-bottom 0
	h1
		text-transform uppercase
		font-family $familyEvogriaItalic
		font-size 19px
		margin 0
		font-weight 500
		letter-spacing -.04em