script(type="text/template" id="reportarAviso")
	.modal_content.modal_report
		h3 Reportar Aviso
		span ¿Por qué quieres reportar este aviso?
		form
			.message
			fieldset
				input(type="radio" value="reportar1" id="reportar1" name="reportar")
				label(for="reportar1") 
					span
					| El auto ya fue vendido
			fieldset
				input(type="radio" value="reportar2" id="reportar2" name="reportar")
				label(for="reportar2")
					span
					| Los datos mostrados son incorrectos
			fieldset
				input(type="radio" value="reportar3" id="reportar3" name="reportar")
				label(for="reportar3") 
					span
					| El aviso no es real

			.foot_box
				button.btn.btn_diagonal.bg_orange(type="submit") CONFIRMAR

script(type="text/template" id="enviarAmigo")
	.modal_content.modal_send_friend
		h3 Enviar a un amigo
		form
			.message
			fieldset
				label(for="nombre") De:  
					.text_name  {{= user}}
				input(type="hidden" name="slug" value="{{= slug}}")
				input(type="hidden" name="token" value="{{= token}}")
			fieldset
				label(for="para") Para
					i *
				input.content_select.border_gray( name="email" type="email" required value="")
			fieldset
				label(for="mensaje") Mensaje
				textarea.content_select.border_gray(name="message" required) Hola soy {{= user}} y creo que te va a interesar este vehiculo
			.text_title
				p {{= titulo}}
				p {{= precio}}
			.captcha
				+recaptcha("enviarAmigo")
			.foot_box
				button.btn.btn_diagonal.bg_orange(type="submit") Enviar

//-script(type="text/template" id="login")
	.modal_content.modal_login
		h3 Ingresa A Tu Cuenta
		form
			fieldset
				label(for="nombre") Email
					i *
				input.content_select.border_gray(type="text" placeholder="homero.simpson@clicksandbricks.pe" name="nombre")
			fieldset
				label(for="nombre") Contraseña
					i *
				input.content_select.border_gray(type="password" placeholder="******" name="nombre")
			fieldset
				input(type="checkbox")
				label Ver caracteres
			.foot_box
				button.btn.btn_diagonal.bg_orange(type="submit") Enviar
				a(href="javascript:;") ¿Olvidaste tu contraseña?
				p Si no eres miembro de Neoauto, 
					a(href="javascript:;") regístrate aquí 
					|  es fácil y rápido


script(type="text/template" id="restaurarPassword")
	.modal_content.modal_restore_password
		h3 Restablecer Contraseña
		form
			.message
			fieldset
				label(for="nombre") Ingresa tu email para restablecer tu contraseña  
					i *
				input.content_select.border_gray(type="text" placeholder="homero.simpson@clicksandbricks.pe" name="nombre")
			.foot_box
				button.btn.btn_diagonal.bg_orange(type="submit") Enviar
				a(href="javascript:;") Iniciar Sesión

script(type="text/template" id="messageModal")
	.modal_content
		h3 respuesta del servidor
		p {{= message}}