/*!!
* Layout
* @module layout
* @class header
* @author Jhonnatan Castro && Juan Pablo Chullo
*/

a.iso_type
	background white
	width 49px
	height 43px
	text-align center
	img
		vertical-align middle