/*!
* Auth
* @module auth/register
* @author Jhonnatan Castro
*/
@require '../../_config/*'
@require '../../_mixins/*'

// @import '_render_all/*'
.title_form
	border 0px
	border-top 2px solid #c9c9c9
	text-align center
	margin-top 16px
	legend
		padding 0 7px