.slick-slider
	position relative
	display block
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
	-ms-touch-action pan-y
	touch-action pan-y
	-webkit-tap-highlight-color transparent

.slick-list
	position relative
	overflow hidden
	visibility visible
	margin 0
	padding 0
	&:focus
		outline none
	&.dragging
		cursor pointer
		cursor hand

.slick-loading
	.slick-list
		background #fff url($imgPlugins+"slick/ajax-loader.gif") center center no-repeat
	.slick-track
		visibility hidden
	.slick-slide
		visibility hidden

.slick-slider
	.slick-track
		-webkit-transform translate3d(0, 0, 0)
		-moz-transform translate3d(0, 0, 0)
		-ms-transform translate3d(0, 0, 0)
		-o-transform translate3d(0, 0, 0)
		transform translate3d(0, 0, 0)

.slick-track
	position relative
	left 0
	top 0
	display block
	&:after
		clear both

.slick-track:before, .slick-track:after
	content ""
	display table

.slick-slide
	float left
	height 100%
	min-height 1px
	img
		display inline-block
	&.slick-loading
		img
			display none
	&.dragging
		img
			pointer-events none

[dir="rtl"]
	.slick-slide
		float right
	.slick-prev
		left auto
		right -25px
		&:before
			content "→"
	.slick-next
		left -25px
		right auto
		&:before
			content "←"

.slick-initialized
	.slick-slide
		display block

.slick-vertical
	.slick-slide
		display block
		height auto
		border 1px solid transparent

.slick-prev, .slick-next
	position absolute
	display block
	line-height 0
	font-size 0
	cursor pointer
	background transparent
	color transparent
	top 50%
	margin-top -10px
	padding 0
	border none
	outline none

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus
	outline none
	background transparent
	color transparent

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before
	opacity 1

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before
	opacity 0.25
	cursor default

.slick-prev:before, .slick-next:before
	font-family "iconFonts"
	font-size 41px
	line-height 1
	color black
	opacity 0.75
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.slick-slider
	.slick-prev,
	.slick-next		
		&:before
			content ""
			display block


.slick-prev
	left 6px	
	&:before
		sprite($arrow_prev)		
		float left

.slick-next
	right 6px
	&:before
		sprite($arrow_next)
		float right

.slick-dots
	position absolute	
	list-style none
	text-align center
	padding 0
	width 100%
	top 0
	display none
	li
		position relative
		display inline-block		
		margin 0 5px
		padding 0
		cursor pointer
		button
			border 0
			background white
			display block
			height 3px
			width 3px
			outline none
			line-height 0
			font-size 0
			color transparent
			padding 3px
			cursor pointer
			border-radius 50%
			opacity .7
			&:before
				position absolute
				top 0
				left 0
				content "•"
				width 20px
				height 20px
				font-family "iconFonts"
				font-size 6px
				line-height 20px
				text-align center
				color black
				opacity 0.25
				-webkit-font-smoothing antialiased
				-moz-osx-font-smoothing grayscale
		&.slick-active
			button
				background #565656
				opacity 0.75

.slick-dots li button:hover, .slick-dots li button:focus
	outline none

.slick-dots li button:hover:before, .slick-dots li button:focus:before
	opacity 1

