.switcher
  cursor pointer
  font-family "Lucida Sans Unicode","Lucida Grande",sans-serif
  font-size 11px
  text-transform uppercase
  display inline-block
  *display inline
  *zoom 1
  .content
    position relative
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    min-height 0
  .text
    display none
    overflow hidden
    text-align center
    white-space nowrap
  &.is-disabled
    opacity 0.4
  &.default
    background-color #fff
    border 1px solid #dfdfdf
    border-radius 4px
    line-height 26px
    min-width 80px
    padding 2px
    -webkit-transition background-color 0.3s
    transition background-color 0.3s
    input
      display none
    .slider
      background-color #fff
      border-radius 4px
      box-shadow 0 0 2px 1px #dfdfdf
      height 26px
      left 0
      position absolute
      top 0
      -webkit-transform translateX(0%)
      -ms-transform translateX(0%)
      transform translateX(0%)
      -webkit-transition -webkit-transform 0.3s
      transition transform 0.3s
      width 50%
      z-index 2
    .text
      width 50%
      display inline-block
      *display inline
      *zoom 1
    .textYes
      color #fff
      float left
    .textNo
      color #9f9f9f
      float right
    &.is-active
      background-color #519b20
      .slider
        -webkit-transform translateX(100%)
        -ms-transform translateX(100%)
        transform translateX(100%)
  &.short
    cursor pointer
    display inline-block
    margin-right 5px
    vertical-align middle
    input
      display none
    .content
      border 1px solid #aaa
      border-radius 50%
      height 18px
      padding 0
      width 18px
    .slider
      background-color #519b20
      border-radius 50%
      height 12px
      margin 3px
      opacity 0
      -webkit-transform scale(0)
      -ms-transform scale(0)
      transform scale(0)
      -webkit-transition all 0.2s
      transition all 0.2s
      width 12px
    &.is-active
      .slider
        opacity 1
        -webkit-transform scale(1)
        -ms-transform scale(1)
        transform scale(1)

