.switchery
	background-color #fff !important
	border 1px solid #dfdfdf
	border-radius 2px
	cursor pointer
	display inline-block
	height 22px
	position relative
	width 50px
	-moz-user-select none
	-khtml-user-select none
	-webkit-user-select none
	-ms-user-select none
	user-select none
	box-sizing content-box
	background-clip content-box
	& > small
		background-color #ccc
		border-radius 14%
		height 20px
		position absolute
		top 1px 
		width 26px
	.orange
		background-color $orange_01

.switchery-small
	border-radius 20px
	height 20px
	width 33px
	& > small
		height 20px
		width 20px

.switchery-large
	border-radius 40px
	height 40px
	width 66px
	& > small
		height 40px
		width 40px