/*!!
* Publication
* @module Publication
* @class header for publication
* @author Ronny Cabrera
*/
header
	width 100%
	.top_bar
		background $black_1c
		a.iso_type
			sprite($iso_tipo)
			float left
		/*ul.externals
			float left
			margin-top 12px
			//+to(2)
			//	display none
			li
				+tablet()
					&:first-child
						a
							padding-left 15px
				//display_inline()
				a
					+tablet()
						padding 0 5px
						font-size 13px
					color white
					padding 0 15px
					font-family $familyHelvetica
					font-size 14px*/
		.wrapper_right
			//+to(2)
			//	float none
			float right
			margin-top 13px
		.user_links
			color white
			.user_name
				color $orange_01
			a
				color white
				font-size 18px
				margin-left 10px
				
			/*.btn_publish
				float left
				//+to(2)					
				//	padding-top 6px
				//	&:after
				//		top 6px
				//	margin-left 11px
				+tablet()
					margin-top 1px
					padding-top 3px
					font-size 13px
					padding 4px 32px 5px 10px
					&:after
						top 5px
						right 8px
			ul.account
				+mobile()
					display none
				float right
				margin 5px 10px 0 10px
				li
					color white
					float left
					&.register_link
						a
							color $orange_01
					&.text
						margin 0 5px
					&.login_link
						a
							color white
					a						
						//+to(2)
						//	font-size 15px
						font-family $familyHelvetica
						font-size 14px*/
	.principal_menu
		background transparent
		.logo
			float left
			height 51px
			margin-top 25px
			width 218px
		.menu_steps
			margin-top 36px
			padding 0
			float right
			li
				float left
				margin 0 16px 0 15px
				a														
					float left
					height 32px								
					&.active
						background $orange_01
						.steps_numbers
							color $orange_02
						.steps_words
							color white
					&.inactive
						background $gray_6c
						.steps_numbers
							color $gray_9c
						.steps_words
							color $gray_8c
					&.active:before
					&.active:after
						background $orange_01
					&.inactive:before
					&.inactive:after
						background $gray_6c
					.steps_numbers
						font-size 34px
						float left
						line-height 36px
						margin-left -6px
						color $gray_6c
					.steps_words
						font-size 11px
						line-height 14px
						display block
						color $gray_7c
						width 63px
						text-align left
						margin-left 34px
						margin-top 4px
