mixin ficha_tab(tipo, params)
    case tipo
        when "nuevo"
            <?php if(count($this->ficha['notaInformativa']) > 0): ?>
            .ficha_tabs.neo_tabs
                .tab_option
                    .ficha_box_title
                        <?php $i=0; foreach ($this->ficha['notaInformativa'] as $k => $v): ?>
                        a.btn.btn_diagonal(data-tabclass!="ficha_<?php echo $v['campo'] ?>", class!="<?php echo $i == 0 ? 'active' : '' ?>") <?php echo $v['campo'] ?>
                        <?php $i++; endforeach ?>
                .tab_contents
                    <?php $i=0; foreach ($this->ficha['notaInformativa'] as $k => $v): ?>
                    div(class != "ficha_<?php echo $v['campo'] ?> <?php echo $i == 0 ? ' active' : '' ?>")
                        p  <?php echo $v['texto'] ?>
                    <?php $i++; endforeach ?>
            <?php endif ?>
        when "usado"
            .ficha_tabs
                .ficha_box_title
                    p Descripcion
                .ficha_description
                    p <?php echo (isset($this->ficha['descripcion'])? $this->ficha['descripcion']: ''); ?>
        default
            .ficha_tabs
                p option not found

mixin features_header(params)
    .feature
        .feature_body             
            //- Header de nombres de campos
            table.feature_fields_table(border="0", cellspacing="0", cellpadding="0")
                thead
                    each field_value, field_key in params.fields
                        tr                    
                            th
                                !=field_value
            //- Valores de campos por versiones
            .u_table_values_content        
                .u_flex_content
                    each version in params.versions
                        table.feature_value_table(border="0", cellspacing="0", cellpadding="0")
                            tbody
                                each field_value, field_key in params.fields
                                    tr
                                        th
                                            block values
                                                !=version[field_key]                

mixin contact_advertiser_particular(settings)
    .contact_advertiser
        .contact_advertiser_header
            .advertiser
                .advertiser_info.advertiser_info_particular
                    h2 Contáctate con el anunciante
                

        +contact_advertiser_body(settings)

mixin contact_advertiser(settings)
    .contact_advertiser
        .contact_advertiser_header
            if !settings.is_show_title
                h2.section_title Contacta al anunciante     
            .advertiser
                .advertiser_info
                    img.advertiser_pic(src!=settings.pic_url? page.url.elements + settings.pic_url: page.url.image + "ficha/fox_car.png", width="82", height="61", alt="foxcar")
                    .advertiser_info_detail
                        h3.advertiser_name !{settings.name}
                        a(href="") Más vehículos del anunciante
                

        +contact_advertiser_body(settings)


mixin contact_advertiser_body(settings)
    .contact_advertiser_body.neo_tabs
        .tab_option
            a.tab.active(data-tabclass="send_message") Enviar mensaje
            a.tab(data-tabclass="view_phone") Ver teléfono
        .tab_contents

            .tab_content.send_message.active
                +resultMessage                
                form.form_send_message(action="/ajax/ficha/ask-seller", method="post", data-parsley-validate)
                    .loading_content
                        .loading_gif
                        small Enviando
                    .fields
                        .send_message_fields
                            input(type="hidden",name= "urlId", value!="<?php echo $this->ficha['urlId'] ?>")
                            .row_form
                                input.text_name(type="text", placeholder="Nombres", name="name", required, autocomplete="off")
                            
                            .row_form
                                input.txt_name(type="email", placeholder="Email", name="email", required, autocomplete="off")
                            
                            .row_form
                                input.txt_name(type="text", placeholder="Teléfono", name="phone", required, data-parsley-maxlength="9", data-parsley-minlength="7", maxlength="9", autocomplete="off")
                            
                            .row_form
                                textarea.txt_name(placeholder="Hola estoy interesada en el Chevrolet Tracker 2015 que se ha publicado en Neoauto.com, me gustaría conocer más detalles sobre este vehículo.", name="message",required, autocomplete="off")              
                            
                        .send_message_recaptcha
                            +recaptcha(settings.recaptcha_message_name)

                            p.tyc
                                | Al contactar acepto la 
                                a(href="#") Política de privacidad 
                                | y 
                                a(href="#") Términos y condiciones 
                                | de neoauto.com

                            button.btn.btn_diagonal(type="submit") Contactar



            .tab_content.view_phone
                form.form_view_phone(action="/ajax/ficha/ver-telefono", method="post",  data-parsley-validate)
                    .u_clearfix
                        .send_message_fields
                            input(type="hidden",name= "urlId", value!="<?php echo $this->ficha['urlId'] ?>")
                            .row_form
                                input.txt_name(type="email", placeholder="Email", name="email", required, autocomplete="off")                            
                        .send_message_recaptcha
                            +recaptcha(settings.recaptcha_phone_name)

                    p.tyc
                        | Al contactar acepto la 
                        a(href="#") Política de privacidad 
                        | y 
                        a(href="#") Términos y condiciones 
                        | de neoauto.com

                    button.btn.btn_diagonal(type="submit") Ver teléfono



mixin resultMessage
    .resultMessage
        p
        i.icon.icon_close-small


mixin share_icons(idaviso)
    .share_icons
        a.radius.google(href="" title="compartir en google")
            i.icon.icon_google_plus
        a.radius.facebook(href="" title="compartir en facebook")
            i.icon.icon_facebook
        a.radius.twitter(href="" title="compartir en twitter")
            i.icon.icon_twitter
        a.fancybox(href="" title="compartir por email" data-content-ajax="#enviarAmigo" data-idaviso!="#{idaviso}")
            i.icon.icon_mail
        a(href="" title="agregar a favoritos")
            i.icon.icon_heart
        a.fancybox(title="reportar anuncio" data-content-ajax="#reportarAviso" fancybox-width="width")
            i.icon.icon_block
        
