include all.jade

mixin feature_table(params)
    .feature
        .feature_header
            h4.header_section_title
                !=params.name_feature
            i.header_section_icon.icon.icon_arrow_up
        .feature_body             
            //- Header de nombres de campos
            table.feature_fields_table(border="0", cellspacing="0", cellpadding="0")
                thead
                    block test                 
                        each field_value, field_key in params.fields
                            tr                    
                                th
                                    !=field_value
            //- Valores de campos por versiones
            .u_table_values_content        
                .u_flex_content
                    each version in params.versions
                        table.feature_value_table(border="0", cellspacing="0", cellpadding="0")
                            tbody
                                each field_value, field_key in params.fields
                                    tr
                                        th
                                            !=version[field_key]

mixin feature_table_with_check(params)
    .feature.feature--table_with_checks
        .feature_header
            h4.header_section_title
                !=params.name_feature
            i.header_section_icon.icon.icon_arrow_up
        .feature_body             
            //- Header de nombres de campos
            table.feature_fields_table(border="0", cellspacing="0", cellpadding="0")
                thead
                    each field_value, field_key in params.fields
                        tr                    
                            th
                                !=field_value
            //- Valores de campos por versiones
            .u_table_values_content        
                .u_flex_content
                    each version in params.versions
                        table.feature_value_table(border="0", cellspacing="0", cellpadding="0")
                            tbody
                                each field_value, field_key in params.fields
                                    tr
                                        th
                                            if version[field_key]
                                                i.icon.icon_check.u_icon_check
                                            else
                                              span.u_no_property -                                            

