include all.jade


mixin feature_table(params)
    .feature_body
        table.feature_table(border="0", cellspacing="0", cellpadding="0")
            tbody
                each field_value, field_key in params
                    tr
                        th.field_header
                            !=field_key
                        th
                            !=field_value




