footer
    .bar_diagonal
    .center_box
        .left_footer
            .footer_nav_principal
                .logo_footer
                //-ul
                    li.title Acerca de neoauto
                    //-li
                        a.track(href="#", title="Quienes Somos", data-track="quienes somos") Quienes Somos
                    //-li
                        a.track(href="#", title="Tarifario", data-track="tarifario") Tarifario
                    //-li
                        a.track(href="#", title="Mapa de sitio", data-track="mapa de sitio") Mapa de sitio
                ul
                    li.title Acerca de NeoAuto
                    li
                        a.track(href!="<?php echo $this->baseUrl(); ?>/mapa-de-sitio", title="Mapa de sitio", data-track="mapa de sitio") Mapa de sitio
                    li
                        a.track(href="http://centraldeayuda.neoauto.com/entries/20847921", title="Términos y condiciones", target="_blank", data-track="terminos y condiciones") Términos y condiciones
                ul
                    li
                        a.track(href="http://centraldeayuda.neoauto.com/entries/20871113-Pol%C3%ADticas-de-Publicaci%C3%B3n", title="Políticas de publicación", target="_blank", data-track="politicas de publicacion") Políticas de publicación
                    li
                        a.track(href="http://centraldeayuda.neoauto.com/entries/20861277", title="Políticas de privacidad", target="_blank", data-track="politicas de privacidad") Políticas de privacidad                    
            .footer_brands
                ul
                    li.title Marcas
                    <?php foreach($this->marcasFooter as $marca): ?>
                    li
                        a.track(href!="#{page.url.search}<?php echo $marca['slugMarca'] ?>", title!="<?php echo $marca['nombreMarca'] ?>", data-track!="<?php echo $marca['nombreMarca'] ?>") <?php echo $marca['nombreMarca'] ?>
                    <?php endforeach ?>
                    li
                        a(href!="#{page.url.search}autos", title="Ver todos") Ver todos
            .footer_models
                ul
                    li.title Modelos    
                    <?php foreach($this->modelosFooter as $modelo): ?>
                    li
                        a.track(href!="#{page.url.search}<?php echo $modelo['slugModeloSearch'] ?>", title!="<?php echo $modelo['nombreModelo'] ?>", data-track!="<?php echo $modelo['nombreModelo'] ?>") <?php echo $modelo['nombreModelo'] ?>
                    <?php endforeach ?>
                    li
                        a(href!="#{page.url.search}autos", title="Ver todos") Ver todos
        .rigth_footer
            .central_help
                img(src!="#{page.url.image}" + "all/icon_woman_call.png")
                ul
                    li.title CENTRAL DE AYUDA
                    li
                        a.track(href="http://centraldeayuda.neoauto.com/categories/20028436-Preguntas-Frecuentes", title="Preguntas Frecuentes", target="_blank", data-track="preguntas_frecuentes") Preguntas Frecuentes
                    li
                        a.track(href="http://centraldeayuda.neoauto.com/home", title="Ayuda en Línea", target="_blank", data-track="ayuda_en_linea") Ayuda en Línea
            .sold_instantly
                div.title FONOVENTAS:
                div.method_sell
                    span.number 311-6707
                    span.option Opción
                        span.number_option 2
            .box_call_free

                <?php $track_call = ($this->auth && !empty($this->auth->telefonoUno)) ? $this->auth->IdUsuarioAnunciante."_".$this->auth->telefonoUno : "no_telefono"; ?>
                a.track.btn(href="http://c2c.ipb.pe/c2c_elcomercio/c2cmail.php?visitanro=10&banner=53", title="click aqui para llamar", target="_blank", data-track!="<?=$track_call;?>") ¡Solicita una llamada Gratis!
            .social_networks.footer
                +add_social_networks()
                //- p
                //-     a(href="#") Ver versión desktop
    .payment_methods
        .center_box
            span Compras 100% seguras con:
            a.payment.pe(href="https://pagoefectivo.pe/", title="Pago efectivo", target="_blank")
            a.payment.visa(href="http://www.visanet.com.pe/", title="Visa", target="_blank")
            a.payment.mastercard(href="http://www.mastercard.com/pe/gateway.html", title="Mastercard", target="_blank")
            a.payment.verified_visa(href="http://www.companiaperuanademediosdepago.pe/visa.htm", title="Verified by Visa", class="show-popup" target="_blank")
            a.payment.mastercard_securecode(href="http://www.mastercard.com/us/personal/es/servicios/codigodeseguridad/", title="MasterCard secureCode", target="_blank")
            a.payment.afiliate_visa(href="http://www.visanet.com.pe/promovbv/bancos.html", title="Afiliate a verified by Visa", target="_blank")
            span.visa_authorized Autorizado por Visa para realizar transacciones electrónicas
    .footer_links
        .center_box
            .powered
                p © 2015 NeoAuto
            span.terms_neoauto.grid_10
                a(href="http://centraldeayuda.neoauto.com/entries/20847921", title="Términos de uso", target="_blank") Términos de uso
                abbr |
                a(href="http://centraldeayuda.neoauto.com/entries/20861277", title="Políticas de privacidad", target="_blank") Políticas de privacidad
                abbr |
                a(href="http://gec.pe/LibroReclamaciones/reclamo/p/neoauto.com", title="Libro de reclamaciones", target="_blank") Libro de reclamaciones 
                span.icon_book_claims
