header
    block header_top
        section.header_top
            .center_box
                a.iso_type(href!="#{page.url.base}/")
                    .hack_center_vertical
                    img(src!="#{page.url.image}isotipo.png")
                ul.link_externals
                    li
                        a.track(href!="#{page.url.blog}", title="ir al blog", target="_blank", data-track="blog") Blog
                    //- li 
                    //-     a.track(href!="#{page.url.base}", data-track="ferias") Ferias
                    //- li 
                    //-     a.track(href!="#{page.url.base}", data-track="club neoauto") Club NeoAuto
                .links_right
                    a#btnPublishAd.btn_publish(href!="#{page.url.base}/anunciante/publicacion", data-title_mobile="Publica tu Aviso") Vende tu Vehículo
                        i.icon.icon_notice
                    ul.account
                        <?php if($this->auth): ?>
                        li.name_user <?php echo $this->auth->NombreUsuario ?>
                        li.separator.gray |
                        li.profile
                            a(href!="#{page.url.base}/cuenta/my-account") Mi perfil
                        li.separator.gray |
                        li.profile
                            a(href!="#{page.url.base}/cuenta/logout") Salir
                        <?php else: ?>
                        li.register_link
                            a.track(href!="#{page.url.base}/cuenta/registro", data-track="registrate") Regístrate
                        li.text o
                        li.login_link
                            a.fancybox(href="#" data-content-ajax="#tplLogin") Ingresa
                            //-a.track(href!="#{page.url.base}/cuenta/login", data-track="ingresa") Ingresa
                        <?php endif ?>
    section.header_box
        .center_box
            .grid_2
                a.logo(href!="#{page.url.base}/", title="Neoauto.com")
                    h1(class="") Tu auto está aquí
                    img.logo_neoauto(src!="#{page.url.image}neoauto-fiestas-patrias.png",alt="Neoauto.com",data-svg!="#{page.url.image}neoauto-fiestas-patrias.svg")
            .grid_10
                block search
                    .content_search
                        form#formSearchTop.frm_search(method="post" action!="#{page.url.base}/busqueda-autos/")
                            input(type="hidden" name="token" value!="<?php echo md5(time());?>")
                            input(type="search" name="keyword" class="quickSearch" placeholder="Buscar por marca o modelo")
                            button.search(type="submit")
                                i(class="icon icon_search")
                            img.loader_icon(src!="#{page.url.image}loader.gif")
                            .popup_search.append_autocomplete
                block menus
                    ul.links_menu
                        li
                            a.track.btn.btn_diagonal(href!="#{page.url.base}/0km", data-track="autos nuevos") Autos Nuevos
                        li
                            a.track.btn.btn_diagonal(href!="#{page.url.base}/autos/usados", data-track="autos usados") Autos Usados
                        li
                            a.track.btn.btn_diagonal(href!="#{page.url.base}/motos", data-track="motos") Motos
                        li
                            a.openMenuServices.btn.btn_diagonal Servicios
                                i.icon.icon_arrow_down
                            ul.submenu
                                //-li
                                    a.track(href="#comparador_prestamo", data-track="servicios_prestamos") Comparador de prestamos
                                        i.icon.icon_dollar
                                li
                                    a.track(href!="#{page.url.base}/tarifador", data-track="tarifador de vehiculos") Tarifador de vehículos
                                        i.icon.icon_rumble_question
                                //-li 
                                    a.track(href="http://neoauto-listaprecios.peruquiosco.pe/m/a", target="_blank", data-track="listado de precio de autos nuevos") Listado de precios
                                        i.icon.icon_car
                                li
                                    a.track(href!="#{page.url.base}/alerta/mialerta/registro", data-track="alerta de avisos") Alerta de avisos
                                        i.icon.icon_plane
                                li
                                    a.track(href!="#{page.url.base}/comparador", data-track="comparador de vehiculos 0km") Comparador de vehículos 0KM
                                        i.icon.icon_circles
                                //-li
                                    a.track(href="#certificaciones", data-track="servicios_certificaciones") Certificaciones
                                        i.icon.icon_submenu_ribbon
    section.header_mobile
        a.logo(href!="#{page.url.base}/", title="Neoauto.com")
            img.logo_neoauto.fiestas(src!="#{page.url.image}neoauto-fiestas-patrias.png")
        .menu
            <?php if($this->auth): ?>
            a(href!="#{page.url.base}/cuenta/my-account").icon.icon_user
            <?php else: ?>
            a.fancybox(href="#" data-content-ajax="#tplLogin").icon.icon_user
            <?php endif; ?>
            a(href="#nav_menu").icon.icon_nav_menu
    block banner_home

nav.menu_mobile