.features_nuevo
    max-width 644px
    margin 30px auto 0
    position relative
    
    
    &.is_loading
        .loading_content    
            position absolute
            top 20%        
            left 50%
            margin-left -40px
            display block
            height 80px
            width 89px 
            z-index 10
            
            small
                font-size 16px
                color $gray_neo
                display block
                text-align center
                color #555
                font-family $familyEvogriaItalic
                font-weight 100
        
            .loading_gif
                display block
                margin 0 auto  10px    

        .features_nuevo_content
            opacity .2
    
    .features_nuevo_content
        position relative
        z-index  2
        
    .loading_content
        display none

        .loading_gif
            width 60px
            height 60px
            background url($imgPath+'loading.gif') center center no-repeat   
            background-size  60px 60px
       
    
    .features_more_versions
        color $orange_01
        text-align right
        margin 0 0 15px 0
        display none
        
        p
            display inline-block
            font-family $familyHelvetica
            font-size 15px
            position relative
            text-align left
            width 142px

            &:hover
                cursor pointer
                
                .icon
                    right -4px

            span
                text-decoration underline
                display inline-block
                font-weight 700
            
            .icon
                bottom 0
                color $orange_01
                display inline-block
                font-size 35px
                position absolute
                right 0
                transition right .2s ease-in
                bottom -10px
    
    .features_header
        margin  0 0 15px

    .feature
        margin 0 0 15px 0

    .feature_header
        header_section_with_bg_gray()        

        .header_section_title
            font-size 19px
    
    .feature_body
        .feature_fields_table
        .u-flex-content
            float left
        
        .feature_fields_table
            border-spacing 1px
            border-collapse separate
            width 23.6%
            max-width 151px
            
            +mobile()
                width 50%
                max-width 50%
                     
            th
                background #d8d6d6
                font-family $familyHelvetica
                font-size 13px
                font-weight 600
                height 43px
                padding 0 10px
                
                +mobile()
                    font-size 12px
                    text-align  center
        

        
        .u_table_values_content            
            overflow hidden
            width 76.4%
            max-width 486px
            
            +mobile()
                width  50%
                max-width 50%
        
        .u_flex_content
            width 99999px
            overflow hidden
            position relative
            left 0
            transition .3s left ease-out

        .feature_value_table            
            float left
            border-spacing 1px
            border-collapse separate
            width 33.33%
            max-width 162px
            
            tr                    
                
                th  
                    padding 0 10px
                    text-align center
                    font-size 13px
                    font-weight 100
                    background #f1efef
                    height 43px
        


    .feature.feature--table_with_checks
        .u_icon_check
            font-size 43px
            color $orange_01
        
        .u_no_property
            color #403e3e
            font-family $familyEvogriaItalic
            font-size 16px