.breadcrumbs
	width 100%
	float left
	ol
		list-style none
		margin 0
		padding 0
		height 35px
		line-height 37px
		+mobile()
			display none
	a,
	.icon,
	span
		float left
		font-size 13px
	a
		span
			color $azul_search !important
	.icon
		width 30px
		height 100%
		text-align center
		line-height 37px
		font-size 12px
	span
		color #555