.header_mobile
	width 100%
	height 50px
	padding-top 5px
	box-shadow 0px 3px 4px 0px rgba(20, 20, 20, 0.35)
	position relative
	z-index 10
	display none
	background white
	+mobile()
		display block
	.logo
		float left
		width 182px
		height 50px
		margin-left 8px
		margin-top -2px
		overflow hidden
		svg,
		img
			width 180px
		.logo_neoauto
			margin-top 3px
	.menu
		float right
		width 90px
		height 40px
		margin-top 10px
		a
			font-size 32px
			float left
			margin-left 7px
			color $gray_light
			&.icon_nav_menu
				margin-left 10px
			&.icon_nav_menu,
			&.icon_user
				&.active						
					color $orange_03
				
					
.menu_mobile
	position relative
	display none
	height 100%
	width 100%
	+tablet()
		display none !important
	+desktop()
		display none !important
	&.mclose
		display none
	&.mopen
		display block
	ul
		width 100%
		background-color #F2F2F2
	li
		width 100%
		min-height 30px
		height auto
		border-bottom 1px solid #ccc
		display block
		a
			color #111
			padding 5px 10px
			width 94%
			line-height 36px
			display inline-block
			font-size 18px
			overflow hidden
			text-overflow ellipsis
			white-space nowrap
			>.icon_arrow_down,
			>.icon_notice
				+mobile()
					display none
	.submenu
		width 100%
		background #A2A0A1
		li
			background #A2A0A1
			border 0
			a
				submenu_style()
				width 90%
				padding-left 50px
				overflow hidden
				text-overflow ellipsis
				white-space nowrap
				>.icon
					font-size 24px
					top 12px