//Hacer un propio layout de neoauto

html
	font-size $basefont
	//+tablet()
	//	font-size $tabletfont
	//+mobile()
	//	font-size $mobilefont
	overflow-x hidden		
body
	-webkit-text-size-adjust 100%
	background white
	font-family $familyDefault
	left 0
	margin 0
	padding 0
	position relative
	transition all 0.3s ease
	overflow-x hidden
hr
	margin 1.5em 0
	text-align center
	border none
	//border-bottom 1px solid $grey20
	&.medium
		//border-bottom 2px solid $grey20
	&.dashed
		//border 1px dashed $grey70
	&.special
		border none
		//border-top 2px solid $grey10
		height 1px
		&:after
			background #fff
			//color $grey10
			content "o"
			font-size 16px
			padding 0 0.25em
			position relative
			top -13px
		+mobile()
			display block

aside
	> div
		margin 10px 0 0
		&:first-child
			margin-top 0
ul
	margin 0
	padding 0
	list-style none


h2
	font_em(30px)
h3
	font_em(17px)
	margin 0 0 20px 0
h4
	margin 0 0 10px 0
h5
	margin 0 0 15px 0

a
	text-decoration none
	color $blue
	outline 0		
	&:hover
	&:active
	&:focus
		outline none

.center_box
	position relative
	center($wrapperRupture)
	width 96.5%	
	padding 0
	
.middle
	display inline-block
	vertical-align middle
	font-size 0

.row
	cf()
	
.checkbox
	position relative
	> *
		display inline-block
		vertical-align top
	> input[type = checkbox]
		width 20px
		margin 3px 10px 0 0
	> span
		width 300px
		font-size rem(13px)

.content
	min-height 400px