.login_social_networks
	text-align center
	height 42px
	a
		font-size 45px
		color white
		width 64px
		height 42px
		text-align center
		border-radius 5px
		display inline-block
		margin 0 4px
		&.icon_facebook
			background #0b54a0
		&.icon_google_plus
			background #e4490b
		&.icon_twitter
			background #01caf0