.frm_search
	width 245px
	padding 0
	height 37px
	padding-top 2px
	margin 0px
	border 1px solid $gray_ab
	border-radius 5px
	background-color white
	position relative
	float right
	+tablet()
		border-width 2px
	input
		border 0
		font-size 14px
		padding 8px 0px 5px 13px
		line-height 22px
		color $gray_4c
		background-color transparent
		width 190px
		&:focus
			outline 0
		+mobile()
			width 75%
	.search
		float right
		width 36px
		height 34px
		padding 0
		background white
		border 0
		margin-top 2px
		border-radius 4px
		&:focus
			outline 0
		i
			color $gray_ab
			font-size 26px
		&:hover
			i
				color #666
		+mobile()
			background-color $orange_03
			width 20%
			height 44px
			border-radius 4px
			margin-top -3px
			margin-right -1px
			>i
				color white
	.loader_icon
		float right
		display none
		margin 5px 10px 0 0
		height 25px
	.popup_search
		position absolute
		left 0
		right 0
		top 39.7px
		z-index 999
		width 100%!important
		ul
			left -1px!important
			top 0!important			
			background white
			width 100%!important
			box-shadow 0 4px 4px 2px rgba(0,0,0,0.3)
			border 0
			border-left 1px solid #ababab
			border-right 1px solid #ababab
			border-bottom 1px solid #ababab
		li
			width 92%
			padding 10px 4%
			display block
			margin 0
			border 0
			border-bottom 1px solid #eee			
			color #333
			display inherit
			font-size 15px
			text-transform capitalize
			strong
				color #222
				font-weight bold
			&:hover
			&.ui-state-focus
				background #eee
				color #333
				border-color #eee
				font-weight normal
		&.open
			display block
				