.login_your_account
	display block
	width 440px
	box-sizing border-box
	+mobile()
		display block
		width auto
		min-width 210px
#box_login
	display block
	padding 10px
	+mobile()
		// display none
		padding-top 30px
	.login_social_networks
		a
			display none
	h5,
	legend 
		font-family $familyEvogriaItalic
		font-size 18px
		font-weight normal
		color black
	.title_form
		border 0px
		border-top 2px solid #c9c9c9
		text-align center
		margin-top 16px
		legend
			padding 0 7px
	fieldset
		border none
		padding 0
		margin 0		
		margin-top 25px
		&:last-child
			text-align right		
		+mobile()
			margin-top 10px
			.border_gray
				border-bottom 2px #c9c9c9 solid
				border-left 2px #c9c9c9 solid
				border-radius 4px
				-webkit-border-radius 0px
				-moz-border-radius 4px
				border-right 1px #fff solid
				border-top 2px #fff solid
	.message
		padding 0 9px
		font-size 13px
		color red
	.set_password
		width 60%
		display inline-block
		+mobile()
			width 100%
	.set_checkbox
		width 36%
		display inline-block
		vertical-align top
		padding 62px 0 0 24px
		margin 0
		height 91px
		box-sizing border-box
		+mobile()
			width 35px
			position absolute
			height 35px
			right 10px
			bottom 45.7%
			padding 0
		label			
			color #1c1c1c
			font-size 14px
			letter-spacing -0.2px
		input[type=checkbox]
		label
			+mobile()
				display none
		.icon
			display none
			+mobile()
				display block
				font-size 40px
				color #ccc
				cursor pointer
				&:hover
					color #c1c1c1
	label
		font-size 15px
		margin-bottom 5px
		display inline-block
		i
			color #f60909
	.txt_login
		height 39px
		width 92%
		line-height 35px
		padding 0 4%
	.set_button
		+mobile()
			text-align center !important
	button[type="submit"]
		background $orange_01
		font-size 18px
		border-radius 3px 0 0 3px
		padding 0 16px
		height 39px
		margin 15px 18px
		&:before,
		&:after
			background $orange_01
		&:before
			border-radius 3px 0 0 3px
		&:after	
			border-radius 0 3px 3px 0
	p
		font-size 14px
		line-height 22px	
		a
			color $orange_01		
	.foot
		text-align right
		+mobile()
			text-align center