.title_widget
	display block
	border-bottom 2px #000 solid
	margin-bottom 17px
	
ul.widget_cars
	width 100%
	float left
	min-height 260px
	li
		margin 4px
		float left
		background rgba(0,0,0,0.1)
		position relative
		min-height 180px
		list-style none
		text-align left
		+desktop()
			max-width 300px
			height 250px
			margin 5px 10px
		+tablet()
			height 200px
		+mobile()				
			margin 5px 0
			height 90px
			min-height 90px
			max-height 90px
			background white
		+between(420px, 680px)
			height 110px!important
			max-height 110px !important
			.mask
				height 30px
			.box_content
				height 27px
		&:hover
			.mask_hover			
				opacity .8
				+tablet()
					opacity 0
				+mobile()
					opacity 0
			.mask_hover_box
				opacity 1
		a
			position relative
			display inline-block
			width 100%
			height 100%
			overflow hidden
			color white
			box-shadow -1px 1px 6px #B5B5B5
			figure
				width 100%					
				height 100%
				overflow hidden
				text-align center
				// background-color $gray_de
				background-color #F6F6F6
				+mobile()
					text-align left
					margin-left 3.2%
					width 108px
				figcaption
					visibility hidden				
			img				
				max-height 100%
				max-width 100%
				vertical-align middle
				/*+mobile()
					width 99%
					height 100%
					min-height 100px*/
		.mask
			background black
			opacity .8
			position absolute
			height 55px
			left 0
			right 0
			bottom 0
			color white
			padding 8px
			font-size 14px
			text-shadow 0 1px 1px black
			+tablet()
				height 45px
			+mobile()
				height 87%
				left 40%
				background white
				opacity 1
		.mask_hover
			background-color #333
			position absolute
			left 0
			right 0
			bottom 0
			top 0
			color white
			z-index 2
			opacity 0
			transition .3s ease
		.mask_hover_box
			height 50px
			width 100%
			text-align center
			position absolute
			top 40%
			z-index 2
			font-family $familyEvogriaItalic
			font-size 20px
			opacity 0
			transition .3s ease
			+tablet()
				top 0
				bottom 0
				right 0
				left 0
				height 100%
				opacity 1 !important
			+mobile()
				top 0
				bottom 0
				right 0
				left 0
				height 100%
				opacity 1 !important
			p
				display inline-block
				width 92%
				height 25px
				margin 0
				overflow hidden
				white-space nowrap
				text-overflow ellipsis
				padding 0 4%
				+tablet()
					display none
				+mobile()
					display none
		.link
			//padding 2px 10px 0px 10px
			background-color $orange_03
			border-radius 8px
			box-sizing border-box
			color black
			display block
			font-size 13px
			height 22px
			line-height 19px
			margin 0 auto
			margin-top -5px
			width 60px
			span
				font-size 16px
				display inline-block
				margin-top 3px
				vertical-align middle
			+tablet()
				position absolute
				right 10px
				bottom 5px
				background-color white
				color #111
			+mobile()
				position absolute
				right 10px
				bottom 5px
				padding-top 5px
				padding-bottom 2px
				border-radius 6px
				line-height 9px
				background-color $gray_neo
				color white
		.box_content
			position absolute
			bottom 0
			width 94%
			height 55px
			padding 3%
			z-index 2
			left 0
			+tablet()
				height 45px
			+mobile()
				right 0
				height auto
				width 58%
				left 120px
				top 0
				color #222
			+between(300px, 420px)
				left 125px
			.grid
				margin-top 3px
				display inline-block
				+mobile()
					width 100%
					font-size 15px
			p
				margin 0
				font-size 14px
				+tablet()
					font-size 12px
				text-transform capitalize
				&:first-child
					+mobile()
						font-size 16px
			strong
				color $orange_03
				width 100%
				display inline-block
				font-size 18px
				+mobile()
					font-size 22px
					text-align left
					bottom -2px
					position relative
				+tablet()
					font-size 16px
				+between(420px, 665px)
					font-size 22px!important

ul[data-view="4"]
	li		
		width 23.2%
		max-height 186px
		margin 1% .9%
		+tablet()
			height inherit !important		
		.box_content
			height 35px
			.grid
				margin-top 2px
		.mask
			height 31px		
		+mobile()
			width 98.2%
			
ul[data-view="3"]
	li
		width 32%
		max-height 250px
		max-width 300px
		+mobile()
			width 100%
			max-width 100%	
		+between(900px, 1005px)
			width 30.9%
